{{extend 'template.html'}}
<div class="row-fluid">
    <div class="well span12">
    <h1>{{=T(actual_period.period.name)}} - {{=actual_period.yearp}}</h1>
        <a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
        <a href="{{=URL('admin', \
        'active_teachers/notifyall')}}"class="btn btn-info" >
            {{=T('Notify All')}}
        </a>
        <a href="{{=URL('admin', \
        'active_teachers/notifypending')}}"class="btn btn-success" >
            {{=T('Notify Pending')}}
        </a>
        <a class="btn btn-success pull-right"
           onclick="tableToExcel('active-teachers','');">
            <i class="icon-download icon-white"></i>
            {{=T('Excel (XLS)')}}
        </a>
    <table id="active-teachers" class="table-striped table-hover table-bordered" style="align:0 auto;">
    <tr> 
      <td>
      <form class="form-inline" 
      action="{{=URL('admin','active_teachers')}}" 
        method='get'>
         <select name="period">
            {{for period in periods:}}
              <option value="{{=period.id}}">
              {{=T(period.period.name)}} - {{=period.yearp}}
              </option>
            {{pass}}
        </select>
        <input class="btn" type="submit" value="{{=T('Filter')}}">
      </form>
      </td>
    </tr>
    </table>
    <table id="active-teachers" class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>{{=T('Count')}}</td>
            <td>{{=T('Actions')}}</td>
            <td>{{=T('Name')}}</td>
            <td>{{=T('Last name')}}</td>
            <td>{{=T('User code')}}</td>
            <td>{{=T('Email')}}</td>
            <td>{{=T('Phone')}}</td>
            <td>{{=T('Status')}}</td>
            <td>{{=T('Project')}}</td>
            <td>{{=T('Area')}}</td>
            <td>{{=T('Notify')}}</td>
        </tr>
    </thead>
    {{count = 0}}
    {{for assignation in assignations:}}
    {{count += 1}}
    <tbody>
        <tr>
            <td>{{=count}}</td>
            <td>
            {{if assignation.assigned_user.registration_key != 'blocked':}}
                <a href="
                    {{=URL('admin', 'active_teachers/toggle', \
                    vars=dict(user=assignation.assigned_user.id, \
                    period=actual_period.id))}}" 
                class="btn btn-info">{{=T('Disable')}}</a>
            {{else:}}
                <a href="
                    {{=URL('admin', 'active_teachers/toggle', \
                    vars=dict(user=assignation.assigned_user.id, \
                    period=actual_period.id))}}" 
                class="btn btn-important">{{=T('Enable')}}</a>
            {{pass}}
            </td>
            <td>
                {{=assignation.assigned_user.first_name}} 
            </td>
            <td>
                {{=assignation.assigned_user.last_name}} 
            </td>
            <td>
                {{=assignation.assigned_user.username}}
            </td>
            <td>
                {{=assignation.assigned_user.email or T('Pending')}}
            </td>
            <td>
                {{=assignation.assigned_user.phone or T('Pending')}}
            </td>
            <td>
                {{if assignation.assigned_user.registration_key != 'blocked':}}
                    <span class="badge badge-success">
                    {{=T('Enabled')}}
                    </span>
                {{else:}}
                <span class="badge badge-important">
                    {{=T('Disabled')}}
                </span>
                {{pass}}
            </td>
            <td>
                {{=assignation.project.name}} 
            </td>
            <td>
                {{=assignation.project.area_level.name}} 
            </td>
            <td>
                {{ user_id = assignation.assigned_user.id}}
                {{if assignation.assigned_user.load_alerted==True:}}
                    <a class="btn btn-success"
                    href="{{=URL('admin', \
                    'active_teachers/mail', \
                    vars=dict(user=user_id))}}">
                    {{=T('Re-notify')}}
                    </a>
                {{else:}}
                    <a class="btn btn-inverse"
                    href="{{=URL('admin', \
                    'active_teachers/mail', \
                    vars=dict(user=user_id))}}">
                    {{=T('Notify')}}
                    </a>
                {{pass}}
            </td>
        </tr>
    </tbody>
    {{pass}}
    </table>
    </div>
</div>
