{{extend 'template.html'}}
<h1>{{=T('Anomalies')}}</h1>
<div class="row-fluid">
    <div class="well span12">
    	<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
        <a class="btn btn-success pull-right"
           onclick="tableToExcel('anomaly-show','');">
            <i class="icon-download icon-white"></i>
            {{=T('Excel (XLS)')}}
        </a>
    	<table id="anomaly-show" class="table table-bordered ">
    		<thead>
    			<tr>
    				<th width="120px">
    					{{=T('Date')}}
    				</th>
    				<th>
    					{{=T('Description')}}
    				</th>
    			</tr>
    		</thead>
    		<tbody>
    			{{for anomaly in anomalies:}}
    			<tr>
    				<td>{{=anomaly.log_entry.entry_date}}</td>
    				<td>
    					<div>
    						<table class="table-striped">
    							<tr>
    								<td>{{=T('Student')}}:</td>
    								<td>
    									{{=anomaly.user_project.assigned_user.first_name}}
	    								{{=anomaly.user_project.assigned_user.last_name}}
	    							</td>
    							</tr>
    							<tr>
    								<td>{{=T('Section')}}:</td>
    								<td>
    									{{=anomaly.user_project.project.name}}	
	    							</td>
    							</tr>
    							<tr>
    								<td>{{=T('Description')}}:</td>
    								<td>
    									{{=anomaly.log_entry.description}}	
	    							</td>
    							</tr>
    						</table>
    					</div>
    				</td>
    			</tr>
    			{{pass}}
    		</tbody>
    	</table>
    </div>
</div>
