{{extend 'template.html'}}
<h1>{{=T('Items management')}}</h1>
<div class="row-fluid">
    <div class="well span12">
        <a onclick="window.history.back()" class="btn" >
            <i class="icon-arrow-left"></i>{{=T('Back')}}</a>
        <table class="table table-striped table-bordered">
        {{for period in periods:}}
        <tr>
            <td>{{=T(period.period.name)}} {{=period.yearp}}</td>
            <td><a class="btn" 
                href="{{=URL('admin', 'delivered_download/type', \
                vars=dict(period=period.id))}}">
                <i class="icon-eye-open"></i>
                {{=T('View')}}
                </a></td>
        </tr>
        {{pass}}
        </table>
    </div>
</div>