{{extend 'template.html'}}
<h1>{{=T('Items management')}} ({{=context_string}})</h1>
<div class="row-fluid">
    <div class="well span12">
        <p>
            <div id="alertmessage">
                
            </div>
        </p>
        <p>
            <form class="form-inline">
              <a class="btn" onclick="window.history.back()">
              <i class="icon-arrow-left"></i>
              {{=T('Back')}}
              </a>
              <label for="school_id">{{=T('School id')}}</label>
              <input class="input-medium search-query" id="school_id" 
                name="school_id" placeholder="{{=T('School id')}}" type="text" >
              <a class="btn" href="">{{=T('Search')}}</a>
              <input type="hidden" name="area" value="{{=area}}" >
              <input type="hidden" name="period" value="{{=period}}" >
                <a class="btn btn-success pull-right"
           onclick="tableToExcel('items-grid','');">
            <i class="icon-download icon-white"></i>
            {{=T('Excel (XLS)')}}
        </a>
            </form>
        </p>
        <table id="items-grid" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        {{=T('Created')}}
                    </th>
                    <th>
                        {{=T('Item Type')}}
                    </th>
                    <th>
                        {{=T('Item Name')}}
                    </th>
                    <th>
                        {{=T('Admin comment')}}
                    </th>
                    <th>
                        {{=T('Is Active')}}
                    </th>
                    <th>
                        {{=T('Uploaded File')}}
                    </th>
                    <th>
                        {{=T('School Id')}}
                    </th>
                    <th>
                        {{=T('User')}}
                    </th>
                    <th>
                        {{=T('Project')}}
                    </th>
                    <th>
                        {{=T('Done Activity')}}
                    </th>
                    <th>
                        {{=T('Actions')}}
                    </th>
                </tr>
            </thead>
            <tbody>
            {{for item in items:}}
            <tr>
                <td>
                    {{=T(item.created.period.name)}}
                    {{=item.created.yearp}}
                </td>
                <td>
                    {{=T(item.item_restriction.item_type.name)}}
                </td>
                <td>
                    {{=T(item.item_restriction.name)}}
                </td>
                <td>
                    <input type="text" class="span12" 
                    id="comment-{{=item.id}}" 
                    value="{{=item.admin_comment or ''}}">
                </td>
                <td>
                    {{if item.is_active:}}
                        <a href="" content="{{=item.id}}" class="btn btn-success active-toggle">{{=T('Active')}}</a>
                    {{else:}}
                        <a href="" content="{{=item.id}}" class="btn btn-danger active-toggle">{{=T('No Active')}}</a>
                    {{pass}}
                </td>
                <td>
                {{if item.item_restriction.item_type.name != 'File':}}
                    N/A
                {{else:}}
                    <a class="btn" href="{{=URL('cpfecys/admin', \
                         'download',item.uploaded_file)}}">
                        <span class="icon-eye-open"></span>
                            {{=T('View Item')}}
                    </a>
                {{pass}}
                </td>
                <td>
                    {{if area != None:}}
                    <a href="{{=URL(vars=dict(area=area, period=period,
                    school_id=item.assignation.assigned_user.username))}}">
                    {{else:}}
                    <a href="{{=URL(vars=dict(period=period,
                    school_id=item.assignation.assigned_user.username))}}">
                    {{pass}}
                        {{=item.assignation.assigned_user.username}}
                    </a>
                </td>
                <td>
                    {{=item.assignation.assigned_user.first_name}}
                    {{=item.assignation.assigned_user.last_name}}
                </td>
                <td>
                    {{=item.assignation.project.area_level.name}}
                    -
                    {{=item.assignation.project.name}}
                </td>
                <td>
                    {{=item.done_activity}}
                </td>
                <td>
                {{type = 'inverse'}}
                {{text = T('Mail')}}
                {{if item.notified_mail:}}
                    {{type = 'info'}}
                    {{text = T('Resend')}}
                {{pass}}
                <a class="btn btn-{{=type}} send-mail" 
                    href="{{=URL('admin', 'send_item_mail', \
                    vars=dict(user=item.assignation.assigned_user.id,\
                    item=item.id))}}">
                    {{=text}}
                </a>
                    
                </td>
            </tr>
            {{pass}}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.send-mail').click(function(e){
            var message = 
                "<div class=\"alert-error\">{{=T('Mail Not sent')}}</div>";
            anchor = $(this);
            $.post(anchor.attr('href'),
            {
             //parameters 
            },
            function(data,status){
                if(status == 'success')
                {
                     message = 
                     "<div class=\"alert-success\">{{=T('Mail sent')}}</div>";
                    if(anchor.hasClass('btn-success'))
                    {
                        anchor.html("{{=T('Resend')}}")
                    }
                    else
                    {
                        anchor.toggleClass('btn-success');
                        anchor.toggleClass('btn-inverse');
                        anchor.html("{{=T('Mail')}}")
                    }
                }
                else
                {
                    
                }
            });

            $('#alertmessage').html(message);

            return false;
        });
        $('.active-toggle').click(function(){
            anchor = $(this);
             $.post("{{=URL('admin','toggle_active_item')}}",
                {
                  item:$(this).attr('content'),
                  comment:$('#comment-'+$(this).attr('content')).val(),
                },
                function(data,status){
                    if(status == 'success')
                    {
                        anchor.toggleClass('btn-success');
                        anchor.toggleClass('btn-danger');
                        if(anchor.hasClass('btn-success'))
                            anchor.html("{{=T('Active')}}")
                        else
                            anchor.html("{{=T('No Active')}}")
                    }
                    else
                    {
                        alert({{'Ha ocurrido un error'}});
                    }
                  //console.log("Data: " + data + "\nStatus: " + status);
                });
            return false;
        });
    });
</script>
