{{extend 'template.html'}}
<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
<p>{{=grid}}</p>

<script type="text/javascript">
	$(document).ready(function(){
		var year = '{{=year}}'
		var first_month = '00'
		var second_month = '05'
		var day = '01'

		$('#item_restriction_limit_days__row').append('<div id="gen_content">\
			<div class=\"label label-info\" id="start"></div>\
			<div class=\"label label-info\" id="end"></div></div>');
		$('#item_restriction_min_score__row').append(
			'<div class="label label-info">Ingrese valor entre 1 y 100</div>');
		$('#item_restriction_period__row').append(
			'<div class="label label-important">Este dato es importante\
			por favor eliga siempre el peridio en el que se esta\
			creando el entregable</div>');
		$('#start').html('<div>\
			Primer Semestre: {{=T("Insert days to calculate")}}</div>');
		$('#end').html('<div>\
			Segundo Semestre: {{=T("Insert days to calculate")}}</div>');

		$('#item_restriction_limit_days').on('keyup', function(){
			var first_date = new Date(year, first_month, day);
			var second_date = new Date(year, second_month, day);
			var new_first_date = calculate_date($(this).val(), first_date)
			var new_second_date = calculate_date($(this).val(), second_date)
			$('#start').html('<div>Primer Semestre: ' + new_first_date +'</div>');
			$('#end').html('<div>Segundo Semestre: ' + new_second_date +'</div>');
		});

		function calculate_date(days, date)
		{
			var new_date = new Date(date);
			new_date.setDate(new_date.getDate() + parseInt(days))
			new_date = new Date(new_date)
			return new_date
		}

		$('form').submit(function(){
			if($('#item_restriction_item_type option:selected'
			).text()=="Grade Activity"){
				if($('#item_restriction_min_score').val() == "")
				{
					alert("{{=T('Please insert a minimum grade')}}");
					return false;
				}
			}			
		});

		if($('#item_restriction_item_type option:selected'
			).text()=="Grade Activity"){
			is_grade();
		}
		else if($('#item_restriction_item_type option:selected'
			).text()=="Schedule")
		{
			is_schedule();
		}
		else{
			default_case();
		}

		$('#item_restriction_item_type').change(function(){
		if($('#item_restriction_item_type option:selected'
			).text()=="Grade Activity"){
			is_grade();
		}
		else if($('#item_restriction_item_type option:selected'
			).text()=="Schedule")
		{
			is_schedule();
		}
		else{
			default_case();
		}
		});

		function is_grade()
		{
			$('#item_restriction_min_score'
				).css('visibility', 'visible');
			$('#item_restriction_min_score__label'
				).css('visibility', 'visible');
			$('#item_restriction_is_unique'
			).css('visibility', 'hidden');
			$('#item_restriction_is_unique__label'
				).css('visibility', 'hidden');
		}

		function is_schedule()
		{
			$('#item_restriction_min_score'
				).css('visibility', 'hidden');
			$('#item_restriction_min_score__label'
				).css('visibility', 'hidden');
			$('#item_restriction_is_unique'
			).css('visibility', 'visible');
			$('#item_restriction_is_unique__label'
			).css('visibility', 'visible');
		}

		function default_case()
		{
			$('#item_restriction_min_score'
				).css('visibility', 'hidden');
			$('#item_restriction_min_score__label'
				).css('visibility', 'hidden');
			$('#item_restriction_is_unique'
			).css('visibility', 'hidden');
			$('#item_restriction_is_unique__label'
			).css('visibility', 'hidden');
		}
	});
</script>
