{{extend 'template.html'}}
<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
<p>{{=grid}}</p>

<script type="text/javascript">
	$(document).ready(function(){
		var second = new Date('{{=end}}');
		$('#item_restriction_limit_days__row').append('<div id="gen_content">\
			<div class=\"label label-info\" id="start"></div>\
			<div class=\"label label-info\" id="end"></div></div>');
		$('#item_restriction_min_score__row').append(
			'<div class="label label-info">Ingrese valor entre 1 y 100</div>');
		$('#start').html('<div>\
			Primer Semestre: {{=T("Insert days to calculate")}}</div>');
		$('#end').html('<div>\
			Segundo Semestre: {{=T("Insert days to calculate")}}</div>');

		if($('#item_restriction_item_type option:selected'
			).text()=="Grade Activity"){
			$('#item_restriction_min_score'
				).css('visibility', 'visible');
			$('#item_restriction_min_score__label'
				).css('visibility', 'visible');
			$('#item_restriction_is_unique'
			).css('visibility', 'hidden');
			$('#item_restriction_is_unique__label'
				).css('visibility', 'hidden');
		}
		else if($('#item_restriction_item_type option:selected'
			).text()=="Schedule")
		{
			$('#item_restriction_min_score'
				).css('visibility', 'hidden');
			$('#item_restriction_min_score__label'
				).css('visibility', 'hidden');
			$('#item_restriction_is_unique'
			).css('visibility', 'visible');
			$('#item_restriction_is_unique__label'
			).css('visibility', 'visible');
		}
		else{
			$('#item_restriction_min_score'
				).css('visibility', 'hidden');
			$('#item_restriction_min_score__label'
				).css('visibility', 'hidden');
			$('#item_restriction_is_unique'
			).css('visibility', 'hidden');
			$('#item_restriction_is_unique__label'
			).css('visibility', 'hidden');
		}

		$('#item_restriction_item_type').change(function(){
		if($('#item_restriction_item_type option:selected'
			).text()=="Grade Activity"){
			$('#item_restriction_min_score'
				).css('visibility', 'visible');
			$('#item_restriction_min_score__label'
				).css('visibility', 'visible');
			$('#item_restriction_is_unique'
			).css('visibility', 'hidden');
			$('#item_restriction_is_unique__label'
				).css('visibility', 'hidden');
		}
		else if($('#item_restriction_item_type option:selected'
			).text()=="Schedule")
		{
			$('#item_restriction_min_score'
				).css('visibility', 'hidden');
			$('#item_restriction_min_score__label'
				).css('visibility', 'hidden');
			$('#item_restriction_is_unique'
			).css('visibility', 'visible');
			$('#item_restriction_is_unique__label'
			).css('visibility', 'visible');
		}
		else{
			$('#item_restriction_min_score'
				).css('visibility', 'hidden');
			$('#item_restriction_min_score__label'
				).css('visibility', 'hidden');
			$('#item_restriction_is_unique'
			).css('visibility', 'hidden');
			$('#item_restriction_is_unique__label'
			).css('visibility', 'hidden');
		}
		});
	});
</script>
