{{extend 'template.html'}}
<h1>{{=T('Items management')}}</h1>
<div class="row-fluid">
    <div class="well span12">
    	<a onclick="window.history.back()" class="btn" >
    		<i class="icon-arrow-left"></i>{{=T('Back')}}</a>
        <a class="btn btn-success pull-right"
           onclick="tableToExcel('manage-items-areas','');">
            <i class="icon-download icon-white"></i>
            {{=T('Excel (XLS)')}}
        </a>
		<table id="manage-items-areas" class="table table-striped table-bordered">
			<tr>
				<th>
					{{=T('Area')}}
				</th>
				<th>
					{{=T('Enabled')}}
				</th>
				<th>
					{{=T('Disabled')}}
				</th>
				<th>
					{{=T('Total')}}
				</th>
				<th>
					{{=T('View')}}
				</th>
			</tr>
			<tbody>
			{{for area in areas:}}
				<tr>
					
					<td>
						{{=area.name}}
					</td>
					<td>
						{{=count_items(area.id, period, False, True).count()}}
					</td>
					<td>
						{{=count_items(area.id, period, True, False).count()}}
					</td>
					<td>
						{{=count_items(area.id, period).count()}}
					</td>
					<td>
						<a class="btn" href="{{=URL('admin', 'items_grid', \
						 vars=dict(period=period, area=area.id))}}">
						 <i class="icon-eye-open"></i> {{=T('View')}}</a>
					</td>
				</tr>
			{{pass}}
				<tr>
						<td>
							{{=T('All')}}
						</td>
						<td>
							{{=count_items(False, False, False, True).count()}}
						</td>
						<td>
							{{=count_items(False, False, True, False).count()}}
						</td>
						<td>
							{{=count_items(False, False).count()}}
						</td>
						<td>
							<a class="btn" href="{{=URL('admin', 'items_grid' ,
							vars=dict(period=period))}}">
								<i class="icon-eye-open"></i> {{=T('View')}}</a>
						</td>
					</tr>
			</tbody>
		</table>
	</div>
</div>
