{{extend 'template.html'}}
<h1>{{=T('Items management')}}</h1>
<div class="row-fluid">
    <div class="well span12">
    	<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
		<table class="table table-striped table-bordered">
			<tr>
				<th>
					{{=T('Area')}}
				</th>
				<th>
					{{=T('View')}}
				</th>
			</tr>
			<tbody>
			{{for area in areas:}}
				<tr>
					
					<td>
						{{=area.name}}
					</td>
					<td>
						<a class="btn" href="{{=URL('admin', 'manage_items/grid', \
						 vars=dict(period=period, area=area.id))}}"><i class="icon-eye-open"></i> {{=T('View')}}</a>
					</td>
				</tr>
			{{pass}}
				<tr>
						<td>
							{{=T('All')}}
						</td>
						<td>
							<a class="btn" href="{{=URL('admin', 'manage_items/grid')}}">
								<i class="icon-eye-open"></i> {{=T('View')}}</a>
						</td>
					</tr>
			</tbody>
		</table>
	</div>
</div>
