{{extend 'template.html'}}
<h1>{{=T('Items management')}}</h1>
<div class="row-fluid">
    <div class="well span12">
    	<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
        <a class="btn btn-success pull-right"
           onclick="tableToExcel('manage-items-periods','');">
            <i class="icon-download icon-white"></i>
            {{=T('Excel (XLS)')}}
        </a>
		<table id="manage-items-periods" class="table table-striped table-bordered">
			<tr>
				<th>
					{{=T('Period')}}
				</th>
				<th>
					{{=T('Year')}}
				</th>
				<th>
					{{=T('View')}}
				</th>
			</tr>
			<tbody>
			{{for period in periods:}}
				<tr>
					
					<td>
						{{=T(period.period.name)}}
					</td>
					<td>
						{{=period.yearp}}
					</td>
					<td>
						<a class="btn" href="{{=URL('admin', 'manage_items/area', \
						 vars=dict(period=period.id))}}"><i class="icon-eye-open"></i>{{=T('View')}}</a>
					</td>
				</tr>
			{{pass}}
			</tbody>
		</table>
	</div>
</div>
