{{extend 'template.html'}}
<div class="row-fluid">
    <div class="well span12" style="overflow:auto;">
        <a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i> Back</a>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        {{=T('Num')}}
                    </th>
                    <th>
                        {{=T('Project')}}
                    </th>
                    <th>
                        {{=T('Created')}}
                    </th>
                    <th>
                        {{=T('School id')}}
                    </th>
                    <th>
                        {{=T('User')}}
                    </th>
                    <th>
                        {{=T('Restriction')}}
                    </th>
                    <th>
                        {{=T('Score')}}
                    </th>
                    <th>
                        {{=T('Status')}}
                    </th>
                    <th>
                        {{=T('Report Summary')}}
                    </th>
                    <th>
                        {{=T('Started')}}
                    </th>
                    <th>
                        {{=T('Ends')}}
                    </th>
                </tr>
            </thead>
            <tbody>
            {{count = 0}}
            {{for record in status_instance:}}
            {{count += 1}}
            {{report = record.report}}
            {{hours_left = report.assignation.hours}}
            {{hours_left = hours_left - (report.hours or 0)}}
            {{hours = report.hours}}
            {{entries = \
                count_log_entries(report)[0]['COUNT(log_entry.id)']}}
            {{metrics = \
                count_metrics_report(report)[0]['COUNT(log_metrics.id)']}}
            {{anomalies = \
                count_anomalies(report)[0]['COUNT(log_entry.id)']}}
            <tr>
                <td>
                    {{=count}}
                </td>
                <td>{{=report.assignation.project.name}}</td>
                <td>{{=report.created}}</td>
                <td>{{=report.assignation.assigned_user.username}}</td>
                <td>
                    {{=report.assignation.assigned_user.first_name}}
                    {{=report.assignation.assigned_user.last_name}}
                </td>
                <td>
                    {{=report.report_restriction.name}}
                </td>
                <td>
                    {{=report.score or 0}}  
                </td>
                <td>
                    {{=T(report.status.name)}}
                </td>
                <td>
                    <b>{{=T('Activity logs')}}:</b>
                    {{=entries}}
                    <br />
                    <b>{{=T('Metric logs')}}:</b>
                    {{=metrics}}
                    <br />
                    <b>{{=T('Hours')}}:</b>
                    {{=hours or 0}}
                    <br />
                    <b>{{=T('Pending Hours')}}:</b>
                    {{=hours_left}}
                    <br />
                    <b>{{=T('Anomalies')}}:</b>
                    {{=anomalies}}
                </td>
                <td>{{=report.report_restriction.start_date}}</td>
                <td>{{=report.report_restriction.end_date}}</td>
            </tr>
            {{pass}}
            </tbody>
        </table>
    </div>
</div>
