{{extend 'template.html'}}
<div class="row-fluid">
  	<div class="well span12">
  		<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i> Back</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						{{=T('Project')}}
					</th>
					<th>
						{{=T('Created')}}
					</th>
					<th>
						{{=T('School id')}}
					</th>
					<th>
						{{=T('User')}}
					</th>
					<th>
						{{=T('Restriction')}}
					</th>
					<th>
						{{=T('Score')}}
					</th>
					<th>
						{{=T('Status')}}
					</th>
					<th>
						{{=T('Activity logs')}}
					</th>
					<th>
						{{=T('Metric logs')}}
					</th>
					<th>
						{{=T('Hours')}}
					</th>
					<th>
						{{=T('Pending Hours')}}
					</th>
					<th>
						{{=T('Anomalies')}}
					</th>
					<th>
						{{=T('Actions')}}
					</th>
				</tr>
			</thead>
			<tbody>
				{{for report in reports:}}
				{{hours_left = 400}}
				{{hours_left = hours_left - (report.hours or 0)}}
				<tr>
					<td>
						{{=report.assignation.project.name}}	
					</td>
					<td>
						{{=report.created}}	
					</td>
					<td>
						{{=report.assignation.assigned_user.username}}	
					</td>
					<td>
						{{=report.assignation.assigned_user.first_name}}
						{{=report.assignation.assigned_user.last_name}}
					</td>
					<td>
						{{=report.report_restriction.name}}	
					</td>
					<td>
						{{=report.score or 0}}	
					</td>
					<td>
						{{=T(report.status.name)}}
					</td>
					<td>
						{{=count_log_entries(report)[0]['COUNT(log_entry.id)']}}
					</td>
					<td>
						{{=count_metrics_report(report)[0]['COUNT(log_metrics.id)']}}
					</td>
					<td>
						{{=report.hours or 0}}
					</td>
					<td>
						{{=hours_left}}
					</td>
					<td>
						{{=count_anomalies(report)[0]['COUNT(log_entry.id)']}}
					</td>
					<td>
						<a class="" href="{{=URL('admin','report/view', vars=dict(report=report.id))}}">
		                <span class="icon-eye-open"></span>
		                    {{=T('Report detail')}}
		                </a>
					</td>
				</tr>
				{{pass}}	
			</tbody>
		</table>
	</div>
</div>