{{extend 'template.html'}}
<div class="row-fluid">
    <div class="well span12" style="overflow:auto;">
  		<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i> Back</a>
        <a class="btn btn-success pull-right"
           onclick="tableToExcel('report-filter-pending','');">
            <i class="icon-download icon-white"></i>
            {{=T('Excel (XLS)')}}
        </a>
		<table id="report-filter-pending" class="table table-bordered">
			<thead>
                <tr>
                    <th colspan="10"></th>
                    <th colspan="2">{{=T('Actions')}}</th>
                </tr>
				<tr>
                    <th>
                        {{=T('Num')}}
                    </th>
					<th>
						{{=T('Project')}}
					</th>
					<th>
						{{=T('Created')}}
					</th>
					<th>
						{{=T('School id')}}
					</th>
                    <th>
                        {{=T('Email')}}
                    </th>
					<th>
						{{=T('User')}}
					</th>
					<th>
						{{=T('Restriction')}}
					</th>
					<th>
						{{=T('Score')}}
					</th>
					<th>
						{{=T('Status')}}
					</th>
					<th>
                        {{=T('Report Summary')}}
					</th>
					<th>
						{{=T('Started')}}
					</th>
					<th>
						{{=T('Ends')}}
					</th>
                    <th>
                        
                    </th>
					<th>
						{{=T('Report')}}
                    </th>
				</tr>
			</thead>
			<tbody>
            {{count = 0}}
            {{for record in result:}}
            {{count += 1}}
            <tr>
                <td>
                    {{=count}}
                </td>
                <td>{{=record['assignation'].user_project.project.name}}</td>
                <td>{{=T('Pending')}}</td>
                <td>{{=record['assignation'].auth_user.username}}</td>
                <td>{{=record['assignation'].auth_user.email}}</td>
                <td>
                {{=record['assignation'].auth_user.first_name}}
                {{=record['assignation'].auth_user.last_name}}
                </td>
                <td>{{=record['restriction'].name}}</td>
                <td>{{=T('Pending')}}</td>
                <td>{{=T('Not created')}}</td>
                <td>-</td>
                <td>{{=record['restriction'].start_date}}</td>
                <td>{{=record['restriction'].end_date}}</td>
                <td></td>
                <td>
                    <a class="btn btn-info"  href="{{=URL(vars=dict(period= request.vars['period'], status = request.vars['status'], report = record['restriction'].id, assignation = record['assignation'].user_project.id))}}">
                        <span class="icon-plus"></span>{{=T('Create Report')}}
                    </a>
                </td>
            </tr>
            {{pass}}
			</tbody>
		</table>
	</div>
</div>
