{{extend 'template.html'}}
<h1>{{=T('Report list')}}</h1>
<div class="row-fluid">
      <div class="well span12">
      	<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
		<table class="table table-striped table-bordered">
            <tr>
                <th colspan="2">{{=T('Period')}}</th>
                <th>{{=T('Pending')}}</th>
                <th colspan="2">{{=T('Finished')}}</th>
                <th>{{=T('Total')}}</th>
                <th colspan="4">{{=T('Action Pending')}}</th>
                <th>{{=T('All')}}</th>
            </tr>
			<tr>
				<th>
					<span>
						{{=T('Semester')}}
					</span>
				</th>
				<th>
					<span>
						{{=T('Year')}}
					</span>
				</th>
				<th>
					<span>
						{{=T('Pending')}}
					</span>
					<i class="icon-warning-sign"></i> 
				</th>
				<th>
					<span>
						{{=T('Approved')}}
					</span>
					<i class="icon-ok"></i> 
				</th>
                <th>
					<span>
						{{=T('Reproved')}}
					</span>
					<i class="icon-remove"></i> 
				</th>
				{{for status in report_total:}}
				<th>
					<span class="tooltiped" data-content="{{=T(status.report_status.description)}}" 
					title="{{=T(status.report_status.name)}}" >
						{{=T(status.report_status.name)}}
					</span>
					<i class="{{=status.report_status.icon or 'icon-star'}}"></i> 
				</th>
				{{pass}}
				<th>
					<span>
						{{=T('All')}}
					</span>
					<i class="icon-list"></i> 
				</th>
			</tr>
			{{for pyear in period_year:}}
				<tr>
					<td>
						{{=T(pyear.period.name)}}
					</td>
					<td>
						{{=pyear.yearp}}
					</td>
					<td>
						<a href="{{=URL('admin', 'report_filter', vars=dict(period=pyear.id, \
																		 status=-3))}}"> 
						<span class="badge badge-info">{{=count_no_created(pyear)}}</span>
						{{=T('Pending')}}
					</td>
					<td>
						<a href="{{=URL('admin', 'report_filter', vars=dict(period=pyear.id, \
																		 status=-1))}}"> 
						 	<span class="badge badge-info">{{=count_approved(pyear)}}</span>
						 	<span>{{=T('Approved')}} </span>

						</a>
					</td>
                    <td>
						<a href="{{=URL('admin', 'report_filter', vars=dict(period=pyear.id, \
																		 status=-2))}}"> 
						 	<span class="badge badge-info">{{=count_reproved(pyear)}}</span>
						 	<span>{{=T('Failed')}} </span>

						</a>
					</td>
					{{count = 0}}
					{{for status in count_reports(pyear, False, 'Acceptance'):}}
					<td>
						<a href="{{=URL('admin', 'report_filter', vars=dict(period=pyear.id, \
																		 status=status.report_status.id))}}"> 
						 	<span class="badge badge-info">{{=status['COUNT(report.id)']}}</span>
						 	
						 	<span>{{=T(status.report_status.name)}} </span>

						</a>
					</td>
					{{count = count + status['COUNT(report.id)']}}
					{{pass}}
					<td>
						<a href="{{=URL('admin', 'report_filter', vars=dict(period=pyear.id))}}"> 
						 	<span class="badge badge-info">{{=count}}</span><span>{{=T('All')}}</span>
						</a>
					</td>
				</tr>
			{{pass}}	
		</table>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('.tooltiped').popover({placement:'top'});	
	})
	
</script>
