{{extend 'template.html'}}
<div class="row-fluid">
      <div class="well span12">
		<table class="table table-bordered">
			<tr>
				<th>
					{{=T('Semester')}}
				</th>
				<th>
					{{=T('Year')}}
				</th>
				{{for status in report_status:}}
				<th>
					{{=T(status.name)}}
				</th>
				{{pass}}
				<th>
					{{=T('All')}}
				</th>
			</tr>
			{{for pyear in period_year:}}
				<tr>
					<td>
						{{=T(pyear.period.name)}}
					</td>
					<td>
						{{=pyear.yearp}}
					</td>

					{{for status in report_total:}}
					<td>
						<a href="{{=URL('admin', 'reports_view', vars=dict(period=pyear.id, \
																		 status=status.report_status.id))}}"> 
						 	<i class="{{=status.report_status.icon or 'icon-star'}}"></i> {{=T(status.report_status.name)}}
						</a>
					</td>
					{{pass}}
					<td>
						<a href="{{=URL('admin', 'reports_view', vars=dict(period=pyear.id, \
																		 status='-1'))}}"> 
						 	<i class="icon-list"></i> {{=T('All')}}
						</a>
					</td>
				</tr>
			{{pass}}	
		</table>
	</div>
</div>
