{{extend 'template.html'}}
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/sets/markmin/set.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/highcharts.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/data.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/exporting.js"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/skins/markitup/style.css"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/sets/markmin/style.css"/>

<p><a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i> Back</a></p>
<div class="row-fluid">
      <div class="well span12">
        <h3>{{=T('Report Grading')}}</h3>
        <div id="grading-notification"></div>
          <form class="form-horizontal" action="{{=URL('admin', 'report/grade')}}" method="POST">
            <div class="control-group">
              <label class="control-label" for="status-drop">{{=T('Status')}}</label>
              <div class="controls">
                <select name="status" id="status-drop">
                  {{for status in status_list:}}
                    <option value="{{=status.id}}"
                    {{if status.id==report.status.id:}}selected{{pass}}>
                    {{=T(status.name)}}
                    </option>
                  {{pass}}
                </select>
              </div>
            </div>
            <div class="control-group">
              <input type="hidden" name="report" value="{{=report.id}}"/>
              <label class="control-label" for="score">{{=T('Score')}}</label>
              <div class="controls">
                <input class="span3" type="text" id="score" name="score" placeholder="{{=T('Score')}}">
                <span id="label-status" class="label">{{=T('Not graded')}}</span>
                <span class="label label-info">{{=T('Minimum value to aprove')}}: {{=parameters.min_score}}</span>
                <div id="score-error" class="alert alert-error input-xlarge" hidden>
                  {{=T('Please use only numeric values from zero to one hundred to score this report.')}}
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="comment">Comment</label>
              <div class="controls input-xxlarge">
                <textarea id="comment" name="comment" rows="3" placeholder="{{=T('Comment')}}"></textarea>
                <div id="comment-error" class="alert alert-error input-xlarge" hidden>
                  {{=T('When a report es reproved or set to be improved, a comment giving more information is needed.')}}
                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <div class="alert alert-info span8">
                  <label class="checkbox">
                    <input id="improve" name="improve" type="checkbox"> {{=T('Improve')}}
                  </label>
                  <p>{{=T('The Improve option allows the student to do a review of their report, \
                   if you want to use this feature you\'ll have to add a comment, so the student \
                   can know what to improve, the student will have a certain time to improve and  \
                   resend their report, you\'ll be notified via email when this happend.')}}
                    <h3>
                      {{=T('Previous grading information')}}:
                    </h3>
                    <p>
                      <table class="table">
                        <tr>
                          <td>
                            {{=T('Score')}}
                          </td>
                          <td>
                            {{=report.score or 0}}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            {{=T('Comment')}}
                          </td>
                          <td>
                            {{=report.teacher_comment or T('No comment')}}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            {{=T('Score date')}}
                          </td>
                          <td>
                            {{=report.score_date}}
                          </td>
                        </tr>
                      </table>
                    </p>
                 </p>

                </div>
                 
              </div>
            </div>
            
            <div class="control-group">
              <div class="controls">
                <button type="submit" id="submit-grading" class="btn">{{=T('Grade report')}}</button>
              </div>
            </div>
          </form>
      </div>
</div>

<script type="text/javascript">

  $('#score').keyup(function(){

    value = parseInt($('#score').val());
    if(isNaN(value) || value < 0 || value > 100)
    {
      $('#label-status').attr('class', 'label label');
      $('#label-status').html('No calificado');
      $('#score-error').hide('slow');
      $('#comment-error').hide('slow');
    }
    else if(value < {{=parameters.min_score}})
    {
      $('#label-status').attr('class', 'label label-important');
      $('#label-status').html('Reprobado');
      $('#revision-alert').show('slow');
    }
    else if (value == {{=parameters.min_score}})
    {
      $('#label-status').attr('class', 'label label-warning');
      $('#label-status').html('Aprobado con nota mínima');
      $('#revision-alert').hide('slow');
    }
    else
    {
      $('#label-status').attr('class', 'label label-success');
      $('#label-status').html('Aprobado');
      $('#revision-alert').hide('slow');
    }
  });

  $('#submit-grading').click(function(){
    value = parseInt($('#score').val());
    comment = $('#comment').val()
    checked = $('#improve').is(':checked');
    if(value < 0 || value > 100)
    {
      $('#score-error').show('slow');
      return false;
    }
    if(value < {{=parameters.min_score}})
    {
      if(!comment)
      {
        $('#score-error').hide('slow');
      }
    }
    else
    {
      if(checked && !comment)
      {
        $('#score-error').hide('slow');
        $('#comment-error').show('slow');
        return false;
      }
    }
  });
</script>

<div class="row-fluid">
  <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">
            {{=T('View Report:')}}
            <small>{{=report.report_restriction['name']}}</small>
        </a>
      </div>
  </div>
</div>
<div style="border:solid #ddd 1px;">
    {{if not(report.heading is None):}}
    <!-- Display Helper -->
    {{inc_vars = dict(editable = False,
    edit_action = '',
    delete_action = '',
    content = MARKMIN(report.heading, markmin_settings))}}
    {{include 'include/display-report-header.html'}}
    <!-- //Display Helper -->
    {{pass}}
    <div class="container">
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-tasks"></span>
                    {{=T('Activities Log')}}
                </h1>
                <span>
                    <span><strong>{{=T('Total Anomalies')}}:</strong> {{=anomalies}} </span> |
                    <span><strong>{{=T('Total Registered Activities')}}:</strong> {{=len(logs)}} </span>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            {{for log in logs:}}
            <!-- Display Helper -->
            {{inc_vars = dict(editable = False,
            anomaly =  (log.log_type['name'] == 'Anomaly'),
            log_type = T(log.log_type['name']),
            date = log.entry_date,
            edit_action = '',
            delete_action = '',
            content = MARKMIN(log.description, markmin_settings))}}
            {{include 'include/display-report-log.html'}}
            <!-- //Display Helper -->
            {{pass}}
        </div>
        <hr />
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-adjust"></span>
                    <strong>{{=T('Activities Log with metrics')}}</strong>
                </h1>
                <span>
                    <span><strong>{{=T('Total activity logs with metrics')}}:</strong> {{=len(metrics)}}</span>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            {{for metric in metrics:}}
            <!-- Display Helper -->
            {{inc_vars = dict(editable = False,
            metric = metric,
            edit_action = '',
            delete_action = '')}}
            {{include 'include/display-report-metric.html'}}
            <!-- //Display Helper -->
            {{pass}}
        </div>
        <hr />
        {{if not(report.hours is None):}}
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-time"></span>
                    <strong>{{=T('Accomplished Hours')}}</strong>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <!-- Accomplished Hours display Helper-->
            {{inc_vars = dict(editable = False,
            id = 'display-report-hours',
            reports = assignation_reports,
            edit_action = '',
            delete_action = '')}}
            {{include 'include/display-report-hours.html'}}
            <!-- //Accomplished Hours display Helper-->
        </div>
        {{pass}}
        
        {{if not(report.desertion_started is None):}}
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-user"></span>
                    <strong>{{=T('Desertion logs')}}</strong>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <!-- Display Helper -->
            {{inc_vars = dict(editable = False,
            id = 'display-desertion',
            reports = assignation_reports,
            desertion_started = report.desertion_started,
            desertion_gone = report.desertion_gone,
            desertion_continued = report.desertion_continued,
            edit_action = '',
            delete_action = '')}}
            {{include 'include/display-report-desertion.html'}}
            <!-- //Display Helper -->
        </div>
        {{pass}}
    </div>
    {{if not(report.footer is None):}}
    <!-- Display Helper -->
    {{inc_vars = dict(editable = False,
    edit_action = '',
    delete_action = '',
    content = MARKMIN(report.footer, markmin_settings))}}
    {{include 'include/display-report-header.html'}}
    <!-- //Display Helper -->
    {{pass}}
</div>
<!-- Enable Markmin in textarea -->
<script>
jQuery(document).ready(function() {
  jQuery('.markmin-area').css('width','500px').css('height','200px').markItUp(mySettings);
});
</script>
<!-- //Enable Markmin in textarea -->
