<div class="row-fluid">
    <div class="span12">
        {{if inc_vars['editable']:}}
        <div class="span12">
            <div class="pull-right">
                <div class="btn-group">
                    <a href="#{{=inc_vars['edit_action']}}"
                       data-toggle="modal"
                       class="btn">
                        <span class="icon-edit"></span>
                    </a>
                    <a href="#{{=inc_vars['delete_action']}}"
                       data-toggle="modal"
                       class="btn btn-danger">
                        <span class="icon-remove icon-white"></span>
                    </a>
                </div>
            </div>
        </div>
        {{pass}}
        <div class="span12">
            {{=inc_vars['content']}}
        </div>
    </div>
</div>
