{{extend 'template.html'}}
<h1>{{=T('Announcements students')}}</h1>
<table class="table table-striped table-bordered">
	<thead>
		<th>{{=T('Project')}}</th>
		<th>{{=T('Section')}}</th>
		<th><center>{{=T('View')}}</center></th>
	</thead>
	<tbody>
		{{for assignation in assignations:}}
		<tr>
			<td>{{=split_name(assignation.project.name)}}</td>
			<td>{{=split_section(assignation.project.name)}}</td>
			<td>
				<center>
					<a class="btn" href="{{=URL('notification', 'teacher_mail_notifications', vars=dict(assignation = assignation.id))}}">
						{{=T('New Notification')}}
					</a>
				</center>
			</td>
		</tr>
		{{pass}}
	</tbody>
</table>