{{project_var = db(db.user_project.id == request.vars['assignation']).select().first()}}
{{if request.vars['op'] == "addActivity": }}
	{{date1=None}}
	{{dateInicialP = db.executesql('SELECT date(\''+request.vars['dateInit_var']+'\');',as_dict=True)}}
	{{for d0 in dateInicialP:}}
		{{date1=d0['date(\''+request.vars['dateInit_var']+'\')']}}
	{{pass}}
	{{date2=None}}
	{{dateInicialP2 = db.executesql('SELECT date(\''+request.vars['dateEnd_var']+'\');',as_dict=True)}}
	{{for d0 in dateInicialP2:}}
		{{date2=d0['date(\''+request.vars['dateEnd_var']+'\')']}}
	{{pass}}

	{{if date1==None or date2==None:}}
		<center>
			<span id="information_text" class="badge badge-important">{{=T('One of the date or both are incorrect')}}</span>
		</center>
	{{else:}}
		{{actualSemester = db(db.period_year.id==semestre2).select().first()}}
		{{comparacion = T(actualSemester.period.name)+" "+str(actualSemester.yearp)}}
		{{date_var = db((db.student_control_period.period_name==comparacion)).select().first()}}

		{{if date1>= date_var.date_start_semester and date2<= date_var.date_finish_semester:}}
			{{comprobation=False}}
			{{if auth.has_membership('Teacher'):}}
				{{comprobation=True}}
			{{else:}}
				{{categoryTemp = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.id==int(request.vars['category_activity_id_var']))).select().first()}}

				{{dateC1=None}}
				{{dateC2=None}}
				{{maximTimeCategory = db.executesql('SELECT DATE_ADD(\''+str(date1)+'\', INTERVAL '+str(categoryTemp.category.timeout)+' Day) as fecha;',as_dict=True)}}
				{{for d0 in maximTimeCategory:}}
					{{dateC1=d0['fecha']}}
				{{pass}}
				{{if str(date2)>str(dateC1):}}
					<center>
						<span id="information_text" class="badge badge-important">{{=T('The maximum number of days of activities in this category is')}} {{=str(categoryTemp.category.timeout)}}</span>
					</center>
				{{else:}}
					{{maximTimeCategory = db.executesql('SELECT DATE_ADD(\''+str(date2)+'\', INTERVAL '+str(date_var.timeout_income_notes)+' Day) as fecha;',as_dict=True)}}
					{{for d0 in maximTimeCategory:}}
						{{dateC2=d0['fecha']}}
					{{pass}}
					{{if str(dateC2)>str(date_var.date_finish_semester):}}
						<center>
							<span id="information_text" class="badge badge-important">{{=T('The end date of the activity over the time you have to enter notes exceeds timeout semester')}}</span>
						</center>
					{{else:}}
						{{comprobation=True}}
					{{pass}}
				{{pass}}
			{{pass}}
			{{if comprobation==True:}}
				{{isLaboratory='F'}}
				{{if auth.has_membership('Teacher'):}}
					{{aC = db((db.course_activity.semester==semestre2.id)&(db.course_activity.assignation==project_var.project.id)&(db.course_activity.laboratory=='F')&(db.course_activity.course_activity_category==request.vars['category_activity_id_var'])).select()}}
					{{isLaboratory='F'}}
				{{else:}}
					{{aC = db((db.course_activity.semester==semestre2.id)&(db.course_activity.assignation==project_var.project.id)&(db.course_activity.laboratory=='T')&(db.course_activity.course_activity_category==int(request.vars['category_activity_id_var']))).select()}}
					{{isLaboratory='T'}}
				{{pass}}

				{{existName='false'}}
				{{total_var2=0}}
				{{totalCategory=0}}
				{{if request.vars['field_grade_var'] == "nada":}}
					{{for acOnly in aC:}}
						{{if request.vars['activity_name1_var'] == acOnly.name:}}
							{{existName='true'}}
						{{pass}}
					{{pass}}
				{{else:}}
					{{total_var2=float(request.vars['field_grade_var'])}}
					{{for acOnly in aC:}}
						{{total_var2 = float(total_var2) + float(acOnly.grade)}}
						{{if request.vars['activity_name1_var'] == acOnly.name:}}
							{{existName='true'}}
						{{pass}}
						{{totalCategory=float(acOnly.course_activity_category.grade)}}
					{{pass}}
				{{pass}}


				{{if totalCategory==0 and request.vars['field_grade_var']!="nada":}}
					{{varCategory = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.id==int(request.vars['category_activity_id_var']))).select().first()}}
					{{totalCategory=varCategory.grade}}
				{{pass}}


				{{if request.vars['field_grade_var']!="nada" and total_var2<=totalCategory and existName=='false':}}
					{{db.course_activity.insert(course_activity_category = int(request.vars['category_activity_id_var']),
														name=request.vars['activity_name1_var'],
														description=request.vars['activity_description_var'],
						                                grade =  float(request.vars['field_grade_var']), 
						                                semester = int(semestre2.id), 
						                                assignation = project_var.project.id, 
						                                laboratory = isLaboratory,
						                                teacher_permition = 'F',
						                                date_start = request.vars['dateInit_var'],
						                                date_finish = request.vars['dateEnd_var'])}}

					{{varCategory = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.id==int(request.vars['category_activity_id_var']))).select().first()}}
					{{if auth.has_membership('Teacher'):}}
						{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
																roll='Teacher',
																operation_log='insert',
																course= project_var.project.name,
																yearp=project_var.period.yearp,
																period=T(project_var.period.period.name),
																metric='T',
																after_course_activity_category=varCategory.category.category,
																after_name=request.vars['activity_name1_var'],
																after_description=request.vars['activity_description_var'],
								                                after_grade =  float(request.vars['field_grade_var']),
								                                after_laboratory = isLaboratory,
								                                after_teacher_permition = 'F',
								                                after_date_start = request.vars['dateInit_var'],
								                                after_date_finish = request.vars['dateEnd_var'])}}
					{{else:}}
						{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
																roll='Student',
																operation_log='insert',
																course= project_var.project.name,
																yearp=project_var.period.yearp,
																period=T(project_var.period.period.name),
																metric='T',
																after_course_activity_category=varCategory.category.category,
																after_name=request.vars['activity_name1_var'],
																after_description=request.vars['activity_description_var'],
								                                after_grade =  float(request.vars['field_grade_var']),
								                                after_laboratory = isLaboratory,
								                                after_teacher_permition = 'F',
								                                after_date_start = request.vars['dateInit_var'],
								                                after_date_finish = request.vars['dateEnd_var'])}}
					{{pass}}
				{{elif request.vars['field_grade_var']=="nada" and existName=='false':}}
					{{db.course_activity.insert(course_activity_category = int(request.vars['category_activity_id_var']),
														name=request.vars['activity_name1_var'],
														description=request.vars['activity_description_var'],
						                                grade =  0, 
						                                semester = int(semestre2.id),
						                                assignation = project_var.project.id,
						                                laboratory = isLaboratory,
						                                teacher_permition = 'F',
						                                date_start = request.vars['dateInit_var'],
						                                date_finish = request.vars['dateEnd_var'])}}
					
					{{varCategory = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.id==int(request.vars['category_activity_id_var']))).select().first()}}
					{{if auth.has_membership('Teacher'):}}
						{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
																roll='Teacher',
																operation_log='insert',
																course= project_var.project.name,
																yearp=project_var.period.yearp,
																period=T(project_var.period.period.name),
																metric='T',
																after_course_activity_category=varCategory.category.category,
																after_name=request.vars['activity_name1_var'],
																after_description=request.vars['activity_description_var'],
								                                after_grade =  0,
								                                after_laboratory = isLaboratory,
								                                after_teacher_permition = 'F',
								                                after_date_start = request.vars['dateInit_var'],
								                                after_date_finish = request.vars['dateEnd_var'])}}
					{{else:}}
						{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
																roll='Student',
																operation_log='insert',
																course= project_var.project.name,
																yearp=project_var.period.yearp,
																period=T(project_var.period.period.name),
																metric='T',
																after_course_activity_category=varCategory.category.category,
																after_name=request.vars['activity_name1_var'],
																after_description=request.vars['activity_description_var'],
								                                after_grade =  0,
								                                after_laboratory = isLaboratory,
								                                after_teacher_permition = 'F',
								                                after_date_start = request.vars['dateInit_var'],
								                                after_date_finish = request.vars['dateEnd_var'])}}
					{{pass}}
				{{elif request.vars['field_grade_var']!="nada" and total_var2>totalCategory:}}
					<center>
						<span id="information_text" class="badge badge-important">{{=T('The sum of the ratings of the activities exceeds the limit of the category') }}  ({{=str(total_var2)}} / {{=str(totalCategory)}})</span>
					</center>
				{{elif existName=='true':}}
					<center>
						<span id="information_text" class="badge badge-important">{{=T('the name of the registered activity already exists.')}}</span>
					</center>
				{{pass}}
			{{pass}}
		{{else:}}
			<center>
				<span id="information_text" class="badge badge-important">{{=T('The date range of activities are not within the range of the semester')}} ({{=date_var.date_start_semester}} - {{=date_var.date_finish_semester}})</span>
			</center>
		{{pass}}
	{{pass}}
{{pass}}



<!--DELETE ACTIVITY-->
{{if request.vars['op'] == "removeActivity": }}
	{{activity_var = db(db.course_activity.id == request.vars['var_id']).select().first()}}
	{{if auth.has_membership('Teacher'):}}
		{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
												roll='Teacher',
												operation_log='delete',
												course= project_var.project.name,
												yearp=project_var.period.yearp,
												period=T(project_var.period.period.name),
												metric='T',
												before_course_activity_category=activity_var.course_activity_category.category.category,
												before_name=activity_var.name,
												before_description=activity_var.description,
				                                before_grade =  activity_var.grade,
				                                before_laboratory = activity_var.laboratory,
				                                before_teacher_permition = activity_var.teacher_permition,
				                                before_date_start = activity_var.date_start,
				                                before_date_finish = activity_var.date_finish)}}
	{{else:}}
		{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
												roll='Student',
												operation_log='delete',
												course= project_var.project.name,
												yearp=project_var.period.yearp,
												period=T(project_var.period.period.name),
												metric='T',
												before_course_activity_category=activity_var.course_activity_category.category.category,
												before_name=activity_var.name,
												before_description=activity_var.description,
				                                before_grade =  activity_var.grade,
				                                before_laboratory = activity_var.laboratory,
				                                before_teacher_permition = activity_var.teacher_permition,
				                                before_date_start = activity_var.date_start,
				                                before_date_finish = activity_var.date_finish)}}
	{{pass}}
	{{db(db.course_activity.id==request.vars['var_id']).delete()}}
{{pass}}

<!--UPDATE ACTIVITY-->
{{if request.vars['op'] == "updateActivity": }}
    {{activityOldR=db(db.course_activity.id==request.vars['var_id']).select().first()}}
    {{if auth.has_membership('Teacher'):}}
		{{upActivities = db((db.course_activity.semester==semestre2.id)&(db.course_activity.assignation==project_var.project.id)&(db.course_activity.laboratory=='F')&(db.course_activity.course_activity_category==activityOldR.course_activity_category)).select()}}
	{{else:}}
		{{upActivities = db((db.course_activity.semester==semestre2.id)&(db.course_activity.assignation==project_var.project.id)&(db.course_activity.laboratory=='T')&(db.course_activity.course_activity_category==activityOldR.course_activity_category)).select()}}
	{{pass}}
	
	{{total_Names=0}}
	
    {{if activityOldR.course_activity_category.specific_grade==True:}}
    	{{if float(request.vars['edit_field_grade_var'])==float(0):}}
	    	<center>
				<span id="information_text" class="badge badge-important">{{=T('The grade can not be 0')}}</span>
			</center>
		{{else:}}
			{{total_var2E=float(request.vars['edit_field_grade_var'])}}
			{{totalCategoryE=float(activityOldR.course_activity_category.grade)}}
			{{for acOnlyE in upActivities:}}
				{{if acOnlyE.id!=activityOldR.id:}}
					{{total_var2E = float(total_var2E) + float(acOnlyE.grade)}}
					{{if acOnlyE.name==request.vars['edit_activity_name1_var']:}}
						{{total_Names=total_Names+1}}
					{{pass}}
				{{pass}}
			{{pass}}
			{{if total_Names>0:}}
				<center>
					<span id="information_text" class="badge badge-important">{{=T('the name of the registered activity already exists.')}}</span>
				</center>
			{{else:}}
				{{if total_var2E>totalCategoryE:}}
					<center>
						<span id="information_text" class="badge badge-important">{{=T('The sum of the ratings of the activities exceeds the limit of the category') }}  ({{=str(total_var2E)}} / {{=str(totalCategoryE)}})</span>
					</center>
				{{else:}}
					{{if auth.has_membership('Teacher'):}}
						{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
																roll='Teacher',
																operation_log='update',
																course= project_var.project.name,
																yearp=project_var.period.yearp,
																period=T(project_var.period.period.name),
																metric='T',
																before_course_activity_category=activityOldR.course_activity_category.category.category,
																before_name=activityOldR.name,
																before_description=activityOldR.description,
								                                before_grade =  activityOldR.grade,
								                                before_laboratory = activityOldR.laboratory,
								                                before_teacher_permition = activityOldR.teacher_permition,
								                                before_date_start = activityOldR.date_start,
								                                before_date_finish = activityOldR.date_finish,
								                                after_course_activity_category=activityOldR.course_activity_category.category.category,
								                                after_name = request.vars['edit_activity_name1_var'],
								                                after_description =  request.vars['edit_activity_description_var'],
								                                after_grade =  float(request.vars['edit_field_grade_var']),
								                                after_laboratory = activityOldR.laboratory,
								                                after_teacher_permition = activityOldR.teacher_permition,
								                                after_date_start =  request.vars['edit_dateInit_var'],
								                                after_date_finish = request.vars['edit_dateEnd_var'])}}
					{{else:}}
						{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
																roll='Student',
																operation_log='update',
																course= project_var.project.name,
																yearp=project_var.period.yearp,
																period=T(project_var.period.period.name),
																metric='T',
																before_course_activity_category=activityOldR.course_activity_category.category.category,
																before_name=activityOldR.name,
																before_description=activityOldR.description,
								                                before_grade =  activityOldR.grade,
								                                before_laboratory = activityOldR.laboratory,
								                                before_teacher_permition = activityOldR.teacher_permition,
								                                before_date_start = activityOldR.date_start,
								                                before_date_finish = activityOldR.date_finish,
								                                after_course_activity_category=activityOldR.course_activity_category.category.category,
								                                after_name = request.vars['edit_activity_name1_var'],
								                                after_description =  request.vars['edit_activity_description_var'],
								                                after_grade =  float(request.vars['edit_field_grade_var']),
								                                after_laboratory = activityOldR.laboratory,
								                                after_teacher_permition = activityOldR.teacher_permition,
								                                after_date_start =  request.vars['edit_dateInit_var'],
								                                after_date_finish = request.vars['edit_dateEnd_var'])}}
					{{pass}}
					{{db(db.course_activity.id==request.vars['var_id']).update(name = request.vars['edit_activity_name1_var'], description =  request.vars['edit_activity_description_var'], grade =  float(request.vars['edit_field_grade_var']), date_start =  request.vars['edit_dateInit_var'], date_finish = request.vars['edit_dateEnd_var'])}}
				{{pass}}
			{{pass}}
		{{pass}}
    {{else:}}
		{{for acOnlyE in upActivities:}}
			{{if acOnlyE.id!=activityOldR.id and acOnlyE.name==request.vars['edit_activity_name1_var']:}}
				{{total_Names=total_Names+1}}
			{{pass}}
		{{pass}}
		{{if total_Names>0:}}
			<center>
				<span id="information_text" class="badge badge-important">{{=T('the name of the registered activity already exists.')}}</span>
			</center>
		{{else:}}
			{{if auth.has_membership('Teacher'):}}
				{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
														roll='Teacher',
														operation_log='update',
														course= project_var.project.name,
														yearp=project_var.period.yearp,
														period=T(project_var.period.period.name),
														metric='T',
														before_course_activity_category=activityOldR.course_activity_category.category.category,
														before_name=activityOldR.name,
														before_description=activityOldR.description,
						                                before_grade =  activityOldR.grade,
						                                before_laboratory = activityOldR.laboratory,
						                                before_teacher_permition = activityOldR.teacher_permition,
						                                before_date_start = activityOldR.date_start,
						                                before_date_finish = activityOldR.date_finish,
						                                after_course_activity_category=activityOldR.course_activity_category.category.category,
						                                after_name = request.vars['edit_activity_name1_var'],
						                                after_description =  request.vars['edit_activity_description_var'],
						                                after_grade =  float(0),
						                                after_laboratory = activityOldR.laboratory,
						                                after_teacher_permition = activityOldR.teacher_permition,
						                                after_date_start =  request.vars['edit_dateInit_var'],
						                                after_date_finish = request.vars['edit_dateEnd_var'])}}
			{{else:}}
				{{db.course_activity_log.insert(user_name=project_var.assigned_user.username,
														roll='Student',
														operation_log='update',
														course= project_var.project.name,
														yearp=project_var.period.yearp,
														period=T(project_var.period.period.name),
														metric='T',
														before_course_activity_category=activityOldR.course_activity_category.category.category,
														before_name=activityOldR.name,
														before_description=activityOldR.description,
						                                before_grade =  activityOldR.grade,
						                                before_laboratory = activityOldR.laboratory,
						                                before_teacher_permition = activityOldR.teacher_permition,
						                                before_date_start = activityOldR.date_start,
						                                before_date_finish = activityOldR.date_finish,
						                                after_course_activity_category=activityOldR.course_activity_category.category.category,
						                                after_name = request.vars['edit_activity_name1_var'],
						                                after_description =  request.vars['edit_activity_description_var'],
						                                after_grade =  float(0),
						                                after_laboratory = activityOldR.laboratory,
						                                after_teacher_permition = activityOldR.teacher_permition,
						                                after_date_start =  request.vars['edit_dateInit_var'],
						                                after_date_finish = request.vars['edit_dateEnd_var'])}}
			{{pass}}
			{{db(db.course_activity.id==request.vars['var_id']).update(name = request.vars['edit_activity_name1_var'], description =  request.vars['edit_activity_description_var'], grade =  float(0), date_start =  request.vars['edit_dateInit_var'], date_finish = request.vars['edit_dateEnd_var'])}}
		{{pass}}
    {{pass}}
    
{{pass}}



<!--ADD ACTIVITY DIV-->
{{if request.vars['op'] == "showInsert": }}
	<!--Check that the current date is in the period that de administrator has register-->
	{{from datetime import datetime}}
	{{var_do='false'}}
	{{for date_var in db((db.student_control_period)).select():}}
		{{if datetime.now() >= date_var.date_start and datetime.now() <= date_var.date_finish:}}
			{{var_do='true'}}					
		{{pass}}
	{{pass}}
	<!--End of the check of period-->

	<label>{{=T('Category')}}:</label>
    <!--Fill the select of the categorys-->
    <select class="generic-widget" id="category_activity_id" style="width:250px;">
    	<option value=""></option>
    	{{cR=None}}
    	{{if auth.has_membership('Teacher'):}}
    		{{cR = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id)&(db.course_activity_category.laboratory=='F')).select()}}
    	{{else:}}
    		{{if var_do =='true':}}
    			{{cR = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id)&(db.course_activity_category.laboratory=='T')).select()}}
    		{{else:}}
    			{{cR = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id)&(db.course_activity_category.laboratory=='T')&(db.course_activity_category.specific_grade=='F')).select()}}
    		{{pass}}
    	{{pass}}
		<script type="text/javascript">
			var varParciales = 0;
			var varFinal = 0;
			var actividadPromedio = [];
		</script>
		{{for c in cR:}}
			{{if c.category.category != 'Laboratorio':}}
				<option value="{{=c.id}}">{{=c.category.category}}</option>
				<script type="text/javascript">
					if("{{=c.category.category}}"=="Parciales"){
						varParciales={{=c.id}};
					}else{
						if("{{=c.category.category}}"=="Examen Final"){
							varFinal={{=c.id}};
						}
					}
					if('{{=c.specific_grade}}'=='True'){
						actividadPromedio.push('{{=c.id}}');
					}
				</script>
			{{pass}}
		{{pass}}
    </select>
    <!--Fill the select of the categorys-->
    <label>{{=T('name')}}:</label>
    <input class="string" type="text" value="" id="activity_name1" style="width:240px; display:none;">
    <select class="generic-widget" id="activity_name2" style="width:250px; display:none;">
    </select>
    <label>{{=T('description')}}:</label>
    <textarea class="string" cols="40" type="text" value="" id="activity_description" style="width:240px; height:100px;"/>

    <label style="display:none;" id="label_grade">{{=T('Grade')}}:</label>
    <input class="string" id="field_grade" type="text" value="" style="width:240px; display:none;">
    
    <label>{{=T('Start Date')}}:</label>
    <input class="date" id="dateInit" name="log-date" placeholder="YYYY-MM-DD" type="text" value = "">
    <label>{{=T('End Date')}}:</label>
    <input class="date" id="dateEnd" name="log-date" placeholder="YYYY-MM-DD" type="text" value = "">
{{pass}}


{{if request.vars['op2'] != None and request.vars['op2'] != "showInsert": }}	
	{{request.vars['op'] = request.vars['op2']}}
	{{=request.vars['op']}}
{{pass}}

{{if  request.vars['op'] == "showTableNoEditable" or request.vars['op'] == "addActivity" or request.vars['op'] == "showTable" or request.vars['op'] == "removeActivity" or request.vars['op'] == "showEditTable" or request.vars['op'] == "showEditActivity": }}
	<!--Check that the current date is in the period that de administrator has register-->
	{{from datetime import datetime}}
	{{var_do='false'}}
	{{for date_var in db((db.student_control_period)).select():}}
		{{if datetime.now() >= date_var.date_start and datetime.now() <= date_var.date_finish:}}
			{{var_do='true'}}
		{{pass}}
	{{pass}}
	<!--End of the check of period-->
	<div>
	  <center>
	  	<table class="table table-striped table-bordered">
			{{if auth.has_membership('Teacher'):}}
				{{categorys = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.laboratory=='F')).select()}}
			{{else:}}
				{{categorys = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.laboratory=='T')).select()}}
			{{pass}}
			{{for project in categorys:}}
			{{if project.category.category != 'Laboratorio':}}
				<tr>
					<th><center>
						{{=project.category.category}}
					</center></th>
				</tr>
				<tr>
					<td colspan="3">
						{{if auth.has_membership('Teacher'):}}
							{{tActivities = db((db.course_activity.semester==semestre2.id)&(db.course_activity.assignation==project_var.project.id)&(db.course_activity.laboratory=='F')&(db.course_activity.course_activity_category==project.id)).select()}}
						{{else:}}
							{{tActivities = db((db.course_activity.semester==semestre2.id)&(db.course_activity.assignation==project_var.project.id)&(db.course_activity.laboratory=='T')&(db.course_activity.course_activity_category==project.id)).select()}}
						{{pass}}
						{{totalCategoryE=float(0)}}
						{{total_var2E=float(0)}}
						{{if project.specific_grade==True:}}
							{{totalCategoryE=float(project.grade)}}
							{{total_var2E=float(0)}}
							{{for acOnlyE in tActivities:}}
								{{total_var2E = float(total_var2E) + float(acOnlyE.grade)}}
							{{pass}}
						{{pass}}
							<table class="table table-striped table-bordered">
						  		<tr>
						  			<th>
										{{=T('name')}}
									</th>
									<th>
										{{=T('description')}}
									</th>
									<th>
										{{=T('Grade')}}
									</th>
									<th title="{{=T('Specific Grade')}}">
										{{=T('Start Date')}}
									</th>
									<th title="{{=T('Specific Grade')}}">
										{{=T('End Time')}}
									</th>
									{{if request.vars['op'] != "showTableNoEditable":}}
										{{if auth.has_membership('Teacher'):}}
											<th>
												{{=T('Actions')}}
											</th>
										{{else:}}
											{{if var_do =='true':}}
												<th>
													{{=T('Actions')}}
												</th>
											{{pass}}
										{{pass}}
									{{else:}}
										<th>
											{{=T('Actions')}}
										</th>
									{{pass}}
								</tr>
								{{editable_var='false'}}
								{{for tAct in tActivities:}}
								{{if request.vars['op'] != "showTableNoEditable":}}
									{{if auth.has_membership('Teacher'):}}
										{{if request.vars['op'] == "showEditActivity":}}
							            	{{if str(request.vars['var_id']) == str(tAct.id):}}
							            		{{editable_var='true'}}
							            	{{else:}}
							            		{{editable_var='false'}}
							            	{{pass}}
							        	{{pass}}
									{{else:}}
										{{if var_do =='true':}}
											{{if request.vars['op'] == "showEditActivity":}}
												{{if str(request.vars['var_id']) == str(tAct.id):}}
								            		{{editable_var='true'}}
								            	{{else:}}
								            		{{editable_var='false'}}
								            	{{pass}}
								            {{pass}}
										{{pass}}
									{{pass}}
								{{pass}}
					        	<tr>
									<td>
										{{if editable_var=='true':}}
											{{if tAct.name=='Examen Final':}}
												<input class="string" name="edit_activity_name1" type="text" value="{{=tAct.name}}" id="edit_activity_name1" style="width:40px;" disabled>
											{{elif tAct.name=='Primer Parcial' or tAct.name=='Segundo Parcial' or tAct.name=='Tercer Parcial':}}
												<select class="generic-widget" id="edit_activity_name1" style="width:75px;">
												{{if tAct.name=='Primer parcial':}}
													<option value="{{=tAct.name}}">{{=tAct.name}}</option>
													<option value="Segundo Parcial">Segundo Parcial</option>
													<option value="Tercer Parcial">Tercer Parcial</option>
												{{elif tAct.name=='Segundo parcial':}}
													<option value="Primer Parcial">Primer Parcial</option>
													<option value="{{=tAct.name}}">{{=tAct.name}}</option>
													<option value="Tercer Parcial">Tercer Parcial</option>
												{{else:}}
													<option value="Primer Parcial">Primer Parcial</option>
													<option value="Segundo Parcial">Segundo Parcial</option>
													<option value="{{=tAct.name}}">{{=tAct.name}}</option>
												{{pass}}
												</select>
											{{else:}}
												<input class="string" name="edit_activity_name1" type="text" value="{{=tAct.name}}" id="edit_activity_name1" style="width:40px;">
											{{pass}}
										{{else:}}
											{{=tAct.name}}
										{{pass}}
									</td>
									<td>
										{{if editable_var=='true':}}
											<textarea class="string" cols="40" type="text" id="edit_activity_description" style="width:240px; height:100px;">{{=tAct.description}}</textarea>
										{{else:}}
											{{=tAct.description}}
										{{pass}}
									</td>
									<td>
										{{if editable_var=='true':}}
											{{if tAct.course_activity_category.specific_grade==True:}}
												<input class="string" id="edit_field_grade" type="text" value="{{=tAct.grade}}" style="width:240px;">
											{{else:}}
												<input class="string" id="edit_field_grade" type="text" value="{{=tAct.grade}}" style="width:240px;" disabled>
											{{pass}}
										{{else:}}
											{{=tAct.grade}}
										{{pass}}
									</td>
									<td>
										{{if editable_var=='true':}}
											<input class="date" id="edit_dateInit" name="date_log" type="text" value="{{=tAct.date_start}}" style="width:240px;" placeholder="YYYY-MM-DD"/>
										{{else:}}
											{{=tAct.date_start}}
										{{pass}}
									</td>
									<td>
										{{if editable_var=='true':}}
											<input class="date" id="edit_dateEnd" name="date_log" type="text" value="{{=tAct.date_finish}}" style="width:240px;" placeholder="YYYY-MM-DD"/>
										{{else:}}
											{{=tAct.date_finish}}
										{{pass}}
									</td>
									{{if request.vars['op'] != "showTableNoEditable":}}
										{{if auth.has_membership('Teacher'):}}
											<td>
												<center>
													{{if editable_var=='true':}}
														<a id="activityButton" role="button" class="badge btn-success"  
														onclick="updateActivity({{=tAct.id}});"> 
								                    		<span class="icon-white icon-check"></span>
								                    	</a>
							                    	{{else:}}
							                    		<a id="activityButton" role="button" class="badge btn-info"  
														onclick="editActivity({{=tAct.id}});"> 
								                    		<span class="icon-white icon-edit"></span>
								                    	</a>
							                    	{{pass}}
							                    	<a id="activityButton" role="button" class="badge btn-danger" 
							                    	onclick="removeActivity({{=tAct.id}});" title="{{=T('Remove Activity')}}" > 
							                    		<span class="icon-white icon-remove-sign"></span>
							                    	</a>
												</center>
											</td>
										{{else:}}
											{{if var_do =='true':}}
												<td>
													<center>
														{{if editable_var=='true':}}
															<a id="activityButton" role="button" class="badge btn-success"  
															onclick="updateActivity({{=tAct.id}});"> 
									                    		<span class="icon-white icon-check"></span>
									                    	</a>
								                    	{{else:}}
								                    		<a id="activityButton" role="button" class="badge btn-info"  
															onclick="editActivity({{=tAct.id}});"> 
									                    		<span class="icon-white icon-edit"></span>
									                    	</a>
								                    	{{pass}}
								                    	<a id="activityButton" role="button" class="badge btn-danger" 
								                    	onclick="removeActivity({{=tAct.id}});" title="{{=T('Remove Activity')}}" > 
								                    		<span class="icon-white icon-remove-sign"></span>
								                    	</a>
													</center>
												</td>
											{{pass}}
										{{pass}}
									{{else:}}
										<td>
											<center>
					                    		<a id="gradeButton" role="button" class="badge btn-info"  
												onclick="addGrade({{=tAct.id}});"> 
						                    		<span class="icon-white icon-edit"></span>{{=T('Grades')}}
						                    	</a>
											</center>
										</td>
									{{pass}}
									</tr>
								{{pass}}
								{{if project.specific_grade==True:}}
									{{if total_var2E < totalCategoryE:}}
										<tr>
											<td colspan="3">
												<center>
													<span id="information_text_fail" class="badge badge-important">{{=T('Total')}}:  {{=total_var2E}} / {{=totalCategoryE}}</span>
												</center>
											</td>
											<td colspan="3">
												<center>
													<span id="information_text_fail" class="badge badge-important">{{=T('The sum of the score of activities is less than the score of the category')}} </span>
												</center>
											</td>
										</tr>
									{{pass}}
								{{pass}}
							</table>
						</div>
					</td>
				</tr>
			{{pass}}
			{{pass}}
		</table>
	  </center>	
	</div>
{{pass}}




{{if  request.vars['op'] == "tableRequestChangeActivity": }}
	<!--Check that the current date is in the period that de administrator has register-->
	{{from datetime import datetime}}
	{{var_do='false'}}
	{{for date_var in db((db.student_control_period)).select():}}
		{{if datetime.now() >= date_var.date_start and datetime.now() <= date_var.date_finish:}}
			{{var_do='true'}}
		{{pass}}
	{{pass}}
	<!--End of the check of period-->
	<div>
	  <center>
	  	<table class="table table-striped table-bordered">
			{{if auth.has_membership('Teacher'):}}
				{{categorys = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.laboratory=='F')).select()}}
			{{else:}}
				{{categorys = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.laboratory=='T')).select()}}
			{{pass}}
			{{for project in categorys:}}
				<tr>
					<th><center>
						{{=project.category.category}}
					</center></th>
				</tr>
				<tr>
					<td colspan="3">
						{{if auth.has_membership('Teacher'):}}
							{{tActivities = db((db.course_activity.semester==semestre2.id)&(db.course_activity.assignation==project_var.project.id)&(db.course_activity.laboratory=='F')&(db.course_activity.course_activity_category==project.id)).select()}}
						{{else:}}
							{{tActivities = db((db.course_activity.semester==semestre2.id)&(db.course_activity.assignation==project_var.project.id)&(db.course_activity.laboratory=='T')&(db.course_activity.course_activity_category==project.id)).select()}}
						{{pass}}
						{{totalCategoryE=float(0)}}
						{{total_var2E=float(0)}}
						{{if project.specific_grade==True:}}
							{{totalCategoryE=float(project.grade)}}
							{{total_var2E=float(0)}}
							{{for acOnlyE in tActivities:}}
								{{total_var2E = float(total_var2E) + float(acOnlyE.grade)}}
							{{pass}}
						{{pass}}
							<table class="table table-striped table-bordered">
						  		<tr>
						  			<th>
										{{=T('name')}}
									</th>
									<th>
										{{=T('description')}}
									</th>
									<th>
										{{=T('Grade')}}
									</th>
									<th title="{{=T('Specific Grade')}}">
										{{=T('Start Date')}}
									</th>
									<th title="{{=T('Specific Grade')}}">
										{{=T('End Time')}}
									</th>
									{{if request.vars['op'] != "showTableNoEditable":}}
										{{if auth.has_membership('Teacher'):}}
											<th>
												{{=T('Actions')}}
											</th>
										{{else:}}
											{{if var_do =='true':}}
												<th>
													{{=T('Actions')}}
												</th>
											{{pass}}
										{{pass}}
									{{else:}}
										<th>
											{{=T('Actions')}}
										</th>
									{{pass}}
								</tr>
								{{editable_var='false'}}
								{{for tAct in tActivities:}}
								{{if request.vars['op'] != "showTableNoEditable":}}
									{{if auth.has_membership('Teacher'):}}
										{{if request.vars['op'] == "showEditActivity":}}
							            	{{if str(request.vars['var_id']) == str(tAct.id):}}
							            		{{editable_var='true'}}
							            	{{else:}}
							            		{{editable_var='false'}}
							            	{{pass}}
							        	{{pass}}
									{{else:}}
										{{if var_do =='true':}}
											{{if request.vars['op'] == "showEditActivity":}}
												{{if str(request.vars['var_id']) == str(tAct.id):}}
								            		{{editable_var='true'}}
								            	{{else:}}
								            		{{editable_var='false'}}
								            	{{pass}}
								            {{pass}}
										{{pass}}
									{{pass}}
								{{pass}}
					        	<tr>
									<td>
										{{if editable_var=='true':}}
											{{if tAct.name=='Examen Final':}}
												<input class="string" name="edit_activity_name1" type="text" value="{{=tAct.name}}" id="edit_activity_name1" style="width:40px;" disabled>
											{{elif tAct.name=='Primer Parcial' or tAct.name=='Segundo Parcial' or tAct.name=='Tercer Parcial':}}
												<select class="generic-widget" id="edit_activity_name1" style="width:75px;">
												{{if tAct.name=='Primer parcial':}}
													<option value="{{=tAct.name}}">{{=tAct.name}}</option>
													<option value="Segundo Parcial">Segundo Parcial</option>
													<option value="Tercer Parcial">Tercer Parcial</option>
												{{elif tAct.name=='Segundo parcial':}}
													<option value="Primer Parcial">Primer Parcial</option>
													<option value="{{=tAct.name}}">{{=tAct.name}}</option>
													<option value="Tercer Parcial">Tercer Parcial</option>
												{{else:}}
													<option value="Primer Parcial">Primer Parcial</option>
													<option value="Segundo Parcial">Segundo Parcial</option>
													<option value="{{=tAct.name}}">{{=tAct.name}}</option>
												{{pass}}
												</select>
											{{else:}}
												<input class="string" name="edit_activity_name1" type="text" value="{{=tAct.name}}" id="edit_activity_name1" style="width:40px;">
											{{pass}}
										{{else:}}
											{{=tAct.name}}
										{{pass}}
									</td>
									<td>
										{{if editable_var=='true':}}
											<textarea class="string" cols="40" type="text" id="edit_activity_description" style="width:240px; height:100px;">{{=tAct.description}}</textarea>
										{{else:}}
											{{=tAct.description}}
										{{pass}}
									</td>
									<td>
										{{if editable_var=='true':}}
											{{if tAct.course_activity_category.specific_grade==True:}}
												<input class="string" id="edit_field_grade" type="text" value="{{=tAct.grade}}" style="width:240px;">
											{{else:}}
												<input class="string" id="edit_field_grade" type="text" value="{{=tAct.grade}}" style="width:240px;" disabled>
											{{pass}}
										{{else:}}
											{{=tAct.grade}}
										{{pass}}
									</td>
									<td>
										{{if editable_var=='true':}}
											<input class="datetime" id="edit_dateInit" name="date_log" type="text" value="{{=tAct.date_start}}" style="width:240px;" placeholder="YYYY-MM-DD"/>
										{{else:}}
											{{=tAct.date_start}}
										{{pass}}
									</td>
									<td>
										{{if editable_var=='true':}}
											<input class="datetime" id="edit_dateEnd" name="date_log" type="text" value="{{=tAct.date_finish}}" style="width:240px;" placeholder="YYYY-MM-DD"/>
										{{else:}}
											{{=tAct.date_finish}}
										{{pass}}
									</td>
									{{if request.vars['op'] != "showTableNoEditable":}}
										{{if auth.has_membership('Teacher'):}}
											<td>
												<center>
													{{if editable_var=='true':}}
														<a id="activityButton" role="button" class="badge btn-success"  
														onclick="updateActivity({{=tAct.id}});"> 
								                    		<span class="icon-white icon-check"></span>
								                    	</a>
							                    	{{else:}}
							                    		<a id="activityButton" role="button" class="badge btn-info"  
														onclick="editActivity({{=tAct.id}});"> 
								                    		<span class="icon-white icon-edit"></span>
								                    	</a>
							                    	{{pass}}
							                    	<a id="activityButton" role="button" class="badge btn-danger" 
							                    	onclick="removeActivity({{=tAct.id}});" title="{{=T('Remove Activity')}}" > 
							                    		<span class="icon-white icon-remove-sign"></span>
							                    	</a>
												</center>
											</td>
										{{else:}}
											{{if var_do =='true':}}
												<td>
													<center>
														{{if editable_var=='true':}}
															<a id="activityButton" role="button" class="badge btn-success"  
															onclick="updateActivity({{=tAct.id}});"> 
									                    		<span class="icon-white icon-check"></span>
									                    	</a>
								                    	{{else:}}
								                    		<a id="activityButton" role="button" class="badge btn-info"  
															onclick="editActivity({{=tAct.id}});"> 
									                    		<span class="icon-white icon-edit"></span>
									                    	</a>
								                    	{{pass}}
								                    	<a id="activityButton" role="button" class="badge btn-danger" 
								                    	onclick="removeActivity({{=tAct.id}});" title="{{=T('Remove Activity')}}" > 
								                    		<span class="icon-white icon-remove-sign"></span>
								                    	</a>
													</center>
												</td>
											{{pass}}
										{{pass}}
									{{else:}}
										<td>
											<center>
					                    		<a id="gradeButton" role="button" class="badge btn-info"  
												onclick="addGrade({{=tAct.id}});"> 
						                    		<span class="icon-white icon-edit"></span>{{=T('Grades')}}
						                    	</a>
											</center>
										</td>
									{{pass}}
									</tr>
								{{pass}}
								{{if project.specific_grade==True:}}
									{{if total_var2E < totalCategoryE:}}
										<tr>
											<td colspan="3">
												<center>
													<span id="information_text_fail" class="badge badge-important">{{=T('Total')}}:  {{=total_var2E}} / {{=totalCategoryE}}</span>
												</center>
											</td>
											<td colspan="3">
												<center>
													<span id="information_text_fail" class="badge badge-important">{{=T('The sum of the score of activities is less than the score of the category')}} </span>
												</center>
											</td>
										</tr>
									{{pass}}
								{{pass}}
							</table>
						</div>
					</td>
				</tr>
			{{pass}}
		</table>
	  </center>	
	</div>
{{pass}}





<script type="text/javascript">
 var category_create="";
  	$(document).ready(function(){
  		$("#category_activity_id").change(function () {
  			if (category_create!=document.getElementById('category_activity_id').value){
				category_create=document.getElementById('category_activity_id').value;

				$("#field_grade").css("display", "none");
	  			$("#label_grade").css("display", "none");

  				if (category_create==varParciales){
  					document.getElementById('activity_name1').value="";
  					$("#activity_name2").find('option').remove().end();

  					var lista=document.getElementById("activity_name2");
  					lista.options.add(new Option("Primer Parcial","Primer Parcial"));
  					lista.options.add(new Option("Segundo Parcial","Segundo Parcial"));
  					lista.options.add(new Option("Tercer Parcial","Tercer Parcial"));

  					$("#activity_name1").css("display", "none");
  					$("#activity_name2").css("display", "block");
  				}else{
  					if(category_create==varFinal){
  						document.getElementById('activity_name1').value="";
  						$("#activity_name2").find('option').remove().end();

  						var lista=document.getElementById("activity_name2");
	  					document.getElementById('activity_name1').value="";
	  					lista.options.add(new Option("Examen Final","Examen Final"));

  						$("#activity_name1").css("display", "none");
	  					$("#activity_name2").css("display", "block");
  					}else{
  						document.getElementById('activity_name1').value="";
  						$("#activity_name2").find('option').remove().end();
  						var lista=document.getElementById("activity_name2");
  						$("#activity_name2").css("display", "none");
  						$("#activity_name1").css("display", "block");
  					}
  				}
  				document.getElementById('field_grade').value="nada";
  				for (var i=0; i < actividadPromedio.length; i++){
					if(actividadPromedio[i]==category_create){
						document.getElementById('field_grade').value="";
  						$("#field_grade").css("display", "block");
  						$("#label_grade").css("display", "block");
					}
				}
  			}
		})
	});

	function editActivity(var_id){
		$("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=showEditActivity&amp;var_id="+var_id+"&amp;assignation={{=request.vars['assignation']}}");
	}

	function updateActivity(var_id){
	    var edit_activity_name1_var = document.getElementById('edit_activity_name1').value;
	    var edit_activity_description_var = document.getElementById('edit_activity_description').value;
	    var edit_field_grade_var = document.getElementById('edit_field_grade').value;
	    var edit_dateInit_var = document.getElementById('edit_dateInit').value;
	    var edit_dateEnd_var = document.getElementById('edit_dateEnd').value;
		if(edit_activity_name1_var=="" || (edit_activity_description_var=="" && edit_field_grade_var=="") || edit_dateInit_var=="" || edit_dateEnd_var=="" ){
			alert("{{=T('Fill all fields to save.')}}");
		}else{
	        if (edit_field_grade_var==""){
	          alert("{{=T('The entered value is not correct')}}");  
	        }else{
				var regex = /^\d+(?:\.\d{0,2})$/; 
				var regex2 = /^([0-9])*$/; 
				if (!regex.test(edit_field_grade_var) && !regex2.test(edit_field_grade_var) ){
					alert("{{=T('The entered value is not a decimal')}}");  
				}else{
					var formatDate = /^(\d{4})(\/|-)(\d{1,2})(\/|-)(\d{1,2})$/;
					var validDateInit = edit_dateInit_var.match(formatDate);
					var validDateEnd = edit_dateEnd_var.match(formatDate);
					if (validDateInit == null || validDateEnd==null) {
						alert("{{=T('Enter date and time as YYYY-MM-DD or YYYY/MM/DD')}}");
					}else{
						if(edit_dateInit_var<edit_dateEnd_var){
							$("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=updateActivity&amp;var_id="+var_id+"&amp;op2=showEditTable&amp;edit_activity_name1_var=" + encodeURIComponent(edit_activity_name1_var) + "&amp;edit_activity_description_var=" + encodeURIComponent(edit_activity_description_var) +"&amp;edit_field_grade_var=" + edit_field_grade_var + "&amp;edit_dateInit_var="+encodeURIComponent(edit_dateInit_var)+ "&amp;edit_dateEnd_var="+encodeURIComponent(edit_dateEnd_var)+"&amp;assignation={{=request.vars['assignation']}}"); 
							$("#activityDiv").load("{{=URL('activity_control','activity.html')}}?op=showInsert&amp;assignation={{=request.vars['assignation']}}");
						}else{
							alert("{{=T('The end date must be greater than start date')}}");
						}
					}
	        	}
	      	}
		}
	}

	function removeActivity(var_id){
		var r = confirm("{{=T('Do you want to delete this record?')}}");
		if (r == true) {
			$("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=removeActivity&amp;var_id="+var_id+"&amp;assignation={{=request.vars['assignation']}}");
			$("#activityDiv").load("{{=URL('activity_control','activity.html')}}?op=showInsert&amp;assignation={{=request.vars['assignation']}}");
		}else{
			$("#activityDiv").load("{{=URL('activity_control','activity.html')}}?op=showInsert&amp;assignation={{=request.vars['assignation']}}");
		}
	}
</script>