{{var_project_id=project}}
{{project_var=db(db.project.id==var_project_id).select().first()}}
{{var_do=False}}
<!--Check that the current date is in the period that de administrator has register-->
{{from datetime import datetime}}
{{date1=None}}
{{tiempo=str(datetime.now())}}
{{dateInicialP = db.executesql('SELECT date(\''+tiempo+'\');',as_dict=True)}}
{{for d0 in dateInicialP:}}
	{{date1=d0['date(\''+tiempo+'\')']}}
{{pass}}

{{exception_query = db(db.course_laboratory_exception.project == project).select().first()}}
{{exception_s_var = False}}
{{exception_t_var = False}}
{{no_menu=True}}

{{if exception_query is not None:}}
	{{exception_t_var = exception_query.t_edit_lab}}
	{{exception_s_var = exception_query.s_edit_course}}
{{pass}}
	
{{actualSemester = db(db.period_year.id==semestre2.id).select().first()}}
{{comparacion = T(actualSemester.period.name)+" "+str(actualSemester.yearp)}}
{{date_var = db((db.student_control_period.period_name==comparacion)).select().first()}}
{{if date1 >= date_var.date_start_semester and date1 <= date_var.date_finish_semester:}}
	{{var_do=True}}
{{pass}}
<!--End of the check of period-->
{{if (auth.has_membership('Super-Administrator')) or (auth.has_membership('Ecys-Administrator')) or ((auth.has_membership('Teacher') or auth.has_membership('Student')) and assigned_to_project == True):}}
	{{no_menu=False}}
{{pass}}

{{if cpfecys.current_year_period().id != semestre2.id:}}
	{{no_menu=True}}
{{pass}}

<!--***************************************************************************************************************************************************************************************************************************-->
<!--***************************************************************************************************************************************************************************************************************************-->
<!--***************************************************************************************************************************************************************************************************************************-->
<!--***************************************************************************************************************************************************************************************************************************-->
<!--***************************************************************************************************************************************************************************************************************************-->
<!--***************************************************************************************************************************************************************************************************************************-->
<!--***************************************************************************************************************************************************************************************************************************-->
<!--***************************************************************************************************************************************************************************************************************************-->
{{if  request.vars['op'] == "showTableNoEditable":}}
	<div>
		<center>
		<table>
			<tr>
				<td>
					<span class="label label-success">&nbsp;&nbsp;&nbsp;</span>&nbsp;<b>{{=T('Laboratory Activities')}} </b>
				</td>
				<td></td>
				<td>
					<span class="label label-warning">&nbsp;&nbsp;&nbsp;</span>&nbsp;<b>{{=T('Class Activities')}} </b>
				</td>
			</tr>
		</table>
		</center>
		<center>
	  	<table class="table table-bordered">
	  		<tr bgcolor="#E6E6E6">
	  			<th>
					{{=T('Name')}}
				</th>
				<th>
					{{=T('Description')}}
				</th>
				<th>
					{{=T('Report')}}
				</th>
				<th title="{{=T('Teacher Permition')}}">
					{{=T('TP')}}
				</th>
				<th>
					{{=T('Date')}}
				</th>
			</tr>
			{{editable_var='false'}}
			{{tActivitiesWM = db((db.course_activity_without_metric.semester==semestre2.id)&(db.course_activity_without_metric.assignation==var_project_id)).select()}}
			{{for tAct in tActivitiesWM:}}
				{{if no_menu==False:}}
					{{if tAct.laboratory==True:}}
						{{if auth.has_membership('Teacher')==True:}}
							{{if exception_t_var==True:}}
								{{if request.vars['op'] == "showEditActivity":}}
					            	{{if str(request.vars['var_id']) == str(tAct.id):}}
					            		{{editable_var='true'}}
					            	{{else:}}
					            		{{editable_var='false'}}
					            	{{pass}}
					        	{{pass}}
							{{pass}}
						{{else:}}
							{{if request.vars['op'] == "showEditActivity":}}
				            	{{if str(request.vars['var_id']) == str(tAct.id):}}
				            		{{editable_var='true'}}
				            	{{else:}}
				            		{{editable_var='false'}}
				            	{{pass}}
				        	{{pass}}
						{{pass}}
					{{else:}}
						{{if auth.has_membership('Student')==True:}}
							{{if exception_s_var==True:}}
								{{if request.vars['op'] == "showEditActivity":}}
					            	{{if str(request.vars['var_id']) == str(tAct.id):}}
					            		{{editable_var='true'}}
					            	{{else:}}
					            		{{editable_var='false'}}
					            	{{pass}}
					        	{{pass}}
							{{pass}}
						{{else:}}
							{{if request.vars['op'] == "showEditActivity":}}
				            	{{if str(request.vars['var_id']) == str(tAct.id):}}
				            		{{editable_var='true'}}
				            	{{else:}}
				            		{{editable_var='false'}}
				            	{{pass}}
				        	{{pass}}
						{{pass}}
					{{pass}}
				{{pass}}
				{{if tAct.laboratory==True:}}
					<tr class="label-success">
				{{else:}}
					<tr class="label-warning">
				{{pass}}
					<td>
						{{if editable_var=='true':}}
							<input class="string" name="edit_activity_name1" type="text" value="{{=tAct.name}}" id="edit_activity_name1" style="width:140px;">
						{{else:}}
							{{=tAct.name}}
						{{pass}}
					</td>
					<td>
						{{if editable_var=='true':}}
							<textarea class="string" cols="40" type="text" id="edit_activity_description" style="width:240px; height:100px;">{{=tAct.description}}</textarea>
						{{else:}}
							<div style="width:200px;">
								{{=tAct.description[:100]}}
								{{if len(tAct.description) > 100:}}
									...
									<br>
									<div align="right">
										<a type="button" style ="cursor:pointer;" role="button" data-toggle="modal" data-target="#des_modal_{{=tAct.id}}" >{{=T('View more')}}</span></a>
									</div>
							
									<!--MODAL -->
									<div id="ac_wm_des_modal_{{=tAct.id}}" class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true"> 
									  <div class="modal-header">
									    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									      <h3 id="myModalLabel">
									          {{=tAct.name}}
									      </h3>
									  </div>
									  <div class="modal-body">
									    <div class="well">
									        <pre>
									           {{=tAct.description}}
									        </pre>
									    </div>
									  </div>
									  <div class="modal-footer">
									      <button class="btn" data-dismiss="modal" aria-hidden="true">{{=T('Close')}}</button>
									  </div>
									</div>
									<!--Finish MODaL-->
								{{pass}}
							</div>
						{{pass}}
					</td>
					<td>
						{{if tAct.fileReport=="":}}
							{{=T('False')}} {{=T('Report')}}
						{{else:}}
							<a href="' + cpfecys.get_domain() + URL('default/download', tAct.fileReport) +'" target="blank"> '+ {{=T('Report')}} + '</a>
						{{pass}}
					</td>
					<td>
						{{if editable_var=='true' and tAct.laboratory==True and auth.has_membership('Student')==False:}}
							{{if str(tAct.teacher_permition) =='True':}}
								<input type="checkbox" name="edit_TPA_check"  id="edit_TPA_check" checked>
							{{else:}}
								<input type="checkbox" name="edit_TPA_check"  id="edit_TPA_check">
							{{pass}}
						{{else:}}
							{{=T(str(tAct.teacher_permition))}}
						{{pass}}
					</td>
					<td>
						{{if editable_var=='true':}}
							<input class="date" id="edit_dateInit" name="date_log" type="text" value="{{=tAct.date_start}}" style="width:75px;" placeholder="YYYY-MM-DD"/>
						{{else:}}
							{{=tAct.date_start}}
						{{pass}}
					</td>
				</tr>
			{{pass}}
	  	</table>
	</div>
{{pass}}