{{project_var = db(db.user_project.id == request.vars['assignation']).select().first() }}
{{total_var2=0}}
{{if auth.has_membership('Teacher'):}}
	{{weighting =  db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.laboratory==False)).select()}}
{{else:}}
	{{weighting =  db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) & (db.course_activity_category.laboratory==True)).select()}}
{{pass}}

{{for project in weighting:}}
	{{total_var2 = float(total_var2) + float(project.grade)}}				
{{pass}}

{{if request.vars['operation'] == "div_update": }}
		{{if auth.has_membership('Student'):}}
			{{from datetime import datetime}}
			{{enddate=None}}
			{{for date_var in db((db.student_control_period.period_name==T(str(semester))+" "+str(year))).select():}}
				{{if datetime.now() > date_var.date_start and datetime.now() < date_var.date_finish:}}
					{{enddate=date_var.date_finish}}					
				{{pass}}
			{{pass}}
			{{if enddate != None:}}
				<font color="red">{{=T('Deadline for entry activities with specific notes')}}: {{=enddate}}</font>
			{{pass}}
		{{pass}}
	<center>
		{{if float(total_var2) == 100:}}		
			<div id="table_activity">
			</div>
		{{else:}}
			<b><font color="red">{{=T('You must first create the weighting')}}</font></b>
		{{pass}}
		
	</center>
{{pass}}

{{if request.vars['operation'] == "menu_update": }}
	<!--Check that the current date is in the period that de administrator has register-->
	{{from datetime import datetime}}
	{{var_do='false'}}
	{{for date_var in db((db.student_control_period)).select():}}
		{{if datetime.now() >= date_var.date_start and datetime.now() <= date_var.date_finish:}}
			{{var_do='true'}}					
		{{pass}}
	{{pass}}
	<!--End of the check of period-->

	<ul class="dropdown"  class="close" aria-hidden="true"  style="height:10px;">
	  <a style="color:#f0ad4e;text-shadow:none;" class="dropdown-toggle" data-toggle="dropdown" href="">
	    <span class="icon-list"></span>
	  </a>
	  <h3 class="icon-white" style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">
	      {{=T('Scheduler') }}
	  </h3> 
	  <ul class="dropdown-menu">  
	  	

	  	<!--Create activity option-->
  		{{if float(total_var2) == 100:}}
			<li>
				<a  tabindex="-1" title="{{=T('Create activity')}}" id="menu_create_activity" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], f_view='activity_edit'))}}">
		{{else:}}
			<li class="disabled"> 
				<a  tabindex="-1" title="{{=T('Create activity')}}" id="menu_create_activity">
		{{pass}}
			<span class="icon-plus-sign"></span>{{=T('Create Activity')}}
			</a>
		</li>
		<!--Create activity option-->


		<!--Edit activity option-->
      	{{if float(total_var2) == 100 and auth.has_membership('Teacher'):}}
			<li>
				<a tabindex="-1"  title="{{=T('Modify activity')}}" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], f_view='activity_edit'))}}"> 
		{{elif float(total_var2) == 100 and var_do =='true':}}
			<li>
				<a tabindex="-1"  title="{{=T('Modify activity')}}" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], f_view='activity_edit'))}}"> 
		{{else:}}
		<li class="disabled"> 
			<a tabindex="-1"  title="{{=T('Modify activity')}}">
		{{pass}}
	          <span class="icon-edit" ></span>
	          {{=T('Edit Activity')}}
	        </a>
	     </li>
	     <!--Edit activity option-->


	     <!--Change request option-->
	    {{if auth.has_membership('Teacher'):}}
	    	{{None}}
	    {{else:}}
	    	{{if var_do == 'false' and float(total_var2) == 100:}}
	    		<li>
	    			<a role="button" title="{{=T('Request that the changes be reviewed by the professor or administrator')}}" aria-hidden="true" href="{{=URL('activity_control', 'request_change_activity',vars=dict(assignation = request.vars['assignation']))}}" >
						<span class="icon-black icon-fullscreen"></span>
						{{=T('Change Request')}}
					</a>
					<!--<a tabindex="-1"  title="{{=T('Request that the changes be reviewed by the professor or administrator')}}" href="#changeRequestActivity" role="button"  data-toggle="modal" data-target="#changeRequestActivity"  id="menu_re_activity">
			          <span class="icon-check" ></span>
			          {{=T('Change Request')}}
			        </a>-->
				</li>
	    	{{else:}}
	    		<li class="disabled"> 
					<a tabindex="-1"  title="{{=T('Request that the changes be reviewed by the professor or administrator')}}">
						<span class="icon-check" ></span>
			          {{=T('Change Request')}}
			        </a>
		      	</li>
	    	{{pass}}
	    {{pass}}
		<!--Change request option-->

	  </ul>
	</ul> 
{{pass}}

<script type="text/javascript">
  	$(document).ready(function(){
		$("#table_activity").load("{{=URL('activity_control','activity.html')}}?op=showTableNoEditable&amp;assignation={{=request.vars['assignation']}}");

		$("#menu_edit_activity").click(function(){
	      $("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=showEditTable&amp;assignation={{=request.vars['assignation']}}"); 
	    })
	    
	
	});
</script>