<!--Create Activity Modal -->
<div id="createActivity" > 
    <div>
      <center>
        <h3>          
            <h2><small>{{=T('Scheduler Activities Without Metric')}} - {{=name}}</small></h2>
        </h3>
      </center>
    </div>
    <div id="actions_activity"  style="overflow:auto; height:100%; width:100%;">
      <form action="" enctype="multipart/form-data" method="post" >
        <center>
          <table >
              <tr>
                <td align="left">                	
                  <div align="center" id="activityDiv" value="activityDiv" class="well span12" style="overflow:auto;  width:300px;">
                  </div>
                   <div align="right">
                    <a id="activityButton" href="#information_text" role="button" class="btn btn-info"  
                    title="{{=T('Add activity to scheduler')}}"> 
                    <span class="icon-plus-sign"></span>
                    {{=T('Add Activity')}}
                     </a>
                  </div>
                  
                </td>
                <td align="left">
                  <div class="well span11" id="div_activity_show" style="width:500px">
            	      
                  </div>
              	</td>
              </tr>
              
          </table>
			   </center>     	
        </div>

        <div align="center">

      </div>
    </form>
  </div>
</div>
  <!--Finish Create Activity Modal -->

  <script type="text/javascript">
  $(document).ready(function(){
    //Create
    $("#div_activity_show").load("{{=URL('activity_control','activity_without_metric.html')}}?op=showTable&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}"); 
    $("#activityDiv").load("{{=URL('activity_control','activity_without_metric.html')}}?op=showInsert&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}"); 
  });

  </script>