{{total_var2=0}}
{{activityPermition=0}}
{{if type=="class":}}
	{{weighting1 =  db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project.id) & (db.course_activity_category.laboratory==False)).select()}}
{{else:}}
	{{weighting1 =  db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project.id) & (db.course_activity_category.laboratory==True)).select()}}
{{pass}}

{{for category in weighting1:}}
	{{total_var2 = float(total_var2) + float(category.grade)}}
	{{if category.teacher_permition==True:}}
		{{activityPermition=activityPermition+1}}
	{{pass}}				
{{pass}}



{{if request.vars['operation'] == "div_update": }}
		{{if auth.has_membership('Student') and assigned_to_project == True and type=="lab":}}
			{{from datetime import datetime}}
			{{enddate=None}}
			{{for date_var in db((db.student_control_period.period_name==T(str(semester))+" "+str(year))).select():}}
				{{if datetime.now() > date_var.date_start and datetime.now() < date_var.date_finish:}}
					{{enddate=date_var.date_finish}}					
				{{pass}}
			{{pass}}
			{{if enddate != None:}}
				<center><font color="red">{{=T('Deadline for entry activities with specific notes')}}: {{=enddate}}</font></center>
			{{pass}}
		{{pass}}
	<center>
		{{if float(total_var2) == 100:}}
			<div id="table_activity">
				<center>{{=T('Loading')}}...</center>
			</div>
		{{else:}}
			{{if (auth.has_membership('Student') or auth.has_membership('Teacher')) and assigned_to_project == True:}}
				<b><font color="red">{{=T('You must first create the weighting')}}</font></b>
			{{else:}}
				<b><font color="red">{{=T('Exist a problem in the weighting, the activities can not show')}}</font></b>
			{{pass}}
		{{pass}}
		
	</center>
{{pass}}






{{if request.vars['operation'] == "menu_update": }}
	{{var_do='false'}}
	{{if auth.has_membership('Student'):}}
		<!--Check that the current date is in the period that de administrator has register-->
		{{from datetime import datetime}}
		{{for date_var in db((db.student_control_period)).select():}}
			{{if datetime.now() >= date_var.date_start and datetime.now() <= date_var.date_finish:}}
				{{var_do='true'}}					
			{{pass}}
		{{pass}}
		{{if var_do=='false':}}
			{{extraTime = db(db.course_limit_exception.project==project.id).select().first()}}
			{{if extraTime is not None:}}
				{{if datetime.now() >= date_var.date_start and datetime.now() <= extraTime.date_finish:}}
					{{var_do='true'}}
				{{pass}}
			{{pass}}
		{{pass}}
		<!--End of the check of period-->
	{{pass}}


	{{exception_query = db(db.course_laboratory_exception.project == project.id).select().first()}}
	{{exception_s_var = False}}
	{{exception_t_var = False}}
	{{no_menu=True}}

	{{if exception_query is not None:}}
		{{exception_t_var = exception_query.t_edit_lab}}
		{{exception_s_var = exception_query.s_edit_course}}
	{{pass}}

	{{if (auth.has_membership('Super-Administrator')) or (auth.has_membership('Teacher') and request.vars['type'] == "class"  and assigned_to_project == True) or (auth.has_membership('Student') and request.vars['type'] == "lab"  and assigned_to_project == True) or (auth.has_membership('Student')  and request.vars['type'] == "class" and (exception_s_var == True  or activityPermition>0)  and assigned_to_project == True) or (auth.has_membership('Teacher')  and request.vars['type'] == "lab" and exception_t_var == True  and assigned_to_project == True):}}
		{{no_menu=False}}
	{{pass}}

	<ul class="dropdown"  class="close" aria-hidden="true"  style="height:10px;" title="Menu">
		<a style="color:#f0ad4e;text-shadow:none;" class="dropdown-toggle" data-toggle="dropdown" href="">
	    	<img src="{{=URL('static','images')}}/academic_control/four74.png" height="20px" width="20px">
	  	</a>
	  	<h3 class="icon-white" style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">
			{{=T('Scheduler') }}
		</h3> 
		<ul class="dropdown-menu">  
	  	

	  	{{import cpfecys}}
	  	{{no_actions=False}}
	  	{{if cpfecys.current_year_period().id==semestre2.id:}}
	  		{{course_ended_var = db((db.course_ended.project==project) & (db.course_ended.period==semestre2.id) ).select().first() }}
			{{if course_ended_var != None:}}
				{{if course_ended_var.finish == True:}}
					{{no_actions=True}}
				{{pass}}
			{{pass}}
			{{if no_actions==False:}}
			  	{{if no_menu == False:}}
					  	<!--Create activity option-->
				  		{{if float(total_var2) == 100:}}
				  			{{if request.vars['type']=="lab":}}
				  				{{weighting = db((db.request_change_weighting.status=='pending')&(db.request_change_weighting.project==request.vars['project'])&(db.request_change_weighting.period==request.vars['year'])).select().first()}}
								{{if weighting!=None:}}
									<li class="disabled"> 
										<a  tabindex="-1" title="{{=T('Create activity')}}" id="menu_create_activity">
								{{else:}}
									<li>
										<a  tabindex="-1" title="{{=T('Create activity')}}" id="menu_create_activity" href="{{=URL('activity_control', 'students_control_full',vars=dict(project = request.vars['project'], year = request.vars['year'], f_view='activity_edit',type=request.vars['type']))}}">
								{{pass}}
				  			{{else:}}
				  				<li>
									<a  tabindex="-1" title="{{=T('Create activity')}}" id="menu_create_activity" href="{{=URL('activity_control', 'students_control_full',vars=dict(project = request.vars['project'], year = request.vars['year'], f_view='activity_edit',type=request.vars['type']))}}">
				  			{{pass}}
						{{else:}}
							<li class="disabled"> 
								<a  tabindex="-1" title="{{=T('Create activity')}}" id="menu_create_activity">
						{{pass}}
							<span class="icon-plus-sign"></span>{{=T('Create Activity')}}
							</a>
						</li>
						<!--Create activity option-->

						<!--Edit activity option-->
				      	{{if float(total_var2) == 100 and auth.has_membership('Student')==True and request.vars['type']=="lab":}}
				      		{{if var_do=='true':}}
				      			{{weighting = db((db.request_change_weighting.status=='pending')&(db.request_change_weighting.project==request.vars['project'])&(db.request_change_weighting.period==request.vars['year'])).select().first()}}
								{{if weighting!=None:}}
									<li class="disabled"> 
										<a tabindex="-1"  title="{{=T('Modify activity')}}">
								{{else:}}
									<li>
										<a tabindex="-1"  title="{{=T('Modify activity')}}" id="menu_edit_activity" href="{{=URL('activity_control', 'students_control_full',vars=dict(project = request.vars['project'], year = request.vars['year'], f_view='activity_edit',type=request.vars['type']))}}"> 
								{{pass}}
							{{else:}}
								<li class="disabled"> 
									<a tabindex="-1"  title="{{=T('Modify activity')}}">
							{{pass}}
						{{elif float(total_var2)==100:}}
							{{if request.vars['type']=="lab":}}
				  				{{weighting = db((db.request_change_weighting.status=='pending')&(db.request_change_weighting.project==request.vars['project'])&(db.request_change_weighting.period==request.vars['year'])).select().first()}}
								{{if weighting!=None:}}
									<li class="disabled"> 
										<a tabindex="-1"  title="{{=T('Modify activity')}}">
								{{else:}}
									<li>
										<a tabindex="-1"  title="{{=T('Modify activity')}}" id="menu_edit_activity" href="{{=URL('activity_control', 'students_control_full',vars=dict(project = request.vars['project'], year = request.vars['year'], f_view='activity_edit',type=request.vars['type']))}}">
								{{pass}}
				  			{{else:}}
				  				<li>
									<a tabindex="-1"  title="{{=T('Modify activity')}}" id="menu_edit_activity" href="{{=URL('activity_control', 'students_control_full',vars=dict(project = request.vars['project'], year = request.vars['year'], f_view='activity_edit',type=request.vars['type']))}}">
				  			{{pass}}
						{{else:}}
							<li class="disabled"> 
								<a tabindex="-1"  title="{{=T('Modify activity')}}">
						{{pass}}
					          <span class="icon-edit" ></span>
					          {{=T('Edit Activity')}}
					        </a>
					     </li>
					     <!--Edit activity option-->

					     <!--Validate Laboratory option-->
						{{if request.vars['type']=="lab":}}
							{{if float(total_var2) == 100:}}
				  				<li>
									<a  tabindex="-1" title="{{=T('Validate Laboratory')}}" aria-hidden="true" href="{{=URL('activity_control', 'validate_laboratory',vars=dict(project = request.vars['project'], year = request.vars['year']))}}" >
							{{else:}}
								<li class="disabled">
									<a  tabindex="-1" title="{{=T('Validate Laboratory')}}">
							{{pass}}
								<span class="icon-check"></span>{{=T('Validate Laboratory')}}
								</a>
							</li>
						{{pass}}
						<!--Validate Laboratory option-->

						 <!--Laboratory replacing option-->
						{{if request.vars['type']=="lab":}}
							{{if float(total_var2) == 100:}}
				  				<li>
									<a  tabindex="-1" title="{{=T('Laboratory Equivalence')}}" aria-hidden="true" href="{{=URL('activity_control', 'laboratory_replacing',vars=dict(project = request.vars['project'], year = request.vars['year']))}}" >
							{{else:}}
								<li class="disabled">
									<a  tabindex="-1" title="{{=T('Laboratory Equivalence')}}">
							{{pass}}
								<span class="icon-certificate"></span>{{=T('Laboratory Equivalence')}}
								</a>
							</li>
						{{pass}}
						<!--Laboratory replacing option-->

					{{if auth.has_membership('Student') and request.vars['type']=="lab":}}
					     <!--Change request option-->
				    	{{if var_do == 'false' and float(total_var2) == 100:}}
				    		<li>
				    			<a role="button" title="{{=T('Request that the changes be reviewed by the professor or administrator')}}" aria-hidden="true" href="{{=URL('activity_control', 'request_change_activity',vars=dict(project = request.vars['project'], year = request.vars['year']))}}" >
									<span class="icon-black icon-random"></span>
									{{=T('Change Request')}}
								</a>
							</li>
				    	{{else:}}
				    		<li class="disabled"> 
								<a tabindex="-1"  title="{{=T('Request that the changes be reviewed by the professor or administrator')}}">
									<span class="icon-random" ></span>
						          {{=T('Change Request')}}
						        </a>
					      	</li>
				    	{{pass}}
					    <!--Change request option-->
				    {{pass}}
				{{pass}}
			{{elif no_menu == False:}}
				 <!--Validate Laboratory option-->
				{{if request.vars['type']=="lab":}}
					{{if float(total_var2) == 100:}}
		  				<li>
							<a  tabindex="-1" title="{{=T('Validate Laboratory')}}" aria-hidden="true" href="{{=URL('activity_control', 'validate_laboratory',vars=dict(project = request.vars['project'], year = request.vars['year']))}}" >
					{{else:}}
						<li class="disabled">
							<a  tabindex="-1" title="{{=T('Validate Laboratory')}}">
					{{pass}}
						<span class="icon-check"></span>{{=T('Validate Laboratory')}}
						</a>
					</li>
				{{pass}}
				<!--Validate Laboratory option-->

				<!--Laboratory replacing option-->
				{{if request.vars['type']=="lab":}}
					{{if float(total_var2) == 100:}}
		  				<li>
							<a  tabindex="-1" title="{{=T('Laboratory Equivalence')}}" aria-hidden="true" href="{{=URL('activity_control', 'laboratory_replacing',vars=dict(project = request.vars['project'], year = request.vars['year']))}}" >
					{{else:}}
						<li class="disabled">
							<a  tabindex="-1" title="{{=T('Laboratory Equivalence')}}">
					{{pass}}
						<span class="icon-certificate"></span>{{=T('Laboratory Equivalence')}}
						</a>
					</li>
				{{pass}}
				<!--Laboratory replacing option-->
			{{pass}}
		{{pass}}


		{{if float(total_var2) == 100:}}
		    <li>
				<a tabindex="-1"  title="{{=T('General Report of Activities')}}" href="{{=URL('activity_control', 'General_report_activities',vars=dict(project = request.vars['project'], period = request.vars['year'], type=request.vars['type']))}}"> 
					<span class="icon-file"></span>
				{{=T('General Report of Activities')}}
				</a>
			</li>
		{{else:}}
			<li class="disabled"> 
				<a tabindex="-1"  title="{{=T('General Report of Activities')}}" href="{{=URL('activity_control', 'General_report_activities',vars=dict(project = request.vars['project'], period = request.vars['year'], type=request.vars['type']))}}"> 
					<span class="icon-file"></span>
				{{=T('General Report of Activities')}}
				</a>
			</li>
		{{pass}}


	  </ul>
	</ul> 
{{pass}}

<script type="text/javascript">
  	$(document).ready(function(){
		$("#table_activity").load("{{=URL('activity_control','activity.html')}}?op=showTableNoEditable&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}&amp;type={{=request.vars['type']}}");

		$("#menu_edit_activity").click(function(){
	      $("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=showEditTable&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}&amp;type={{=request.vars['type']}}"); 
	    })
	});
</script>