{{try:}}
	{{project_var = db(db.user_project.id == request.vars['assignation']).select().first() }}
	{{var_project_id = project_var.project.id}}
{{except:}}
	{{var_project_id=project}}
{{pass}}
{{total_var2=0}}

{{if request.vars['type'] == 'course':}}
	{{for project in db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==var_project_id) & (db.course_activity_category.laboratory==False)).select():}}		
		{{total_var2 = float(total_var2) + float(project.grade)}}				
	{{pass}}
{{else:}}
	{{for project in db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==var_project_id) & (db.course_activity_category.laboratory==True)).select():}}		
		{{total_var2 = float(total_var2) + float(project.grade)}}				
	{{pass}}
{{pass}}

{{if request.vars['operation'] == "div_update": }}
	<center>		
		{{if float(total_var2) == 100:}}		
			<div id="table_Weighting_{{=request.vars['type']}}" sytle="overflow:auto;" >
			</div>
		{{else:}}
			<b><font color="red">{{=T('Weighting was not created or is incorrect')}}</font></b>
			{{if auth.has_membership('Student'):}}
				{{from datetime import datetime}}
				{{enddate=None}}
				{{for date_var in db((db.student_control_period.period_name==T(str(semester))+" "+str(year))).select():}}
					{{if datetime.now() > date_var.date_start and datetime.now() < date_var.date_finish:}}
						{{enddate=date_var.date_finish}}					
					{{pass}}
				{{pass}}
				{{if enddate != None:}}
					<br><font color="red">{{=T('Deadline for entry')}}: {{=enddate}}</font><br>
					<br>
					<a id="myButton" class="btn btn-warning" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year'], f_view='weighting_edit'))}}"> 
						<span class="icon-plus-sign"></span>
						{{=T('Create Weighting')}}
					</a>
				{{pass}}
			{{else:}}
				<br>
				<a id="myButton" class="btn btn-warning" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year'], f_view='weighting_edit'))}}"> 
					<span class="icon-plus-sign"></span>
					{{=T('Create Weighting')}}
				</a>
			{{pass}}
			
		{{pass}}
		
	</center>
{{pass}}

{{if request.vars['operation'] == "menu_update": }}
	{{exception_query = db(db.course_laboratory_exception.project == request.vars['project']).select().first()}}
	
	{{if exception_query is None:}}
		{{exception_s_var = False}}
		{{exception_t_var = False}}
	{{else:}}
		{{exception_t_var = exception_query.t_edit_lab}}
		{{exception_s_var = exception_query.s_edit_course}}
		
	{{pass}}
	
	{{no_menu=True}}
	{{if (auth.has_membership('Teacher') and request.vars['type'] == "course") or (auth.has_membership('Student') and request.vars['type'] == "lab") or (auth.has_membership('Student')  and request.vars['type'] == "course" and exception_s_var == True) or (auth.has_membership('Teacher')  and request.vars['type'] == "lab" and exception_t_var == True):}}
		{{no_menu=False}}
	{{pass}}

		<ul class="dropdown"  class="close" aria-hidden="true"  style="height:10px;">
		{{if no_menu == False:}}
		  <a style="color:#f0ad4e;text-shadow:none;" class="dropdown-toggle" data-toggle="dropdown" href="">
		    <span class="icon-list"></span>
		  </a>
	 	{{pass}}
		  <h3 class="icon-white" style="white-space:nowrap;">
		  	{{if request.vars['type'] == "course":}}
		  		{{=T('Course Weighting') }}
		  	{{else:}}
		  		{{=T('Laboratory Weighting') }}
		  	{{pass}}
		      
		  </h3> 
		  <ul class="dropdown-menu">  
	  	          
	      	{{if float(total_var2) == 100:}}
	      		{{if auth.has_membership('Teacher'):}}
	      			<li class="disabled"> 
						<a  tabindex="-1" title="{{=T('Create course weighting')}}" id="menu_create_weighting" >
							<span class="icon-plus-sign"></span>
			        		{{=T('Create Weighting')}}
				        </a>
				    </li>
				    <li class="disabled"> 
						<a  tabindex="-1" title="{{=T('Get weighting of previous semesters')}}" id="menu_create_weighting" >
							<span class="icon-repeat"></span>
			        		{{=T('Get Weighting')}}
				        </a>
				    </li>
					<li>
						<a tabindex="-1"  title="{{=T('Modify course weighting')}}" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year'], f_view='weighting_edit'))}}" role="button"   id="edit_option"> 
							<span class="icon-edit" ></span>
				          {{=T('Edit Weighting')}}
				        </a>
				      </li>
				{{else:}}
					{{from datetime import datetime}}
					{{var_do='false'}}
					{{for date_var in db((db.student_control_period.period_name==T(str(semester))+" "+str(year))).select():}}
						{{if datetime.now() > date_var.date_start and datetime.now() < date_var.date_finish:}}
							{{var_do='true'}}					
						{{pass}}
					{{pass}}
					{{if var_do =='true':}}
						<li class="disabled"> 
							<a tabindex="-1"  title="{{=T('Create course weighting')}}">
								<span class="icon-edit" ></span>
				          		{{=T('Create Weighting')}}
				        	</a>
				      	</li>
				      	<li class="disabled"> 
							<a  tabindex="-1" title="{{=T('Get weighting of previous semesters')}}" id="menu_create_weighting" >
								<span class="icon-repeat"></span>
				        		{{=T('Get Weighting')}}
					        </a>
					    </li>
						<li>
						<li>
							<a tabindex="-1"  title="{{=T('Modify course weighting')}}" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year'], f_view='weighting_edit'))}}" role="button"   id="edit_option"> 
								<span class="icon-edit" ></span>
				          		{{=T('Edit Weighting')}}
				        	</a>
				      	</li>
					{{else:}}
						<li class="disabled"> 
							<a tabindex="-1"  title="{{=T('Create course weighting')}}">
								<span class="icon-edit" ></span>
				         		{{=T('Create Weighting')}}
				        	</a>
				      	</li>
				      	<li class="disabled"> 
							<a  tabindex="-1" title="{{=T('Get weighting of previous semesters')}}" id="menu_create_weighting" >
								<span class="icon-repeat"></span>
				        		{{=T('Get Weighting')}}
					        </a>
					    </li>
						<li>
						<li class="disabled"> 
							<a tabindex="-1"  title="{{=T('Modify course weighting')}}">
							<span class="icon-edit" ></span>
				          {{=T('Edit Weighting')}}
				        </a>
				      </li>
					{{pass}}
				{{pass}}
			{{else:}}
				{{if auth.has_membership('Teacher'):}}
					<li>
						<a  tabindex="-1" title="{{=T('Create course weighting')}}" id="menu_create_weighting" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year'], f_view='weighting_edit'))}}" role="button"   id="edit_option">
							<span class="icon-plus-sign"></span>
			          		{{=T('Create Weighting')}}
			        	</a>
			      	</li>
			      	<li> 
						<a  tabindex="-1"  title="{{=T('Get weighting of previous semesters')}}" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year'], f_view='weighting_get'))}}" role="button"   id="edit_option">
							<span class="icon-repeat"></span>
			        		{{=T('Get Weighting')}}
				        </a>
				    </li>
					<li>

			      {{else:}}
			      	{{from datetime import datetime}}
					{{var_do='false'}}
					{{for date_var in db((db.student_control_period.period_name==T(str(semester))+" "+str(year))).select():}}
						{{if datetime.now() > date_var.date_start and datetime.now() < date_var.date_finish:}}
							{{var_do='true'}}					
						{{pass}}
					{{pass}}
					{{if var_do =='true':}}
						<li>
							<a  tabindex="-1" title="{{=T('Create course weighting')}}" id="menu_create_weighting" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year'], f_view='weighting_edit'))}}" role="button"   id="edit_option">
								<span class="icon-plus-sign"></span>
			          			{{=T('Create Weighting')}}
			        		</a>
				      	</li>
				      	<li> 
							<a  tabindex="-1"  title="{{=T('Get weighting of previous semesters')}}" href="{{=URL('activity_control', 'students_control_full',vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year'], f_view='weighting_get'))}}" role="button"   id="edit_option">
								<span class="icon-repeat"></span>
				        		{{=T('Get Weighting')}}
					        </a>
					    </li>
					{{else:}}
						<li class="disabled"> 
							<a tabindex="-1"  title="{{=T('Create course weighting')}}">
								<span class="icon-plus-sign" ></span>
				          		{{=T('Create Weighting')}}
				        	</a>
				      	</li>
				      	<li class="disabled"> 
							<a  tabindex="-1"  title="{{=T('Get weighting of previous semesters')}}" >
								<span class="icon-repeat"></span>
				        		{{=T('Get Weighting')}}
					        </a>
					    </li>
					{{pass}}

			      {{pass}}
				<li class="disabled"> 
					<a tabindex="-1"  title="{{=T('Modify course weighting')}}">
					<span class="icon-edit" ></span>
		          {{=T('Edit Weighting')}}
		        </a>
		      </li>
			{{pass}}
		          
		    
			
			{{pass}}
		        
		  </ul>
		</ul> 
	
{{pass}}

<script type="text/javascript">
  	$(document).ready(function(){
		$("#table_Weighting_{{=request.vars['type']}}").load("{{=URL('activity_control','weighting.html')}}?op=showTableNoEditable&amp;type={{=request.vars['type']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}&amp;assignation={{=request.vars['assignation']}}");
		
		$("#edit_option").click(function(){
	      $("#div_weighting_show").load("{{=URL('activity_control','weighting.html')}}?op=showEditTable&amp;project={{=request.vars['project']}}}&amp;year={{=request.vars['year']}}&amp;assignation={{=request.vars['assignation']}}"); 
	    })

	    
			
	});

</script>

