{{project_var = db(db.user_project.id == request.vars['assignation']).select().first() }}
{{total_var2=0}}

{{for project in db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id)).select():}}		
	{{total_var2 = float(total_var2) + float(project.grade)}}				
{{pass}}

{{if request.vars['operation'] == "div_update": }}
	<center>		
		{{if float(total_var2) == 100:}}		
			<div id="table_Weighting">
			</div>
		{{else:}}
			<b><font color="red">{{=T('Weighting was not created')}}</font></b>
			<br>
			<a id="myButton" href="#createWeighting" role="button" class="btn btn-warning" data-toggle="modal" data-target="#createWeighting"  > 
				<span class="icon-plus-sign"></span>
				{{=T('Create Weighting')}}
			</a>
		{{pass}}
		
	</center>
{{pass}}

{{if request.vars['operation'] == "menu_update": }}

	<ul class="dropdown"  class="close" aria-hidden="true"  style="height:10px;">
	  <a style="color:#f0ad4e;text-shadow:none;" class="dropdown-toggle" data-toggle="dropdown" href="">
	    <span class="icon-list"></span>
	  </a>
	  <h3 class="icon-white" style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">
	      {{=T('Weighting') }}
	  </h3> 
	  <ul class="dropdown-menu">  
  		{{if float(total_var2) == 100:}}
		<li class="disabled"> 
			<a  tabindex="-1" title="{{=T('Create course weighting')}}" id="menu_create_weighting" >
		{{else:}}
		<li>
			<a  tabindex="-1" title="{{=T('Create course weighting')}}" id="menu_create_weighting" href="#createWeighting" role="button"  data-toggle="modal" data-target="#createWeighting"  >
		{{pass}}
	          <span class="icon-plus-sign"></span>
	          {{=T('Create Weighting')}}
	        </a>
	      </li>
      	{{if float(total_var2) == 100:}}
      		{{if auth.has_membership('Teacher'):}}
				<li>
					<a tabindex="-1"  title="{{=T('Modify course weighting')}}" href="#createWeighting" role="button"  data-toggle="modal" data-target="#createWeighting"  id="edit_option"> 
			{{else:}}
				{{from datetime import datetime}}
				{{var_do='false'}}
				{{for date_var in db((db.student_control_period)).select():}}
					{{if datetime.now() > date_var.date_start and datetime.now() < date_var.date_finish:}}
						{{var_do='true'}}					
					{{pass}}
				{{pass}}
				{{if var_do =='true':}}
					<li>
					<a tabindex="-1"  title="{{=T('Modify course weighting')}}" href="#createWeighting" role="button"  data-toggle="modal" data-target="#createWeighting"  id="edit_option"> 
				{{else:}}
					<li class="disabled"> 
						<a tabindex="-1"  title="{{=T('Modify course weighting')}}">
				{{pass}}
			{{pass}}
		{{else:}}
		<li class="disabled"> 
			<a tabindex="-1"  title="{{=T('Modify course weighting')}}">
		{{pass}}
	          <span class="icon-edit" ></span>
	          {{=T('Edit Weighting')}}
	        </a>
	      </li>
	    {{if float(total_var2) == 100:}}
			{{if auth.has_membership('Teacher'):}}
				{{None}}
			{{else:}}
				{{from datetime import datetime}}
				{{var_do='false'}}
				{{for date_var in db((db.student_control_period)).select():}}
					{{if datetime.now() > date_var.date_start and datetime.now() < date_var.date_finish:}}
				      	{{var_do='true'}}	
					{{pass}}
				{{pass}}
				{{if var_do == 'true':}}
					<li class="disabled"> 
							<a tabindex="-1"  title="{{=T('Modify course weighting')}}">
								<span class="icon-check" ></span>
					          {{=T('Change Request')}}
					        </a>
				      	</li>
				{{else:}}
					<li>
							<a tabindex="-1"  title="{{=T('Request that the changes be reviewed by the professor or administrator')}}" href="#createWeighting" role="button"  data-toggle="modal" data-target="#createWeighting"  id="re_option">
				          <span class="icon-check" ></span>
				          {{=T('Change Request')}}
				        </a>
				      </li>
				{{pass}}
			{{pass}}
		{{else:}}
			{{if auth.has_membership('Teacher'):}}
				{{None}}
			{{else:}}
				<li class="disabled"> 
					<a tabindex="-1"  title="{{=T('Modify course weighting')}}">
						<span class="icon-check" ></span>
			          {{=T('Change Request')}}
			        </a>
		      	</li>
			{{pass}}
		{{pass}}
	        
	  </ul>
	</ul> 
{{pass}}

<script type="text/javascript">
  	$(document).ready(function(){
		$("#table_Weighting").load("{{=URL('activity_control','weighting.html')}}?op=showTableNoEditable&amp;assignation={{=request.vars['assignation']}}");

		$("#edit_option").click(function(){
	      $("#div_weighting_show").load("{{=URL('activity_control','weighting.html')}}?op=showEditTable&amp;assignation={{=request.vars['assignation']}}"); 
	    })
			
	});

</script>

