{{extend 'template.html'}}
<h1>{{=T('Students Control')}}</h1>
<table class="table table-striped table-bordered">
	<thead>
		<th>{{=T('Project')}}</th>
		<th>{{=T('Section')}}</th>
		<th>{{=T('View')}}</th>
	</thead>
	<tbody>
		{{for assignation in assignations:}}
		<tr>
			<td>{{=split_name(assignation.project.name)}}</td>
			<td>{{=split_section(assignation.project.name)}}</td>
			<td>
				<center>
					<a class="btn" href="{{=URL('activity_control', 'students_control', vars=dict(assignation = assignation.id, project = assignation.project))}}">{{=T('Go')}}
					</a>
				</center>
			</td>
		</tr>
		{{pass}}
	</tbody>
</table>