{{extend 'template.html'}}
<div>
	<a href="{{=URL('activity_control', 'General_report_activities', vars=dict(project = project.id, period = year.id, type = 'class', op='2'))}}" class="btn" ><i class="icon-arrow-left"></i> 
		{{=T('Back')}}
	</a>
</div>
<h2>
	{{=T('First Recovery Test')}}
	<br>
	<small>
		{{=project.name}} - {{=T(year.period.name)}} {{=str(year.yearp)}}
    </small>
</h2>

{{=grid}}
<script type="text/javascript">
	$(document).ready(function(){
		$("#course_first_recovery_test_carnet").find('option').remove().end();
		var lista=document.getElementById("course_first_recovery_test_carnet");
		lista.options.add(new Option("",""));
		
		{{for studentsOnly in students:}}
			lista.options.add(new Option({{=str(studentsOnly.carnet.carnet)}},{{=studentsOnly.carnet}}));
		{{pass}}
	});
</script>