{{extend 'template.html'}}
<div class="row-fluid">
    <div class="well span12"  style="overflow:auto;">
		<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
        <table class="table-striped table-bordered" style="align:0 auto;">
        <tr>
          <td>
          <form class="form-inline" 
          action="{{=URL('activity_control','courses_list')}}" 
            method='get'>
                 <select name="period">
                    {{for period in periods:}}
                      <option value="{{=period.id}}">
                      {{=T(period.period.name)}}-{{=period.yearp}}
                      </option>
                    {{pass}}
                </select>
                <input class="btn" type="submit" value="{{=T('Filter')}}">
          </form>
          </td>
        </tr>
        </table>

        <h1>{{=T('Academic Control')}}
			<br>
			<small>{{=T(periodo.period.name)}} {{=str(periodo.yearp)}}</small>
        </h1>
        
        {{if auth.has_membership('Teacher') or auth.has_membership('Super-Administrator') or auth.has_membership('Ecys-Administrator'):}}
        
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<td colspan='6'  >
						<div align="right">
							<table class="table-bordered">
								<tr>
									<td>
										<small>
									
											<center>
												<b>{{=T('Legend')}}:</b>

												<br>
													{{=T('The performance of students')}}:
											</center>
										</small>
									</td><td>
										<small>
											<br>
											<center>

												<span class="label label-success">&nbsp;&nbsp;&nbsp;</span> {{=T('Is excellent')}}
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<span class="label label-warning">&nbsp;&nbsp;&nbsp;</span> {{=T('Is average')}}
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												<span class="label label-important">&nbsp;&nbsp;&nbsp;</span> {{=T('Below average')}}
											</center>
										</small>
									</td>
								</tr>
							</table>
						</div>
					</td>
					
				</tr>
				<tr>
					<th width="50%">{{=T('Course')}}<br><br></th>
					<th width="20%">{{=T('Section')}}<br><br></th>
					<th width="10%" style="white-space:inherit;"><center>{{=T('Course Average')}}</center></th>
					<th  width="10%" style="white-space:inherit;"><center>{{=T('Laboratory Average')}}</center></th>
					<th width="10%"><center>{{=T('View')}}<br><br></center></th>
				</tr>
			</thead>
			<tbody>
				{{for course in coursesAdmin:}}
				<tr>
					{{if auth.has_membership('Teacher'):}}
						<td>{{=split_name(course.user_project.project.name)}}</td>
						<td>{{=split_section(course.user_project.project.name)}}</td>
						<td>
							<div id="label_average_{{=course.user_project.project.id}}"><center>{{=T('Calculating')}}...</center></div>
							<script type="text/javascript">
								 $("#label_average_{{=course.user_project.project.id}}").load("{{=URL('activity_control','semaphore.load')}}?project={{=course.user_project.project.id}}&amp;period={{=periodo.id}}&amp;laboratory=False");
							</script>
							<center>
								<span id="average_course_{{=course.user_project.project.id}}" >

          						</span>
							</center>
						</td>
						<td>
							<center>
								<span id="average_lab_{{=course.user_project.project.id}}" >
									{{=T('Calculating')}}...
	          					</span>
          					</center>
						</td>
					{{else:}}
						<td>{{=split_name(course.name)}}</td>
						<td>{{=split_section(course.name)}}</td>
						<td>
							<div id="label_average_{{=course.id}}"><center>{{=T('Calculating')}}...</center></div>
							<script type="text/javascript">
								 $("#label_average_{{=course.id}}").load("{{=URL('activity_control','semaphore.load')}}?project={{=course.id}}&amp;period={{=periodo.id}}&amp;laboratory=False");
							</script>
							<center>
								<span id="average_course_{{=course.id}}" >

          						</span>
							</center>
						</td>
						<td>
							<center>
								<span id="average_lab_{{=course.id}}" >
									{{=T('Calculating')}}...
	          					</span>
          					</center>
						</td>
					{{pass}}
					<td>
						<center>
							{{if auth.has_membership('Super-Administrator'):}}
							<a class="btn" href="{{=URL('activity_control', 'students_control', vars=dict(project = course.id, period=periodo.id))}}">{{=T('Sign in')}}
							{{else:}}
							<a class="btn" href="{{=URL('activity_control', 'students_control', vars=dict( project = course.user_project.project, period=periodo.id))}}">{{=T('Sign in')}}
							{{pass}}
							</a>
						</center>
					</td>
				</tr>
				{{pass}}
			</tbody>
			
		</table>
		{{else:}}
			{{if countcoursesAdminT>0:}}
				<table class="table table-striped table-bordered">
					<tr>
						<td>
							<h2><center>{{=T('Final Practice')}}</center></h2>
						<table class="table table-striped table-bordered">
						
						<tr>
							<td colspan='6'  >
								<div align="right">
									<table class="table-bordered">
										<tr>
											<td>
												<small>
											
													<center>
														<b>{{=T('Legend')}}:</b>

														<br>
															{{=T('The performance of students')}}:
													</center>
												</small>
											</td><td>
												<small>
													<br>
													<center>

														<span class="label label-success">&nbsp;&nbsp;&nbsp;</span> {{=T('Is excellent')}}
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<span class="label label-warning">&nbsp;&nbsp;&nbsp;</span> {{=T('Is average')}}
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<span class="label label-important">&nbsp;&nbsp;&nbsp;</span> {{=T('Below average')}}
													</center>
												</small>
											</td>
										</tr>
									</table>
								</div>
							</td>
							
						</tr>
						<tr bgcolor="#F2F2F2">
							<th width="50%">{{=T('Course')}}<br><br></th>
							<th width="20%"><center>{{=T('Section')}}<br><br></center></th>
							<th width="10%" style="white-space:inherit;"><center>{{=T('Course Average')}}</center></th>
							<th width="10%" style="white-space:inherit;"><center>{{=T('Laboratory Average')}}</center></th>
							<th width="10%"><center>{{=T('View')}}<br><br></center></th>
						</tr>
						{{for course in coursesAdmin:}}
							<tr>
								<td>{{=split_name(course.user_project.project.name)}}</td>
								<td><center>{{=split_section(course.user_project.project.name)}}</center></td>
								<td>
									<div id="label_average_{{=course.user_project.project.id}}"><center>{{=T('Calculating')}}...</center></div>
									<script type="text/javascript">
										 $("#label_average_{{=course.user_project.project.id}}").load("{{=URL('activity_control','semaphore.load')}}?project={{=course.user_project.project.id}}&amp;period={{=periodo.id}}");
									</script>
									<center>
										<span id="average_course_{{=course.user_project.project.id}}" >

		          						</span>
									</center>
								</td>
								<td>
									<center>
										<span id="average_lab_{{=course.user_project.project.id}}" >
											{{=T('Calculating')}}...
			          					</span>
		          					</center>
								</td>
								<td>
									<center>
										<a class="btn btn-primary" href="{{=URL('activity_control', 'students_control', vars=dict( project = course.user_project.project, period=periodo.id))}}">{{=T('Sign in')}}
										</a>
									</center>
								</td>
							</tr>
						{{pass}}
							
						</table>
					</td>
				</tr>
			</table>
			{{pass}}

			{{if countcoursesAdminT!=0 and coursesStudentT!=0:}}
			<br><br>
			{{pass}}
			
			{{if coursesStudentT>0:}}
				<table class="table table-striped table-bordered">
					<tr>
						<td>
							<h2><center>{{=T('Assigned Courses')}}</center></h2>

							<table class="table table-striped table-bordered" > 
							
							<tr>
								<td colspan='6'  >
									<div align="right">
										<table class="table-bordered">
											<tr>
												<td>
													<small>
												
														<center>
															<b>{{=T('Legend')}}:</b>

															<br>
																{{=T('Your performance is')}}:
														</center>
													</small>
												</td><td>
													<small>
														<br>
														<center>

															<span class="label label-success">&nbsp;&nbsp;&nbsp;</span> {{=T('Is excellent')}}
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<span class="label label-warning">&nbsp;&nbsp;&nbsp;</span> {{=T('Is average')}}
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<span class="label label-important">&nbsp;&nbsp;&nbsp;</span> {{=T('Below average')}}
														</center>
													</small>
												</td>
											</tr>
										</table>
									</div>
								</td>
								
							</tr>
							<tr bgcolor="#F2F2F2">
								<th width="50%">{{=T('Course')}}</th>
								<th width="20%"><center>{{=T('Section')}}</center></th>
								<th width="10%" style="white-space:inherit;"><center>{{=T('Course Average')}}</center></th>
								<th  width="10%" style="white-space:inherit;"><center>{{=T('Laboratory Average')}}</center></th>
								<th width="10%"><center>{{=T('View')}}</center></th>
							</tr>
							{{for course in coursesStudent:}}
								<tr>
									<td>{{=split_name(course.academic_course_assignation.assignation.name)}}</td>
									<td><center>{{=split_section(course.academic_course_assignation.assignation.name)}}</center></td>
									<td>
										<div id="label_average_course_{{=course.academic_course_assignation.assignation}}"><center>{{=T('Calculating')}}...</center></div>
										<script type="text/javascript">
											 $("#label_average_course_{{=course.academic_course_assignation.assignation}}").load("{{=URL('activity_control','semaphore.load')}}?project={{=course.academic_course_assignation.assignation}}&amp;period={{=periodo.id}}&amp;op=1&amp;academic={{=course.academic_course_assignation.id}}");
										</script>
										<center>
											<span id="average_course_{{=course.academic_course_assignation.assignation}}_academic" >

			          						</span>
										</center>
									</td>
									<td>
										<center>
											<span id="average_lab_{{=course.academic_course_assignation.assignation}}_academic" >
												{{=T('Calculating')}}...
				          					</span>
			          					</center>
									</td>
									<td>
										<center>
											<a class="btn btn-info" href="{{=URL('activity_control', 'students_control', vars=dict( project = course.academic_course_assignation.assignation, period=periodo.id))}}">{{=T('Sign in')}}
											</a>
										</center>
									</td>
								</tr>
							{{pass}}
							</table>
						</td>
					</tr>
				</table>
			{{pass}}

			{{if countcoursesAdminT==0 and coursesStudentT==0:}}
				<center><h3>No tiene asignaciones</h3></center>
			{{pass}}
		{{pass}}
	</div>
</div>