{{extend 'template.html'}}
<div class="row-fluid">
    <div class="well span12"  style="overflow:auto;">
		<a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
        <h2>{{=T('General Report of Activities')}}
			<br>
			<small>{{=project.name}} - {{=T(year.period.name)}} {{=str(year.yearp)}}</small></small>
        </h2>

        <table class="table-striped table-bordered">
            <THEAD>
                <tr>
                    <th>{{=T('Teacher')}}</th>
                    <th>{{=str(teacher.auth_user.first_name)}} {{=str(teacher.auth_user.last_name)}}</th>
                </tr>
                {{for t1 in practice:}}
                    <tr>
                        <th>{{=T('Rol Student')}}</th>
                        <th>{{=str(t1.auth_user.first_name)}} {{=str(t1.auth_user.last_name)}}</th>
                    </tr>
                {{pass}}
            </THEAD>
            <TBODY>
                <tr>
                    <th Colspan="2"><center>{{=T('Academic')}}</center></th>
                </tr>
                <tr>
                    <th>{{=T('Carnet')}}</th>
                    {{posVCC=0}}
                    {{for category in CourseCategory:}}
                        {{for c in CourseActivities[posVCC]:}}
                        <th>
                            <center>
                                {{=str(c.name)}}
                            </center>
                        </th>
                        {{pass}}
                        <th>
                            <center>
                                {{=str(category.category.category)}}
                                <br>
                                {{=str(category.grade)}}
                            </center>
                        </th>
                        {{posVCC=posVCC+1}}
                    {{pass}}
                    <th>{{=T('Total')}}</th>
                </tr>
                {{for t1 in students:}}
                    <tr>
                        <td>{{=t1.carnet.carnet}}</td>
                        {{posVCC=0}}
                        {{for category in CourseCategory:}}
                            {{for c in CourseActivities[posVCC]:}}
                            <td>
                                <center>
                                    {{=str(c.name)}}
                                </center>
                            </td>
                            {{pass}}
                            <td>
                                <center>
                                    {{=str(category.category.category)}}
                                    <br>
                                    {{=str(category.grade)}}
                                </center>
                            </td>
                            {{posVCC=posVCC+1}}
                        {{pass}}
                    </tr>
                {{pass}}
            </TBODY>
        </table>
	</div>
</div>