{{if alert_message == True:}}
  <script type="text/javascript">
    alert("{{=message_var2}}");
  </script>
{{pass}}
<!---------------------------Cancel Request---------------------------->
{{if (request.vars['op'] == "cancel_request") : }}
  {{request_change = db((db.request_change_grades.activity== var_activity.id) & (db.request_change_grades.status=='pending') ).select().first() }}
  {{db(db.request_change_grades.id==request_change.id).delete()}}

  {{# -------------------------------------------LOG -----------------------------------------}}
  {{log_id = db.request_change_g_log.insert(r_c_g_id = request_change.id,
                                          username = auth.user.username,
                                          roll = rol_log,
                                          before_status = 'pending',
                                          after_status = 'canceled',
                                          description = request_change.description,
                                          description_log = T('Deleted from Grades page'),
                                          semester = T(request_change.activity.semester.period.name),
                                          yearp = request_change.activity.semester.yearp,
                                          activity = request_change.activity.name,
                                          category = request_change.activity.course_activity_category.category.category,
                                          project = request_change.activity.assignation.name
                                        )}}
  {{log_before = db((db.request_change_g_log.r_c_g_id== request_change.id) & (db.request_change_g_log.after_status=='pending') ).select().first() }}
  
  {{for detail_var in db(db.request_change_grade_d_log.request_change_g_log == log_before.id ).select(): }}

    {{db.request_change_grade_d_log.insert(request_change_g_log = log_id,
                                            operation_request = detail_var.operation_request,
                                            academic = detail_var.academic,
                                            before_grade = detail_var.before_grade,
                                            after_grade = detail_var.after_grade
                                          )}}
  {{pass}}

{{pass}}

<!---------------------------INSERT---------------------------->
{{if (request.vars['op'] == "add_grade") | (request.vars['op'] == "add_grade_list"): }}
  {{print "entrooo1"}}
  <script type="text/javascript">
    document.getElementById('information_text').className = "badge badge-important";
    jQuery('#information_text').empty();
  </script>
 
  {{if (add_grade_flash == True):}}
    <script type="text/javascript">
      document.getElementById('information_text').className = "badge badge-success";
      jQuery("#information_text").append("{{=message_var}}");
    </script>
  {{pass}}
  {{if (add_grade_error == True) & (request.vars['op'] == "add_grade") :}}
    <script type="text/javascript">
      alert("{{=message_var}}");
    </script>
  {{pass}}
  {{if (request.vars['op'] == "add_grade") :}}
    {{request.vars['op'] = "view_grades"}}
  {{pass}}
{{pass}}

<!---------------------------UPDATE---------------------------->
{{if (request.vars['op'] == "update_grade") | (request.vars['op'] == "update_grade_list"): }}
  <script type="text/javascript">
    document.getElementById('information_text').className = "badge badge-important";
    jQuery('#information_text').empty();
  </script>
  {{if (exist_request_change == True) or (exist_activity_request_change == True):}}
          <script type="text/javascript">
            alert("{{=T('Can not make operation because there is a pending request change. Please resolve it before proceeding.')}}");
          </script>
  {{else:}}
    {{carnet_list = str(request.vars['carnet']).split(',')}}
    {{grade_list = str(request.vars['grade']).split(',')}}
    {{cont_temp = 0}}
    {{for carnet_id in carnet_list: }}
        {{if (request.vars['op'] == "update_grade"):}}
            {{carnet_list = request.vars['carnet']}}
            {{grade_list = request.vars['grade']}}
            {{request.vars['grade'] = grade_list}}
        {{else:}}
            {{request.vars['grade'] = grade_list[cont_temp]}}
            {{cont_temp = cont_temp+1}}
        {{pass}}
        {{request.vars['carnet'] = carnet_id}}

        {{if request.vars['carnet'] != '':}}
          {{academic_var =  db(db.academic.carnet==request.vars['carnet']).select().first()}}
          
          {{assig_var =  db((db.academic_course_assignation.assignation==var_project.id) & (db.academic_course_assignation.semester==var_period.id) & (db.academic_course_assignation.carnet == academic_var.id)).select().first()}}

          {{grade_before = db((db.grades.academic_assignation==assig_var.id) & (db.grades.activity==var_activity.id) ).select().first() }}
          
          {{grade = db(db.grades.id==grade_before.id).update(grade =  request.vars['grade'])}}

          {{#--------------------------------------------log-------------------------------------}}
          {{db.grades_log.insert(user_name = auth.user.username,
                                  roll = rol_log,
                                  operation_log = 'update',
                                  academic_assignation_id = assig_var.id,
                                  academic = assig_var.carnet.carnet,
                                  project = assig_var.assignation.name,
                                  activity = var_activity.name,
                                  activity_id = var_activity.id,
                                  category = var_activity.course_activity_category.category.category,
                                  period = T(assig_var.semester.period.name),
                                  yearp = assig_var.semester.yearp,
                                  after_grade = request.vars['grade'],
                                  before_grade = grade_before.grade,
                                  description = T('Edited from Grades page')+" - "+coment
                               )}}
      {{pass}}
    {{pass}}
      {{if (request.vars['op'] == "update_grade") :}}
        {{request.vars['op']="view_grades"}}
      {{pass}}
 {{pass}}
{{pass}}

<!---------------------------DELETE---------------------------->
{{if (request.vars['op'] == "remove_grade") | (request.vars['op'] == "remove_grade_list"): }}
  <script type="text/javascript">
    document.getElementById('information_text').className = "badge badge-important";
    jQuery('#information_text').empty();
  </script>
    {{if (exist_request_change == True) or (exist_activity_request_change == True):}}
          <script type="text/javascript">
            alert("{{=T('Can not make operation because there is a pending request change. Please resolve it before proceeding.')}}");
          </script>
    {{else:}}
      {{grade_id_list = str(request.vars['grade_id']).split(',')}}
      
      {{for grade_id in grade_id_list: }}
          {{if (request.vars['op'] == "remove_grade"):}}
              {{grade_id = request.vars['grade_id']}}
          {{pass}}
          {{request.vars['grade_id'] = grade_id}}

          {{if request.vars['grade_id'] != '':}}
            {{grade_var = db(db.grades.id==request.vars['grade_id']).select().first()}}
            {{db(db.grades.id==request.vars['grade_id']).delete()}}
            {{#--------------------------------------------log-------------------------------------}}
            {{db.grades_log.insert(user_name = auth.user.username,
                              roll = rol_log,
                              operation_log = 'delete',
                              academic_assignation_id = grade_var.academic_assignation.id,
                              academic = grade_var.academic_assignation.carnet.carnet,
                              project = grade_var.academic_assignation.assignation.name,
                              activity = grade_var.activity.name,
                              activity_id = grade_var.activity.id,
                              category = grade_var.activity.course_activity_category.category.category,
                              period = T(grade_var.academic_assignation.semester.period.name),
                              yearp = grade_var.academic_assignation.semester.yearp,
                              before_grade = grade_var.grade,
                              description = T('Delete from Grades page')+" - "+coment
                               )}}
          {{pass}}
      {{pass}}
      
    {{pass}}
    {{if request.vars['op'] == "remove_grade":}}
      {{request.vars['op']="view_grades"}}
    {{pass}}
{{pass}}

{{if request.vars['op'] == "view_grades": }}
<div align="right">
  {{if request_change_var == False:}}
    <a onclick="edit_all();" style ="cursor:pointer;"><span class="icon-edit"></span> {{=T('Edit All')}}</a> -
    <a onclick="delete_all();" style ="cursor:pointer;"><span class="icon-trash"></span>{{=T('Delete All')}}</a>
  {{else:}}
    <a id="change_request_link" onclick="change_request();" style ="cursor:pointer;"><span class="icon-random"></span> {{=T('Change Request')}}
      {{if exist_request_change == True:}}
        (1)
      {{pass}}
    </a>
  {{pass}}
</div>
<table class="table table-striped table-bordered"  style="width:100%;">
  <tbody>
  <tr>
  <th >
    {{=T('Carnet')}}
  </th>
  <th >
    {{=T('Name')}}
  </th>
  <th width="15%">
    {{=T('Grade')}}
  </th>
  {{if request_change_var == False:}}
    <th style="width:25%;">
      <center>
        {{=T('Actions')}}
      </center>
    </th>
  {{pass}}
</tr>
  {{for academic in academic_assig:}}
    <tr>
      <td style="width:10%;">
        {{if auth.has_membership('Student'):}}
          {{=academic.carnet.carnet}}
        {{else:}}
          <a type="button" style ="cursor:pointer;" role="button" data-toggle="modal" data-target="#historial_modal_{{=academic.carnet.id}}" >
            {{=academic.carnet.carnet}}
          </a>
          <!--MODAL -->
            <div id="historial_modal_{{=academic.carnet.id}}" class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true"> 
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">
                      {{=T('History Grade')}} - {{=academic.carnet.carnet}}
                  </h3>
              </div>
              <div class="modal-body">
                <div class="well">
                      {{grade_log_var = db((db.grades_log.academic_assignation_id==academic.id) & (db.grades_log.activity_id==var_activity.id)).select()}}
                      {{if grade_log_var.first() ==None:}}
                        {{=T('No records')}}
                      {{else:}}
                        <table class="table table-striped table-bordered"  style="width:100%;">
                          <tr>
                            <th>
                              {{=T('User')}}
                            </th>
                            <th>
                              {{=T('Role')}}
                            </th>
                            <th>
                              {{=T('Before')}}
                            </th>
                            <th >
                              {{=T('After')}}
                            </th>
                          </tr>
                          {{for var_grade in grade_log_var:}}
                            <tr>
                              <td>
                                {{=var_grade.user_name}}
                              </td>
                              <td>
                                {{=T('Rol '+var_grade.roll)}}
                              </td>
                              <td>
                                {{=var_grade.before_grade}}
                              </td>
                              <td>
                                {{=var_grade.after_grade}}
                              </td>
                            <tr>
                          {{pass}}
                        </table>
                      {{pass}}
                </div>
              </div>
              <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">{{=T('Close')}}</button>
              </div>
            </div>
            <!--Finish MODaL-->
          {{pass}}
      </td>
      <td>
        {{try:}}
          {{var_auth_user = db((db.auth_user.id==academic.carnet.id_auth_user)).select().first()}}

          {{=var_auth_user.first_name}} {{=var_auth_user.last_name}} 
        {{except:}}
          {{None}}
        {{pass}}
      </td>
      {{var_grade = db((db.grades.academic_assignation==academic.id) & (db.grades.activity==var_activity.id)).select().first()}}
      {{if var_grade is None:}}
        <td width="15%">
          <div id="div_edit_grade_{{=academic.carnet.carnet}}" style="display:none;">
            {{if (exist_request_change == False) | (request_change_var == False):}}
              <input class="string" name="edit_grade_{{=academic.carnet.carnet}}" type="text" value="" id="edit_grade_{{=academic.carnet.carnet}}" style="width:100px;">
            {{else:}}
              {{request_change = db((db.request_change_grades.activity== var_activity.id) & (db.request_change_grades.status=='pending') ).select().first() }}

              {{grade_rc_var = db((db.request_change_grades_detail.request_change_grades== request_change.id) & (db.request_change_grades_detail.academic_assignation==academic.id) ).select().first() }}

              {{try:}}
                {{if grade_rc_var.operation_request == 'insert':}}
                  <font color="green">{{=grade_rc_var.after_grade}}</font>
                {{pass}}
                {{if grade_rc_var.operation_request == 'update':}}
                  <font color="blue">{{=grade_rc_var.after_grade}}</font>
                {{pass}}
                {{if grade_rc_var.operation_request == 'delete':}}
                  <font color="red">{{=grade_rc_var.after_grade}}</font>
                {{pass}}
              {{except:}}
                {{None}}
              {{pass}}

            {{pass}}
          </div>
        </td>
        {{if request_change_var == False:}}
          <td>
            <center>
              <div id="div_view_button_{{=academic.carnet.carnet}}">
                <a id="categoryButton" role="button" class="badge btn-info" onclick="update_grade({{=academic.carnet.carnet}});"  title="{{=T('Edit grade')}}"> 
                  <span class="icon-white icon-edit"></span>
                </a>
              </div>
              <div id="div_edit_button_{{=academic.carnet.carnet}}" style="display:none;">
                <a id="categoryButton" role="button" class="badge btn-danger" onclick="remove_grade();" title="{{=T('Delete grade')}}" > 
                  <span class="icon-white icon-remove-sign"></span>
                </a>
              </div>
              <div id="div_check_button_{{=academic.carnet.carnet}}" style="display:none;">
                <a id="categoryButton" role="button" class="badge btn-success" onclick="save_grade({{=academic.carnet.carnet}});" title="{{=T('Save grade')}}" > 
                  <span class="icon-white icon-check"></span>
                </a>
              </div>
            </center>
          </td>
        {{pass}}
      {{else:}}
        <td>
          <div id="div_edit_grade_{{=academic.carnet.carnet}}" style="display:none;">
           {{if (exist_request_change == False) | (request_change_var == False):}}
              <input class="string" name="edit_grade_{{=academic.carnet.carnet}}" type="text" value="{{=var_grade.grade}}" id="edit_grade_{{=academic.carnet.carnet}}" style="width:100px;">
            {{else:}}
              {{request_change = db((db.request_change_grades.activity== var_activity.id) & (db.request_change_grades.status=='pending') ).select().first() }}
              {{grade_rc_var = db((db.request_change_grades_detail.request_change_grades== request_change.id) & (db.request_change_grades_detail.academic_assignation==academic.id) ).select().first() }}

              {{try:}}
                {{if grade_rc_var.operation_request == 'insert':}}
                  <font color="green">{{=grade_rc_var.after_grade}}</font>                
                {{elif grade_rc_var.operation_request == 'update':}}
                  <font color="blue">{{=grade_rc_var.after_grade}}</font>
                {{elif grade_rc_var.operation_request == 'delete':}}
                  <font color="red">{{=grade_rc_var.after_grade}}</font>
                {{pass}}
                
              {{except:}}
                {{=var_grade.grade}}
              {{pass}}

            {{pass}}
          </div>
          <div id="div_view_grade_{{=academic.carnet.carnet}}">
            {{=var_grade.grade}}
          </div>
        </td>
        {{if request_change_var == False:}}
          <td style="width:25px;">
            <center>
              <div id="div_view_button_{{=academic.carnet.carnet}}">
                <a id="categoryButton" role="button" class="badge btn-info" onclick="update_grade({{=academic.carnet.carnet}});"  title="{{=T('Edit grade')}}"> 
                  <span class="icon-white icon-edit"></span>
                </a>
                <a id="categoryButton" role="button" class="badge btn-danger" onclick="remove_grade({{=var_grade.id}});" title="{{=T('Delete grade')}}" > 
                  <span class="icon-white icon-remove-sign"></span>
                </a>
              </div>
              <div id="div_edit_button_{{=academic.carnet.carnet}}" style="display:none;">
                <a id="categoryButton" role="button" class="badge btn-danger" onclick="remove_grade({{=var_grade.id}});" title="{{=T('Delete grade')}}" > 
                  <span class="icon-white icon-remove-sign"></span>
                </a>
              </div>
              <div id="div_check_button_{{=academic.carnet.carnet}}" style="display:none;">
                <a id="categoryButton" role="button" class="badge btn-success" onclick="save_grade({{=academic.carnet.carnet}});" title="{{=T('Save grade')}}" > 
                  <span class="icon-white icon-check"></span>
                </a>
              </div>         
            </center>
          </td>
        {{pass}}
      {{pass}}
      
    </tr>
  {{pass}}
    <tr >
      <td colspan='3' >
        <div align="right" id="table_foot" style="display:none;">
          {{if request_change_var == False:}}
            <a  tabindex="501" role="button"  class="btn btn-success"  onclick="save_changes();">            
              <span class="icon-white icon-ok-sign"></span>
                {{=T('Save Changes')}}
              </a>
          {{else:}}
            <div align="left">
              <label>{{=T('Description')}}:</label>
            </div>
            {{if exist_request_change == False:}}
              <textarea class="string" cols="40" type="text" value="" id="request_description" style="width:95%;"/>
              <a id="requestbtn" tabindex="502" role="button"  class="btn btn-success"  onclick="save__request_changes();">            
              <span class="icon-white icon-ok-sign"></span>
                {{=T('Change Request')}}
              </a>
            {{else:}}
              <textarea class="string" cols="40" type="text" value="" id="request_description" style="width:95%;" disabled>
                {{request_change = db((db.request_change_grades.activity== var_activity.id) & (db.request_change_grades.status=='pending') ).select().first() }}
                {{=request_change.description}}
              </textarea>
            {{pass}}
            
          {{pass}}
          {{if (exist_request_change == False) | (request_change_var == False):}}
            <a  tabindex="503" role="button"  class="btn btn-danger" onclick="cancel_all();">            
              {{=T('Cancel')}}
          {{else:}}
            <a  tabindex="503" role="button"  class="btn btn-danger" onclick="cancel_request();">            
              {{=T('Cancel Request')}}
            </a>
            <a  tabindex="3" role="button"  class="btn" onclick="cancel_all();">            
              {{=T('Close')}}
          {{pass}}
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div align="right">
  {{if request_change_var == False:}}
    <a onclick="edit_all();" style ="cursor:pointer;"><span class="icon-edit"></span> {{=T('Edit All')}}</a> -
    <a onclick="delete_all();" style ="cursor:pointer;"><span class="icon-trash"></span>{{=T('Delete All')}}  </a>
  {{else:}}
    <a id="change_request_link_2" onclick="change_request();" style ="cursor:pointer;"><span class="icon-random"></span> {{=T('Change Request')}}
      {{if exist_request_change == True:}}
        (1)
      {{pass}}
    </a>
  {{pass}}
</div>
<script type="text/javascript">
  $("#div_loading").css("display", "none");
</script>
{{pass}}
<div id="functions">
</div>

<script type="text/javascript">
  var var_editable = false
  
  
  function delete_all(){
    var r = confirm("{{=T('Do you want to delete all the records?')}}");
    if (r == true) {
      $("#div_loading").css("display", "block");
      grade_id_list = ''
        {{for academic in academic_assig:}}
          {{var_grade = db((db.grades.academic_assignation==academic.id) & (db.grades.activity==var_activity.id)).select().first()}}
          {{if var_grade != None:}}
            grade_id_list = '{{=var_grade.id}}' + ',' + grade_id_list
          {{pass}}
        {{pass}}
        var coment = ""
        {{if ( (actual_period == False) or (course_ended  == True) ):}}                
          while (coment == ""){
            coment = prompt("{{=T('Please enter the reason for the change.')}}","");  
          }                
        {{pass}}
        $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=remove_grade_list&amp;activity={{=var_activity.id}}&amp;grade_id="+ grade_id_list +"&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}"+"&amp;coment="+encodeURIComponent(coment) );

        $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=view_grades&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}"+"&amp;coment="+encodeURIComponent(coment));
    }
  }
  function cancel_request(){    
    var r = confirm("{{=T('Do you want to cancel the change request?')}}");
    if (r == true) {
      $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=cancel_request&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}");
      $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=view_grades&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}");
    }
  }

  function update_grade(var_carnet){
    $("#div_edit_grade_"+var_carnet).css("display", "block");
    $("#div_view_grade_"+var_carnet).css("display", "none");
    $("#div_view_button_"+var_carnet).css("display", "none");
    $("#div_check_button_"+var_carnet).css("display", "block");
  }

  function save_grade(var_carnet){
    $("#div_loading").css("display", "block");
    var regex = /^\d+(?:\.\d{0,2})$/; 
    var regex2 = /^([0-9])*$/;
    jQuery('#errors_div').empty();
    string_error = "";
    
    
      var grade_var = document.getElementById('edit_grade_'+var_carnet).value;

      if (grade_var=="" || parseFloat(grade_var) < 0 || parseFloat(grade_var) > parseFloat(100)){
        if( parseFloat(grade_var) < 0){
          string_error = (string_error+'<tr><td>'+var_carnet+'</td><td>'+grade_var+'</td><td>{{=T("The grade is less than 0")}}</td></tr>');
        }
        if( parseFloat(grade_var) > parseFloat(100)){
          string_error = (string_error+'<tr><td>'+var_carnet+'</td><td>'+grade_var+'</td><td>{{=T("The grade is greater than 100")}}</td></tr>');
        }
      }else{
        if (!regex.test(grade_var) && !regex2.test(grade_var) ){
            string_error = (string_error+'<tr><td>'+var_carnet+'</td><td>'+grade_var+'</td><td>{{=T("Grade is not number")}}</td></tr>');
        }else{
          var coment = ""
          {{if ( (actual_period == False) or (course_ended  == True) ):}}                
            while (coment == ""){
              coment = prompt("{{=T('Please enter the reason for the change.')}}","");  
            }                
          {{pass}}
          {{for academic in academic_assig:}}
            if ({{=academic.carnet.carnet}} == var_carnet){
              {{var_grade = db((db.grades.academic_assignation==academic.id) & (db.grades.activity==var_activity.id)).select().first()}}
              {{if var_grade != None:}}
                if (grade_var != {{=var_grade.grade}}){
                  //Update
                  $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=update_grade&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+var_carnet+"&amp;grade="+grade_var+"&amp;coment="+encodeURIComponent(coment));
                  $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=view_grades&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}"+"&amp;coment="+encodeURIComponent(coment));
                }
              {{else:}}
                $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=add_grade&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+var_carnet+"&amp;grade="+grade_var+"&amp;coment="+encodeURIComponent(coment));
              {{pass}}
            } 
          {{pass}}
          
        }
      }
    
    if(string_error!=""){
      jQuery("#errors_div").append('<table class="table table-striped table-bordered"><tr><th>{{=T("Carnet")}}</th><th>{{=T("Grade")}}</th><th>{{=T("Description")}}</th></tr>'+string_error+'</table>');
      $("#error_modal").modal('show');
    }

    
  }

  function save__request_changes(){
    $("#requestbtn").css("display","none");
    {{if exist_request_change == True:}}
      alert("{{=T('Can not make operation because there is a pending request change. Please resolve it before proceeding.')}}");
    {{else:}}
      var regex = /^\d+(?:\.\d{0,2})$/; 
      var regex2 = /^([0-9])*$/;
      jQuery('#errors_div').empty();
      string_error = "";
      
      var description_var = document.getElementById('request_description').value;
      
      if (description_var != ""){
        {{for academic in academic_assig:}}
          var carnet_var = "{{=academic.carnet.carnet}}"
          var grade_var = document.getElementById('edit_grade_{{=academic.carnet.carnet}}').value;
          if (grade_var=="" || parseFloat(grade_var) < 0 || parseFloat(grade_var) > parseFloat(100)){
            if( parseFloat(grade_var) < 0){
              string_error = (string_error+'<tr><td>'+carnet_var+'</td><td>'+grade_var+'</td><td>{{=T("The grade is less than 0")}}</td></tr>');
            }
            if( parseFloat(grade_var) > parseFloat(100)){
              string_error = (string_error+'<tr><td>'+carnet_var+'</td><td>'+grade_var+'</td><td>{{=T("The grade is greater than 100")}}</td></tr>');
            }
          }else{
            if (!regex.test(grade_var) && !regex2.test(grade_var) ){
                string_error = (string_error+'<tr><td>'+carnet_var+'</td><td>'+grade_var+'</td><td>{{=T("Grade is not number")}}</td></tr>');
            }
          }
        {{pass}}

        if(string_error!=""){
          jQuery("#errors_div").append('<table class="table table-striped table-bordered"><tr><th>{{=T("Carnet")}}</th><th>{{=T("Grade")}}</th><th>{{=T("Description")}}</th></tr>'+string_error+'</table>');
          $("#error_modal").modal('show');
        }else{
            $("#div_loading").css("display", "block");
            carnet_list = ''
            grade_list = ''
            update_carnet_list = ''
            update_grade_list = ''

            {{for academic in academic_assig:}}
              var carnet_var = "{{=academic.carnet.carnet}}"
              var grade_var = document.getElementById('edit_grade_{{=academic.carnet.carnet}}').value;
              if (grade_var!=""){
                {{var_grade = db((db.grades.academic_assignation==academic.id) & (db.grades.activity==var_activity.id)).select().first()}}
                {{if var_grade != None:}}
                  if (grade_var != {{=var_grade.grade}}){
                    //update
                    update_carnet_list = carnet_var + ',' + update_carnet_list
                    update_grade_list = grade_var + ',' + update_grade_list
                    //$("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=add_grade_list&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+carnet_var+"&amp;grade="+grade_var+"&amp;description_var="+encodeURIComponent(description_var));  
                  }
                {{else:}}
                  carnet_list = carnet_var + ',' + carnet_list
                  grade_list = grade_var + ',' + grade_list
                  //$("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=add_grade_list&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+carnet_var+"&amp;grade="+grade_var+"&amp;description_var="+encodeURIComponent(description_var));  
                {{pass}}
                
              }            
            {{pass}}
            var coment = ""
            if (carnet_list != '' ){
              {{if ( (actual_period == False) or (course_ended  == True) ):}}                
                while (coment == ""){
                  coment = prompt("{{=T('Please enter the reason for the change.')}}","");  
                }                
              {{pass}}
              
              $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=add_grade_list&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+carnet_list+"&amp;grade="+grade_list+"&amp;description_var="+encodeURIComponent(description_var)); 
            }
            
            if (update_carnet_list != '' ){
              {{if ( (actual_period == False) or (course_ended  == True) ):}}                
                while (coment == ""){
                  coment = prompt("{{=T('Please enter the reason for the change.')}}","");  
                }                
              {{pass}}
              $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=add_grade_list&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+update_carnet_list+"&amp;grade="+update_grade_list+"&amp;description_var="+encodeURIComponent(description_var)); 
            }
             
        }

        $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=view_grades&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}");
      }else{
        alert('{{=T("You must enter a description")}}');
      }
    {{pass}} 
  }

  function save_changes(){
    {{if exist_request_change == True:}}
      alert("{{=T('Can not make operation because there is a pending request change. Please resolve it before proceeding.')}}");
    {{else:}}
      $("#div_loading").css("display", "block");
      var regex = /^\d+(?:\.\d{0,2})$/; 
      var regex2 = /^([0-9])*$/;
      jQuery('#errors_div').empty();
      string_error = "";
      carnet_list = ''
      grade_list = ''
      update_carnet_list = ''
      update_grade_list = ''
      {{for academic in academic_assig:}}
        var carnet_var = "{{=academic.carnet.carnet}}"
        var grade_var = document.getElementById('edit_grade_{{=academic.carnet.carnet}}').value;
        if (grade_var=="" || parseFloat(grade_var) < 0 || parseFloat(grade_var) > parseFloat(100)){
          if( parseFloat(grade_var) < 0){
            string_error = (string_error+'<tr><td>'+carnet_var+'</td><td>'+grade_var+'</td><td>{{=T("The grade is less than 0")}}</td></tr>');
          }
          if( parseFloat(grade_var) > parseFloat(100)){
            string_error = (string_error+'<tr><td>'+carnet_var+'</td><td>'+grade_var+'</td><td>{{=T("The grade is greater than 100")}}</td></tr>');
          }
        }else{
          if (!regex.test(grade_var) && !regex2.test(grade_var) ){
              string_error = (string_error+'<tr><td>'+carnet_var+'</td><td>'+grade_var+'</td><td>{{=T("Grade is not number")}}</td></tr>');
          }else{
            {{var_grade = db((db.grades.academic_assignation==academic.id) & (db.grades.activity==var_activity.id)).select().first()}}
            {{if var_grade != None:}}
              if (grade_var != {{=var_grade.grade}}){
                //Update
                update_carnet_list = carnet_var + ',' + update_carnet_list
                update_grade_list = grade_var + ',' + update_grade_list
                //$("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=update_grade_list&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+carnet_var+"&amp;grade="+grade_var);
              }
            {{else:}}
              carnet_list = carnet_var + ',' + carnet_list
              grade_list = grade_var + ',' + grade_list
              //$("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=add_grade_list&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+carnet_var+"&amp;grade="+grade_var);
            {{pass}}

          }
        }
      {{pass}}

      var coment = ""
        

      if (carnet_list != '' ){
        {{if ( (actual_period == False) or (course_ended  == True) ):}}                
          while (coment == ""){
            coment = prompt("{{=T('Please enter the reason for the change.')}}","");  
          }                
        {{pass}}
        $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=add_grade_list&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+carnet_list+"&amp;grade="+grade_list+"&amp;coment="+encodeURIComponent(coment));
      }
      
      if (update_carnet_list != '' ){
        {{if ( (actual_period == False) or (course_ended  == True) ):}}                
          while (coment == ""){
            coment = prompt("{{=T('Please enter the reason for the change.')}}","");  
          }                
        {{pass}}
        $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=update_grade_list&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}&amp;carnet="+update_carnet_list+"&amp;grade="+update_grade_list+"&amp;coment="+encodeURIComponent(coment));
      }

      $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=view_grades&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}");

      if(string_error!=""){
        jQuery("#errors_div").append('<table class="table table-striped table-bordered"><tr><th>{{=T("Carnet")}}</th><th>{{=T("Grade")}}</th><th>{{=T("Description")}}</th></tr>'+string_error+'</table>');
        $("#error_modal").modal('show');
      }

     
    {{pass}}
  }

  function remove_grade(var_id){
    var r = confirm("{{=T('Do you want to delete this record?')}}");
    if (r == true) {
      var coment = ""
        {{if ( (actual_period == False) or (course_ended  == True) ):}}                
          while (coment == ""){
            coment = prompt("{{=T('Please enter the reason for the change.')}}","");  
          }                
        {{pass}}
       $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=remove_grade&amp;activity={{=var_activity.id}}&amp;grade_id="+var_id+"&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}"+"&amp;coment="+encodeURIComponent(coment));
        }
    }
  function cancel_all(){
    $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=view_grades&amp;activity={{=var_activity.id}}&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}");
  }

  function change_request(){
    {{if exist_request_change == True:}}
      alert("{{=T('There is already a pending request')}}")
    {{pass}}
    {{for academic in academic_assig:}}
      if (var_editable == false){
          $("#change_request_link").css("display", "none");
          $("#change_request_link_2").css("display", "none");

          $("#div_edit_grade_{{=academic.carnet.carnet}}").css("display", "block");
          $("#div_view_grade_{{=academic.carnet.carnet}}").css("display", "none");
          $("#div_edit_button_{{=academic.carnet.carnet}}").css("display", "block");
          $("#div_view_button_{{=academic.carnet.carnet}}").css("display", "none"); 
          $("#table_foot").css("display", "block");
          
            
      }
    {{pass}}
    if (var_editable == false){
      var_editable = true;
    }else{
      var_editable = false;
    }
  }

  function edit_all(){
    
    {{for academic in academic_assig:}}
      if (var_editable == false){
            $("#div_edit_grade_{{=academic.carnet.carnet}}").css("display", "block");
            $("#div_view_grade_{{=academic.carnet.carnet}}").css("display", "none");
            $("#div_edit_button_{{=academic.carnet.carnet}}").css("display", "block");
            $("#div_view_button_{{=academic.carnet.carnet}}").css("display", "none"); 
            $("#table_foot").css("display", "block");
            
      }else{
            $("#div_edit_grade_{{=academic.carnet.carnet}}").css("display", "none");
            $("#div_view_grade_{{=academic.carnet.carnet}}").css("display", "block");
            $("#div_edit_button_{{=academic.carnet.carnet}}").css("display", "none");
            $("#div_view_button_{{=academic.carnet.carnet}}").css("display", "block"); 
            $("#table_foot").css("display", "none");
      }     
    {{pass}}
    if (var_editable == false){
      var_editable = true;
    }else{
      var_editable = false;
    }
  }
</script>