<!---------------------------INSERT---------------------------->
{{if request.vars['op'] == "add_grade": }}
  <script type="text/javascript">
      document.getElementById('information_text').className = "badge badge-important";
      jQuery('#information_text').empty();
    </script>
  {{try:}}
    {{academic_var =  db(db.academic.carnet==request.vars['carnet']).select().first()}}

    
      {{assig_var =  db((db.academic_course_assignation.assignation==var_project.id) & (db.academic_course_assignation.semester==var_period.id) &  (db.academic_course_assignation.laboratorio==var_activity.laboratory) & (db.academic_course_assignation.carnet == academic_var.id)).select().first()}}
      {{grade = db.grades.insert(academic_assignation = assig_var.id,
                          grade =  request.vars['grade'])}}

      {{if grade != None:}}
        <script type="text/javascript">
          document.getElementById('information_text').className = "badge badge-success";
          jQuery("#information_text").append('{{=T('Grade added')}}'+" | Carnet: '{{=academic_var.carnet}}' {{=T('Grade')}}: '{{=grade.grade}}'");
        </script>
      {{else:}}
        <script type="text/javascript">
          jQuery("#information_text").append('{{=T('Failed to add grade')}}'+" | Carnet: '{{=academic_var.carnet}}' {{=T('Grade')}}: '{{=grade.grade}}'");
        </script>
      {{pass}}

      
    {{except:}}
      <script type="text/javascript">
        jQuery("#information_text").append('{{=T('Failed to add grade')}}'+" | Carnet: '{{=request.vars['carnet']}}' {{=T('not exist')}}");
      </script>
    {{pass}}
    {{request.vars['op']="view_grades"}}

{{pass}}

<!---------------------------DELETE---------------------------->
{{if request.vars['op'] == "remove_grade": }}
    {{db(db.grades.id==request.vars['grade_id']).delete()}}
    {{request.vars['op']="view_grades"}}
{{pass}}

{{if request.vars['op'] == "view_grades": }}
<table class="table table-striped table-bordered"  style="width:100%;">
  <tr>
  <th style="width:40%;">
    {{=T('Carnet')}}
  </th>
  <th style="width:40%;">
    {{=T('Grade')}}
  </th>
  <th style="width:20px;">
    <center>
      {{=T('Actions')}}
    </center>
  </th>
</tr>
  {{for academic in academic_assig:}}
    <tr>
      <td style="width:25%;">
        {{=academic.carnet.carnet}}
      </td>
      
      {{var_grade = db(db.grades.academic_assignation==academic.id).select().first()}}
      {{if var_grade is None:}}
        <td style="width:25%;">
        </td>
        <td style="width:25px;">
          <center>
            <a id="categoryButton" role="button" class="badge btn-success" onclick="updateCategory();"> 
              <span class="icon-white icon-check"></span>
            </a>
          </center>
        </td>
      {{else:}}
        <td style="width:25%;">
          {{=var_grade.grade}}
        </td>
        <td style="width:25px;">
          <center>
            <a id="categoryButton" role="button" class="badge btn-success" onclick="update_grade({{=var_grade.id}});"> 
              <span class="icon-white icon-check"></span>
            </a>
            <a id="categoryButton" role="button" class="badge btn-danger" onclick="remove_grade({{=var_grade.id}});" title="{{=T('Delete grade')}}" > 
              <span class="icon-white icon-remove-sign"></span>
            </a>
          </center>
        </td>
      {{pass}}
      
    </tr>
  {{pass}}
</table>
{{pass}}
<div id="functions">
</div>
<script type="text/javascript">
  function remove_grade(var_id){
    var r = confirm("{{=T('Do you want to delete this record?')}}");
    if (r == true) {
       $("#grades_list").load("{{=URL('activity_control','grades.html')}}?op=remove_grade&amp;activity={{=var_activity.id}}&amp;grade_id="+var_id+"&amp;project={{=var_project.id}}&amp;year={{=var_period.id}}");
        }
    }
</script>