{{extend 'template.html'}}
<div>
	<a href="{{=URL('activity_control', 'students_control', vars=dict(project = project.id, period = year.id))}}" class="btn" ><i class="icon-arrow-left"></i> {{=T('Back')}}</a>
</div>
<h2>
    {{=project.name}}
    <br>
    <small>{{=T(year.period.name)}} {{=str(year.yearp)}} </small>
</h2>
{{=grid}}

<script type="text/javascript">
	jQuery('#course_activity_without_metric_teacher_permition__label').empty();
	jQuery('#course_activity_without_metric_teacher_permition__label').append('<b>{{=T('Teacher Permition')}}</b><div class=\"alert alert-warning\">{{=T('When yoy active this option the academic tutors')}}<br>{{=T('can manage the activity')}}</div>');
</script>