{{extend 'template.html'}}
{{project_var = db(db.user_project.id == request.vars['assignation']).select().first()}}

{{requestId = db((db.requestchange_activity.status=='Pending')&(db.requestchange_activity.semester==int(semestre2.id))&(db.requestchange_activity.course==int(project_var.project.id))).select().first()}}
{{if requestId==None:}}
	{{tActivities = db((db.course_activity.semester==semestre2.id)&(db.course_activity.assignation==project_var.project.id)&(db.course_activity.laboratory=='T')).select()}}
	{{actualSemester = db(db.period_year.id==semestre2).select().first()}}
	{{comparacion = T(actualSemester.period.name)+" "+str(actualSemester.yearp)}}
	{{date_var = db((db.student_control_period.period_name==comparacion)).select().first()}}
	{{cR=None}}
	{{cR = db((db.course_activity_category.semester==semestre2.id) & (db.course_activity_category.assignation==project_var.project.id) &(db.course_activity_category.laboratory=='T')).select()}}
	<script type="text/javascript">
		var activities = [];
		var activitiesD = [];
		var activitiesOriginal = [];
		var categories=[];
		var totalChanges=0;
		var request_do='f';
		{{for act in tActivities:}}
			activities.push([{{=act.id}},{{=act.course_activity_category}},'{{=act.name}}','{{=act.description.replace("\n","\\n")}}',{{=act.grade}},'{{=act.date_start}}','{{=act.date_finish}}',{{=act.course_activity_category.category.timeout}}]);
		{{pass}}
		activitiesOriginal=activities.slice();
		{{for c in cR:}}
			{{if c.category.category != 'Laboratorio':}}
				categories.push([{{=c.id}},'{{=c.category.category}}','{{=c.specific_grade}}',{{=c.grade}},{{=c.category.timeout}}]);
			{{pass}}
		{{pass}}
	</script>

	<h2>
		{{=T('Laboratory Scheduler')}} - {{=T('Change Request')}}
		<br>
	    <small>{{=name}} - {{=T(semester)}}, {{=year}}</small>
	</h2>


	<div class="row-fluid">
	    <div class="well span12" style="overflow:auto; width:120%">
			<div>
				<a class="btn" href="{{=URL('activity_control', 'students_control', vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year']))}}">
					<i class="icon-arrow-left"></i>{{=T('Back')}}
				</a>
			</div>
			<br>
			<div id="content">
			        <center>
			        	<div align="center" id="controlActivity">
	        				<ul id="myTab" class="nav nav-tabs">
								<li class="active" id="var_requestChange"><a href="#" data-toggle="tab">{{=T('Request Change')}}</a></li>
								<li id="var_allActivity"><a href="#" data-toggle="tab">{{=T('View Activities')}}</a></li>
								<li id="var_addActivity"><a href="#" data-toggle="tab">{{=T('Add Activity')}}</a></li>
							</ul>
							<table>
								<tr>
									<td align="left">
										<div class="well span11" id="div_requestChange" style="overflow:auto; width:350px;">
											<label>{{=T('Description')}}</label>
											<textarea class="string" cols="40" type="text" value="" id="activity_description_request" style="width:280px; height:100px;"></textarea>
											<script type="text/javascript">
												jQuery("#div_requestChange").append('{{=T('Total Changes')}} :  '+totalChanges);
												var tmpD='f';
												var totalA=0;
												var totalGrade=0;
												var totalErrores=0;
												var table2="<center><table class=\"table table-bordered\"><tr><th colspan=\"2\"><center>{{=T('Weighting')}}</center></th></tr><tr><th>{{=T('Category')}}</th><th>{{=T('Detail')}}</th></tr>";
												for (var i=0; i < categories.length; i++){
													for (var j=0; j<activities.length; j++){
														if(categories[i][0]==activities[j][1]){
															totalA=totalA+1;
															if(categories[i][2]=='True')
																totalGrade=totalGrade+activities[j][4];
														}
													}
													if(categories[i][2]=='True'){
														if(totalGrade==categories[i][3]){
															table2=table2+"<tr><td><FONT COLOR=\"Blue\">"+categories[i][1]+"</font></td><td><FONT COLOR=\"Blue\">---</font></td></tr>";
														}else{
															totalErrores=totalErrores+1;
															table2=table2+"<tr><td><FONT COLOR=\"Red\">"+categories[i][1]+"</font></td><td><FONT COLOR=\"Red\">Ponderación Erronea: "+totalGrade+"/"+categories[i][3]+"</font></td></tr>";
														}
													}else{
														if(totalA==0){
															totalErrores=totalErrores+1;
															table2=table2+"<tr><td><FONT COLOR=\"Red\">"+categories[i][1]+"</font></td><td><FONT COLOR=\"Red\">No tiene actividades: "+totalA+"</font></td></tr>";
														}else{
															table2=table2+"<tr><td><FONT COLOR=\"Blue\">"+categories[i][1]+"</font></td><td><FONT COLOR=\"Blue\">---</font></td></tr>";
														}
													}
													totalA=0;
													totalGrade=0;
												}
												table2=table2+"</table></center>";
												jQuery('#div_requestChange').append(table2);
												table2="";
												if(totalChanges>0 && totalErrores==0){
													jQuery('#div_requestChange').append("<center><a class=\"btn\" title=\"{{=T('Make the change requestt')}}\" id=\"botonRequest\" onclick=\"makeRequest(0);\">{{=T('Make request')}}</a><a class=\"btn\" title=\"{{=T('Cancel the change request')}}\" id=\"botonCancelRequest\" href=\"{{=URL('activity_control', 'students_control', vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year']))}}\">{{=T('Cancel request')}}</a></center>");
												}else{
													jQuery('#div_requestChange').append("<center><a class=\"btn disabled\" title=\"{{=T('Fix all errors of weight')}}\" id=\"botonRequest\" onclick=\"makeRequest(1);\">{{=T('Make request')}}</a> <a class=\"btn\" title=\"{{=T('Cancel the change request')}}\" id=\"botonCancelRequest\" href=\"{{=URL('activity_control', 'students_control', vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year']))}}\">{{=T('Cancel request')}}</a></center>");
												}
											</script>
										</div>
										<div class="well span11" id="div_allActivity" style="display: none; overflow:auto; width:350px;">
											<label>{{=T('Category')}}</label>
											<select id="viewCategory">
												<option value="-1"></option>
												{{for c in cR:}}
													{{if c.category.category != 'Laboratorio':}}
														<option value="{{=c.id}}">{{=c.category.category}}</option>
													{{pass}}
												{{pass}}
											</select>
											<br><br>
											<label id="label_viewActivity" style="display:none;">{{=T('Activity')}}</label>
											<select id="viewActivity" size="2" style="display:none;">
											</select>
											<br>
											<a id="loadActivity" role="button" class="btn btn-success"  
							                    title="{{=T('Load activity')}}" style="display:none; width:200px;"> 
							                    {{=T('Load Activity')}}
											</a>
										</div>
										<div class="well span11" id="div_addActivity" style="display: none; overflow:auto; width:350px;">
											<label>{{=T('Category')}}:</label>
										    <!--Fill the select of the categorys-->
										    <select class="generic-widget" id="category_activity_id" style="width:200px;">
										    	<option value=""></option>
												<script type="text/javascript">
													var varParciales = 0;
													var varFinal = 0;
													var actividadPromedio = [];
												</script>
												{{for c in cR:}}
													{{if c.category.category != 'Laboratorio':}}
														<option value="{{=c.id}}" title="Dias máximo de actividad: {{=c.category.timeout}} dias">{{=c.category.category}}</option>
														<script type="text/javascript">
															if("{{=c.category.category}}"=="Parciales"){
																varParciales={{=c.id}};
															}else{
																if("{{=c.category.category}}"=="Examen Final"){
																	varFinal={{=c.id}};
																}
															}
															if('{{=c.specific_grade}}'=='True'){
																actividadPromedio.push('{{=c.id}}');
															}
														</script>
													{{pass}}
												{{pass}}
										    </select>
										    <!--Fill the select of the categorys-->
										    <label>{{=T('name')}}:</label>
										    <input class="string" type="text" value="" id="activity_name1" style="width:200px; display:none;">
										    <select class="generic-widget" id="activity_name2" style="width:200px; display:none;">
										    </select>
										    <label>{{=T('description')}}:</label>
										    <textarea class="string" cols="40" type="text" value="" id="activity_description" style="width:200px; height:100px;"></textarea>

										    <label style="display:none;" id="label_grade">{{=T('Grade')}}:</label>
										    <input class="string" id="field_grade" type="text" value="" style="width:200px; display:none;">
										    
										    <label id="label_timeout"></label>
										    <label>{{=T('Start Date')}}:</label>
										    <input class="date" id="dateInit" name="log-date" placeholder="YYYY-MM-DD" type="text" value = "" style="width:200px;">
										    <label>{{=T('End Date')}}:</label>
										    <input class="date" id="dateEnd" name="log-date" placeholder="YYYY-MM-DD" type="text" value = "" style="width:200px;">

										    <a id="addActivity" role="button" class="btn btn-info"  
							                    title="{{=T('Add activity to scheduler')}}"> 
							                    <span class="icon-plus-sign"></span>
							                    {{=T('Add Activity')}}
											</a>
										</div>
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td align="left">
			                			<div class="well span11" id="div_activity_show"  style="width:900px;">
					                  </div>
					              	</td>
					              </tr>
							</table>
	        			</div>
	        		</center>
			</div>
		</div>
	</div>


	<script type="text/javascript">
	 var category_create="";
	 var category_view="";
	 var control=0;
	 var table="";
	  	$(document).ready(function(){
	  		//Cargar la tabla inicial con las actividades registradas
			jQuery('#div_activity_show').empty();	
			var table="<table class=\"table table-striped table-bordered\">";
			for (var i=0; i < categories.length; i++){
				table=table+"<tr><th colspan=\"5\"><center>"+categories[i][1]+"</center></th></tr>";
				for (var j=0; j<activities.length; j++){
					if(categories[i][0]==activities[j][1]){
						if(control==0)
							table=table+"<tr><th>Nombre</th><th>Descripción</th><th>Punteo</th><th>Fecha Inicio</th><th>Fecha Finalización</th>";
						table=table+"<tr><td>"+activities[j][2]+"</td>";
						table=table+"<td>"+activities[j][3]+"</td>";
						table=table+"<td>"+activities[j][4]+"</td>";
						table=table+"<td>"+activities[j][5]+"</td>";
						table=table+"<td>"+activities[j][6]+"</td></tr>";
					}
					control++;
				}
				control=0;
			}
			table=table+"</table>";
			jQuery("#div_activity_show").append(table);
			table="";
			//Fin de cargar la tabla inicial con las actividades registradas
			//****************************************************************************
			//****************************************************************************


	  		$("#viewCategory").change(function () {
	  			if (category_view!=document.getElementById('viewCategory').value){
	  				category_view=document.getElementById('viewCategory').value;
	  				if(category_view==-1){
	  					$("#label_viewActivity").css("display", "none");
	  					$("#viewActivity").find('option').remove().end();
	  					$("#viewActivity").css("display", "none");
	  					$("#loadActivity").css("display", "none");
	  				}else{
	  					$("#viewActivity").find('option').remove().end();
	  					$("#label_viewActivity").css("display", "block");
	  					$("#loadActivity").css("display", "block");

	  					var lista=document.getElementById("viewActivity");
	  					lista.options.add(new Option("","-1"));
	  					for (var i=0; i < activities.length; i++){
							if(activities[i][1]==category_view){
		  						lista.options.add(new Option(activities[i][2],activities[i][0]));
							}
						}
	  					$("#viewActivity").css("display", "block");
	  				}
	  			}
	  		});


	  		$("#category_activity_id").change(function () {
	  			if (category_create!=document.getElementById('category_activity_id').value){
					category_create=document.getElementById('category_activity_id').value;

					$("#field_grade").css("display", "none");
		  			$("#label_grade").css("display", "none");

	  				if (category_create==varParciales){
	  					document.getElementById('activity_name1').value="";
	  					$("#activity_name2").find('option').remove().end();

	  					var lista=document.getElementById("activity_name2");
	  					lista.options.add(new Option("Primer Parcial","Primer Parcial"));
	  					lista.options.add(new Option("Segundo Parcial","Segundo Parcial"));
	  					lista.options.add(new Option("Tercer Parcial","Tercer Parcial"));

	  					$("#activity_name1").css("display", "none");
	  					$("#activity_name2").css("display", "block");
	  				}else{
	  					if(category_create==varFinal){
	  						document.getElementById('activity_name1').value="";
	  						$("#activity_name2").find('option').remove().end();

	  						var lista=document.getElementById("activity_name2");
		  					document.getElementById('activity_name1').value="";
		  					lista.options.add(new Option("Examen Final","Examen Final"));

	  						$("#activity_name1").css("display", "none");
		  					$("#activity_name2").css("display", "block");
	  					}else{
	  						document.getElementById('activity_name1').value="";
	  						$("#activity_name2").find('option').remove().end();
	  						var lista=document.getElementById("activity_name2");
	  						$("#activity_name2").css("display", "none");
	  						$("#activity_name1").css("display", "block");
	  					}
	  				}
	  				document.getElementById('field_grade').value="nada";
	  				for (var i=0; i < actividadPromedio.length; i++){
						if(actividadPromedio[i]==category_create){
							document.getElementById('field_grade').value="";
	  						$("#field_grade").css("display", "block");
	  						$("#label_grade").css("display", "block");
						}
					}
					for (var i=0; i < categories.length; i++){
						if(categories[i][0]==category_create){
							jQuery('#label_timeout').empty();
							jQuery("#label_timeout").append('Tiempo máximo de actividades: '+categories[i][4]+' dias');
							i=categories.length;
						}
					}
	  			}
			});




			//*************************************************************************************************************
			//*************************************************************************************************************
			//*************************************************************************************************************
			//*************************************************************************************************************


			$("#addActivity").click(function(){
		        var category_activity_id_var = document.getElementById('category_activity_id').value;
		        var activity_name2_var = document.getElementById('activity_name2').value;
		        var activity_name1_var = document.getElementById('activity_name1').value;
		        var activity_description_var = document.getElementById('activity_description').value;
		        var field_grade_var = document.getElementById('field_grade').value;
		        var dateInit_var = document.getElementById('dateInit').value;
		        var dateEnd_var = document.getElementById('dateEnd').value;
		        if(category_activity_id_var=="" || (activity_name1_var=="" && activity_name2_var=="") || activity_description_var=="" || dateInit_var=="" || dateEnd_var==""){
		            alert("{{=T('Fill all fields to save.')}}");
		        }else{
		          var formatDate = /^(\d{4})(\/|-)(\d{1,2})(\/|-)(\d{1,2})$/;
		          var validDateInit = dateInit_var.match(formatDate);
		          var validDateEnd = dateEnd_var.match(formatDate);
		          if (validDateInit == null || validDateEnd==null) {
		            alert("{{=T('Enter date and time as YYYY-MM-DD or YYYY/MM/DD')}}");
		          }else{
		            if(dateInit_var<=dateEnd_var){
		              if (field_grade_var!='nada'){
		                var regex = /^\d+(?:\.\d{0,2})$/;
		                var regex2 = /^([0-9])*$/;
		                if (!regex.test(field_grade_var) && !regex2.test(field_grade_var)){
		                  alert("{{=T('The entered value is not a decimal')}}");  
		                }else{
		                  if(field_grade_var=='0'){
		                    alert("{{=T('The grade can not be 0')}}");
		                  }else{
		                    if (activity_name2_var==""){
		                      $("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=addActivityRequest&amp;category_activity_id_var=" + category_activity_id_var + "&amp;activity_name1_var=" + encodeURIComponent(activity_name1_var) +"&amp;activity_description_var=" + encodeURIComponent(activity_description_var) + "&amp;field_grade_var=" + field_grade_var + "&amp;dateInit_var="+encodeURIComponent(dateInit_var)+ "&amp;dateEnd_var="+encodeURIComponent(dateEnd_var)+"&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}"); 
		                    }else{
		                      $("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=addActivityRequest&amp;category_activity_id_var=" + category_activity_id_var + "&amp;activity_name1_var=" + encodeURIComponent(activity_name2_var) +"&amp;activity_description_var=" + encodeURIComponent(activity_description_var) + "&amp;field_grade_var=" + field_grade_var + "&amp;dateInit_var="+encodeURIComponent(dateInit_var)+ "&amp;dateEnd_var="+encodeURIComponent(dateEnd_var)+"&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}"); 
		                    }
		                  }
		                }
		              }else{
		                if (activity_name2_var==""){
		                    $("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=addActivityRequest&amp;category_activity_id_var=" + category_activity_id_var + "&amp;activity_name1_var=" + encodeURIComponent(activity_name1_var) +"&amp;activity_description_var=" + encodeURIComponent(activity_description_var) + "&amp;field_grade_var=nada&amp;dateInit_var="+encodeURIComponent(dateInit_var)+ "&amp;dateEnd_var="+encodeURIComponent(dateEnd_var)+"&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}"); 
		                  }else{
		                    $("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=addActivityRequest&amp;category_activity_id_var=" + category_activity_id_var + "&amp;activity_name1_var=" + encodeURIComponent(activity_name2_var) +"&amp;activity_description_var=" + encodeURIComponent(activity_description_var) + "&amp;field_grade_var=nada&amp;dateInit_var="+encodeURIComponent(dateInit_var)+ "&amp;dateEnd_var="+encodeURIComponent(dateEnd_var)+"&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}"); 
		                  }
		              }
		            }else{
		              alert("{{=T('The end date must be greater than start date')}}");
		            }
		          }
		        }
		    });

			


			$("#loadActivity").click(function(){
				if(document.getElementById('viewActivity').value!=-1){
					var posA=-1;
					var posC=-1;
					for (var j=0; j<activities.length; j++){
						if(document.getElementById('viewActivity').value==activities[j][0]){
							posA=j;
							j=activities.length;
						}
					}

					var tabTemp="<table class=\"table table-striped table-bordered\">";
					for (var i=0; i < categories.length; i++){
						if(activities[posA][1]==categories[i][0]){
							posC=i;
							if(categories[i][2]=='True'){
								tabTemp=tabTemp+"<tr><th colspan=\"6\"><Center>"+categories[i][1]+" (Ponderación "+categories[i][3]+")</Center></th></tr>";
							}else{
								tabTemp=tabTemp+"<tr><th colspan=\"6\"><Center>"+categories[i][1]+"</Center></th></tr>";
							}
							i=categories.length;
						}
					}
					tabTemp=tabTemp+"<tr><th colspan=\"6\"><Center>Registro Historico</Center></th></tr>";
					tabTemp=tabTemp+"<tr><th>ID</th><th>Nombre</th><th>Descripción</th><th>Punteo</th><th>Fecha Inicio</th><th>Fecha Finalización</th>";
						
					tabTemp=tabTemp+"<tr><td>"+activities[posA][0]+"</td>";
					tabTemp=tabTemp+"<td>"+activities[posA][2]+"</td>";
					tabTemp=tabTemp+"<td>"+activities[posA][3]+"</td>";
					tabTemp=tabTemp+"<td>"+activities[posA][4]+"</td>";
					tabTemp=tabTemp+"<td>"+activities[posA][5]+"</td>";
					tabTemp=tabTemp+"<td>"+activities[posA][6]+"</td></tr>";
					tabTemp=tabTemp+"<tr><th colspan=\"6\"><Center>Registro Actualizado</Center></th></tr>";
					tabTemp=tabTemp+"<tr><th>ID</th><th>Nombre</th><th>Descripción</th><th>Punteo</th><th>Fecha Inicio</th><th>Fecha Finalización</th>";
					tabTemp=tabTemp+"<tr><td><input class=\"string\" id=\"request_field_id\" type=\"text\" value=\""+activities[posA][0]+"\" style=\"width:30px;\" disabled></td>";
					
					if (activities[posA][2]=='Examen Final'){
						tabTemp=tabTemp+"<td><select class=\"generic-widget\" id=\"request_activity_name1\" style=\"width:140px;\">";
						tabTemp=tabTemp+"<option value=\""+activities[posA][2]+"\">"+activities[posA][2]+"</option>";
						tabTemp=tabTemp+"</select></td>";
					}else{
						tabTemp=tabTemp+"<td><input class=\"string\" name=\"request_activity_name1\" type=\"text\" value=\""+activities[posA][2]+"\" id=\"request_activity_name1\" style=\"width:140px;\"></td>";
					}
					tabTemp=tabTemp+"<td><textarea class=\"string\" cols=\"40\" type=\"text\" id=\"request_activity_description\" style=\"width:240px; height:100px;\">"+activities[posA][3]+"</textarea></td>";
					if(categories[posC][2]=='True'){
						tabTemp=tabTemp+"<td><input class=\"string\" id=\"request_field_grade\" type=\"text\" value=\""+activities[posA][4]+"\" style=\"width:30px;\"></td>";
					}else{
						tabTemp=tabTemp+"<td><input class=\"string\" id=\"request_field_grade\" type=\"text\" value=\""+activities[posA][4]+"\" style=\"width:30px;\" disabled></td>";
					}
					tabTemp=tabTemp+"<td><input class=\"date\" id=\"request_dateInit\" name=\"date_log\" type=\"text\" value=\""+activities[posA][5]+"\" style=\"width:75px;\" placeholder=\"YYYY-MM-DD\"/></td>";
					tabTemp=tabTemp+"<td><input class=\"date\" id=\"request_dateEnd\" name=\"date_log\" type=\"text\" value=\""+activities[posA][6]+"\" style=\"width:75px;\" placeholder=\"YYYY-MM-DD\"/></td>";
					tabTemp=tabTemp+"<tr><td  colspan=\"6\"><div align=\"right\"><a id=\"activityButton\" role=\"button\" onclick=\"updateActivityRequestOption("+activities[posA][0]+");\"class=\"badge btn-success\"  title=\"{{=T('Update activity from scheduler')}}\"> <span class=\"icon-white icon-edit\"></span>{{=T('Update')}}</a>     <a id=\"activityButton\" role=\"button\" onclick=\"deleteActivityRequestOption("+activities[posA][0]+");\" class=\"badge btn-danger\"  title=\"{{=T('Delete activity from scheduler')}}\"> <span class=\"icon-white icon-remove-sign\"></span>{{=T('Delete')}}</a></div></td></tr>";
					tabTemp=tabTemp+"</table>";
					
					jQuery('#div_activity_show').empty();
					jQuery('#div_activity_show').append(tabTemp);
				}
			});




			//*******************************************************************************************
			//*******************************************************************************************
			//*******************************************************************************************
			//*******************************************************************************************



			//Show the desire function
			$("#var_requestChange").click(function(){			
				$("#div_requestChange").css("display", "block");
				$("#div_allActivity").css("display", "none");
				$("#div_addActivity").css("display", "none");

				var control=0;
				totalChanges=0;
				var table="<table class=\"table table-striped table-bordered\">";
				for (var i=0; i < categories.length; i++){
					table=table+"<tr><th colspan=\"5\"><center>"+categories[i][1]+"</center></th></tr>";
					for (var j=0; j<activities.length; j++){
						if(categories[i][0]==activities[j][1]){
							if(control==0)
								table=table+"<tr><th>Nombre</th><th>Descripción</th><th>Punteo</th><th>Fecha Inicio</th><th>Fecha Finalización</th>";
							if(activities[j][0]==-2){
								table=table+"<tr><td><FONT COLOR=\"Blue\">"+activities[j][2]+"</font></td>";
								table=table+"<td><FONT COLOR=\"Blue\">"+activities[j][3]+"</font></td>";
								table=table+"<td><FONT COLOR=\"Blue\">"+activities[j][4]+"</font></td>";
								table=table+"<td><FONT COLOR=\"Blue\">"+activities[j][5]+"</font></td>";
								table=table+"<td><FONT COLOR=\"Blue\">"+activities[j][6]+"</font></td></tr>";
								totalChanges=totalChanges+1;
							}else{
								var change=0;
								for(var k=0; k<activitiesOriginal.length; k++){
										if(activities[j][0]==activitiesOriginal[k][0]){
										if(activities[j][2]==activitiesOriginal[k][2] && activities[j][3]==activitiesOriginal[k][3] && activities[j][4]==activitiesOriginal[k][4] && activities[j][5]==activitiesOriginal[k][5] && activities[j][6]==activitiesOriginal[k][6]){
											//alert(activitiesOriginal[k]+' - '+activities[j]);
											change=1;
										}
										k=activitiesOriginal.length;
									}
								}
								if(change==0){
									table=table+"<tr><td><FONT COLOR=\"Green\">"+activities[j][2]+"</font></td>";
									table=table+"<td><FONT COLOR=\"Green\">"+activities[j][3]+"</font></td>";
									table=table+"<td><FONT COLOR=\"Green\">"+activities[j][4]+"</font></td>";
									table=table+"<td><FONT COLOR=\"Green\">"+activities[j][5]+"</font></td>";
									table=table+"<td><FONT COLOR=\"Green\">"+activities[j][6]+"</font></td></tr>";
									totalChanges=totalChanges+1;
								}else{
									table=table+"<tr><td>"+activities[j][2]+"</td>";
									table=table+"<td>"+activities[j][3]+"</td>";
									table=table+"<td>"+activities[j][4]+"</td>";
									table=table+"<td>"+activities[j][5]+"</td>";
									table=table+"<td>"+activities[j][6]+"</td></tr>";
								}
							}
						}
						control++;
					}
					if(activitiesOriginal.length!=activities.length){
						control=0;
						for (var j1=0; j1<activitiesOriginal.length; j1++){
							if(categories[i][0]==activitiesOriginal[j1][1]){
								for (var j2=0; j2<activities.length; j2++){
									if(activities[j2][0]==activitiesOriginal[j1][0]){
										control=control+1;
									}
								}
								if(control==0){
									table=table+"<tr><td><FONT COLOR=\"Red\">"+activitiesOriginal[j1][2]+"</font></td>";
									table=table+"<td><FONT COLOR=\"Red\">"+activitiesOriginal[j1][3]+"</font></td>";
									table=table+"<td><FONT COLOR=\"Red\">"+activitiesOriginal[j1][4]+"</font></td>";
									table=table+"<td><FONT COLOR=\"Red\">"+activitiesOriginal[j1][5]+"</font></td>";
									table=table+"<td><FONT COLOR=\"Red\">"+activitiesOriginal[j1][6]+"</font></td></tr>";
									totalChanges=totalChanges+1;
								}
							}
							control=0;
						}
					}
					control=0;
				}
				table=table+"</table>";
				jQuery('#div_activity_show').empty();
				jQuery("#div_activity_show").append(table);
				table="";

				jQuery('#div_requestChange').empty();
				jQuery('#div_requestChange').append("<label>{{=T('Description')}}</label></center>");
				jQuery('#div_requestChange').append("<textarea class=\"string\" cols=\"40\" type=\"text\" value=\"\" id=\"activity_description_request\" style=\"width:280px; height:100px;\"></textarea>");
				jQuery("#div_requestChange").append('{{=T('Total Changes')}} :  '+totalChanges);
				tmpD='f';
				totalA=0;
				totalGrade=0;
				totalErrores=0;
				table2="<center><table class=\"table table-bordered\"><tr><th colspan=\"2\"><center>{{=T('Weighting')}}</center></th></tr><tr><th>{{=T('Category')}}</th><th>{{=T('Detail')}}</th></tr>";
				for (var i=0; i < categories.length; i++){
					for (var j=0; j<activities.length; j++){
						if(categories[i][0]==activities[j][1]){
							totalA=totalA+1;
							if(categories[i][2]=='True')
								totalGrade=totalGrade+activities[j][4];
						}
					}
					if(categories[i][2]=='True'){
						if(totalGrade==categories[i][3]){
							table2=table2+"<tr><td><FONT COLOR=\"Blue\">"+categories[i][1]+"</font></td><td><FONT COLOR=\"Blue\">---</font></td></tr>";
						}else{
							totalErrores=totalErrores+1;
							table2=table2+"<tr><td><FONT COLOR=\"Red\">"+categories[i][1]+"</font></td><td><FONT COLOR=\"Red\">Ponderación Erronea: "+totalGrade+"/"+categories[i][3]+"</font></td></tr>";
						}
					}else{
						if(totalA==0){
							totalErrores=totalErrores+1;
							table2=table2+"<tr><td><FONT COLOR=\"Red\">"+categories[i][1]+"</font></td><td><FONT COLOR=\"Red\">No tiene actividades: "+totalA+"</font></td></tr>";
						}else{
							table2=table2+"<tr><td><FONT COLOR=\"Blue\">"+categories[i][1]+"</font></td><td><FONT COLOR=\"Blue\">---</font></td></tr>";
						}
					}
					totalA=0;
					totalGrade=0;
				}
				table2=table2+"</table></center>";
				jQuery('#div_requestChange').append(table2);
				table2="";
				if(totalChanges>0 && totalErrores==0){
					jQuery('#div_requestChange').append("<center><a class=\"btn\" title=\"{{=T('Make the change requestt')}}\" id=\"botonRequest\" onclick=\"makeRequest(0);\">{{=T('Make request')}}</a><a class=\"btn\" title=\"{{=T('Cancel the change request')}}\" id=\"botonCancelRequest\" href=\"{{=URL('activity_control', 'students_control', vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year']))}}\">{{=T('Cancel request')}}</a></center>");
				}else{
					jQuery('#div_requestChange').append("<center><a class=\"btn disabled\" title=\"{{=T('Fix all errors of weight')}}\" id=\"botonRequest\" onclick=\"makeRequest(1);\">{{=T('Make request')}}</a><a class=\"btn\" title=\"{{=T('Cancel the change request')}}\" id=\"botonCancelRequest\" href=\"{{=URL('activity_control', 'students_control', vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year']))}}\">{{=T('Cancel request')}}</a></center>");
				}
			});



			$("#var_allActivity").click(function(){			
				$("#div_allActivity").css("display", "block");
				$("#div_addActivity").css("display", "none");
				$("#div_requestChange").css("display", "none");

				$("#label_viewActivity").css("display", "none");
				$("#viewActivity").find('option').remove().end();
				$("#viewActivity").css("display", "none");
				$("#loadActivity").css("display", "none");
			});



			$("#var_addActivity").click(function(){			
				$("#div_addActivity").css("display", "block");
				$("#div_allActivity").css("display", "none");
				$("#div_requestChange").css("display", "none");
				jQuery('#div_activity_show').empty();
				var control=0;
				var table="<table class=\"table table-striped table-bordered\">";
				for (var i=0; i < categories.length; i++){
					table=table+"<tr><th colspan=\"5\"><center>"+categories[i][1]+"</center></th></tr>";
					for (var j=0; j<activities.length; j++){
						if(categories[i][0]==activities[j][1]){
							if(control==0)
								table=table+"<tr><th>Nombre</th><th>Descripción</th><th>Punteo</th><th>Fecha Inicio</th><th>Fecha Finalización</th>";
							table=table+"<tr><td>"+activities[j][2]+"</td>";
							table=table+"<td>"+activities[j][3]+"</td>";
							table=table+"<td>"+activities[j][4]+"</td>";
							table=table+"<td>"+activities[j][5]+"</td>";
							table=table+"<td>"+activities[j][6]+"</td></tr>";
						}
						control++;
					}
					control=0;
				}
				table=table+"</table>";
				jQuery("#div_activity_show").append(table);
				table="";
			});
		});
		


		function makeRequest(var_id){
			if(var_id==0){
				var r = confirm("{{=T('Do you want to request changes?')}}");
				if (r == true) {
					var description_request_var = document.getElementById('activity_description_request').value;
					if(description_request_var==""){
						alert("{{=T('Fill all fields to save.')}}");
					}else{
						$("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=makeActivityRequest&amp;tip=n&amp;edit_activity_description_var=" + encodeURIComponent(description_request_var) +"&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}");

						for (var j=0; j<activities.length; j++){
							if(activities[j][0]==-2){
								$("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=makeActivityRequest&amp;category_activity_id_var=" + encodeURIComponent(activities[j][1]) + "&amp;tip=i&amp;activity_name1_var=" + encodeURIComponent(activities[j][2]) +"&amp;activity_description_var=" + encodeURIComponent(activities[j][3]) + "&amp;field_grade_var=" + encodeURIComponent(activities[j][4]) + "&amp;dateInit_var="+encodeURIComponent(activities[j][5])+ "&amp;dateEnd_var="+encodeURIComponent(activities[j][6])+"&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}&amp;idA=" + encodeURIComponent(activities[j][0]));
							}else{
								var change=0;
								for(var k=0; k<activitiesOriginal.length; k++){
										if(activities[j][0]==activitiesOriginal[k][0]){
										if(activities[j][2]==activitiesOriginal[k][2] && activities[j][3]==activitiesOriginal[k][3] && activities[j][4]==activitiesOriginal[k][4] && activities[j][5]==activitiesOriginal[k][5] && activities[j][6]==activitiesOriginal[k][6]){
											change=1;
										}
										k=activitiesOriginal.length;
									}
								}
								if(change==0){
									$("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=makeActivityRequest&amp;category_activity_id_var=" + encodeURIComponent(activities[j][1]) + "&amp;tip=u&amp;activity_name1_var=" + encodeURIComponent(activities[j][2]) +"&amp;activity_description_var=" + encodeURIComponent(activities[j][3]) + "&amp;field_grade_var=" + encodeURIComponent(activities[j][4]) + "&amp;dateInit_var="+encodeURIComponent(activities[j][5])+ "&amp;dateEnd_var="+encodeURIComponent(activities[j][6])+"&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}&amp;idA=" + encodeURIComponent(activities[j][0]));
								}
							}
						}

						if(activitiesOriginal.length!=activities.length){
							for (var i=0; i < categories.length; i++){
								control=0;
								for (var j1=0; j1<activitiesOriginal.length; j1++){
									if(categories[i][0]==activitiesOriginal[j1][1]){
										for (var j2=0; j2<activities.length; j2++){
											if(activities[j2][0]==activitiesOriginal[j1][0]){
												control=control+1;
											}
										}
										if(control==0){
											$("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=makeActivityRequest&amp;category_activity_id_var=" + encodeURIComponent(activitiesOriginal[j1][1]) + "&amp;tip=d&amp;activity_name1_var=" + encodeURIComponent(activitiesOriginal[j1][2]) +"&amp;activity_description_var=" + encodeURIComponent(activitiesOriginal[j1][3]) + "&amp;field_grade_var=" + encodeURIComponent(activitiesOriginal[j1][4]) + "&amp;dateInit_var="+encodeURIComponent(activitiesOriginal[j1][5])+ "&amp;dateEnd_var="+encodeURIComponent(activitiesOriginal[j1][6])+"&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}&amp;idA=" + encodeURIComponent(activitiesOriginal[j1][0]));
										}
									}
								}
							}
						}
						activities=[];
						activitiesOriginal=[];
						activitiesD=[];
					}
				}
			}
		}

		function deleteActivityRequestOption(var_id){
			var r = confirm("{{=T('Do you want to delete this record?')}}");
			if (r == true) {
				$("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=deleteActivityRequest&amp;activity_id_var=" + var_id + "&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}");
			}
		}

		function updateActivityRequestOption(var_id){
			var r = confirm("{{=T('Do you want to update this record?')}}");
			if (r == true) {
		        var edit_activity_name1_var = document.getElementById('request_activity_name1').value;
		        var edit_activity_description_var = document.getElementById('request_activity_description').value;
		        var edit_field_grade_var = document.getElementById('request_field_grade').value;
		        var edit_dateInit_var = document.getElementById('request_dateInit').value;
		        var edit_dateEnd_var = document.getElementById('request_dateEnd').value;
		        if(edit_activity_name1_var=="" || edit_activity_description_var=="" || edit_dateInit_var=="" || edit_dateEnd_var==""){
		            alert("{{=T('Fill all fields to save.')}}");
		        }else{
		          var formatDate = /^(\d{4})(\/|-)(\d{1,2})(\/|-)(\d{1,2})$/;
		          var validDateInit = edit_dateInit_var.match(formatDate);
		          var validDateEnd = edit_dateEnd_var.match(formatDate);
		          if (validDateInit == null || validDateEnd==null) {
		            alert("{{=T('Enter date and time as YYYY-MM-DD or YYYY/MM/DD')}}");
		          }else{
		            if(edit_dateInit_var<=edit_dateEnd_var){
		                var regex = /^\d+(?:\.\d{0,2})$/;
		                var regex2 = /^([0-9])*$/;
		                if (!regex.test(edit_field_grade_var) && !regex2.test(edit_field_grade_var)){
		                  alert("{{=T('The entered value is not a decimal')}}");  
		                }else{
		                	$("#div_activity_show").load("{{=URL('activity_control','activity.html')}}?op=updateActivityRequest&amp;var_id="+var_id+"&amp;edit_activity_name1_var=" + encodeURIComponent(edit_activity_name1_var) + "&amp;edit_activity_description_var=" + encodeURIComponent(edit_activity_description_var) +"&amp;edit_field_grade_var=" + edit_field_grade_var + "&amp;edit_dateInit_var="+encodeURIComponent(edit_dateInit_var)+ "&amp;edit_dateEnd_var="+encodeURIComponent(edit_dateEnd_var)+"&amp;assignation={{=request.vars['assignation']}}&amp;project={{=request.vars['project']}}&amp;year={{=request.vars['year']}}");
		                }
		            }else{
		              alert("{{=T('The end date must be greater than start date')}}");
		            }
		          }
		        }
			}
		}
	</script>
{{else:}}
	<div class="row-fluid">
	    <div class="well span12" style="overflow:auto; width:120%">
			<div>
				<a class="btn" href="{{=URL('activity_control', 'students_control', vars=dict(assignation = request.vars['assignation'], project = request.vars['project'], year = request.vars['year']))}}">
					<i class="icon-arrow-left"></i>{{=T('Back')}}
				</a>
			</div>
			<br>
			<div id="content">
				<h2>
					Solicitud de cambio pendiente de procesamiento
					<br>
				    <small>{{=name}} - {{=T(semester)}}, {{=year}}</small>
				</h2>
				<table class="table table-striped table-bordered">
					<tr>
						<th>Operación</th>
						<th>Nombre Actividad</th>
						<th>Descripción Actividad</th>
						<th>Nota de Actividad</th>
						<th>Fecha de Inicio</th>
						<th>Fecha de Finalización</th>
					</tr>
				{{for change in db(db.requestchange_course_activity.requestchange_activity==requestId.id).select():}}
					<tr>
						<td>{{=change.operation_request}}</td>
						<td>{{=change.name}}</td>
						<td>{{=change.description}}</td>
						<td>{{=change.grade}}</td>
						<td>{{=change.date_start}}</td>
						<td>{{=change.date_finish}}</td>
					</tr>
				{{pass}}
				</table>
			</div>
		</div>
	</div>
{{pass}}	