{{extend 'template.html'}}
<h2>
	{{=T('Control activities change requests')}}
	<br>
    <small>{{=name}} - {{=T(semester)}}, {{=year}}</small>
</h2>

<div class="row-fluid">
    <div class="well span12" style="overflow:auto;">
		<div>
			<a class="btn" href="{{=URL('activity_control', 'courses_list_request')}}">
				<i class="icon-arrow-left"></i>{{=T('Back')}}
			</a>
		</div>
		<br>
		<div id="content">
		        <center>
		        	<div align="center" id="controlActivity">
        				<ul id="myTab" class="nav nav-tabs">
							<li class="active" id="pendingRequest"><a href="#" data-toggle="tab">{{=T('Pending requests')}}</a></li>
							<li id="allRequest"><a href="#" data-toggle="tab">{{=T('All request')}}</a></li>
							<li id="acceptedRequest"><a href="#" data-toggle="tab">{{=T('Accepted request')}}</a></li>
							<li id="rejectedRequest"><a href="#" data-toggle="tab">{{=T('Rejected request')}}</a></li>
						</ul>
            			<div class="well span11" id="div_request_show">
            				{{changes = db((db.requestchange_activity.status=='Pending')&(db.requestchange_activity.semester==int(semestre2.id))&(db.requestchange_activity.course==int(course))).select()}}
            				{{if changes.first() != None:}}
            					<table class="table table-striped table-bordered">
									<tr>
										<th>{{=T('Category')}}</th>
										<th>{{=T('User')}}</th>
										<th>{{=T('Role')}} </th>
										<th>{{=T('Status')}}</th>
										<th>{{=T('Date Request')}}</th>
										<th>{{=T('Action')}}</th>
									</tr>
								{{for change in changes:}}
									<tr>
										<td>{{=change.course_activity_category.category.category}}</td>
										<td>{{=change.user_id.username}}</td>
										{{if change.roll == "Student":}}
											<td>{{=T('Tutor academico')}}</td>
										{{else:}}
											<td>{{=T(change.roll)}}</td>
										{{pass}}
										<td>{{=T(change.status)}}</td>
										<td>{{=change.date_request}}</td>
										<td>
											<a class="btn" title="{{=T('View the change request')}}" onclick="detailP({{=change.id}});">{{=T('Detail')}}</a>
										</td>
									</tr>
								{{pass}}
								</table>
            				{{else:}}
            					<h1>{{=T('There is no request')}}</h1>
            				{{pass}}
	                  	</div>
	                  	<div class="well span11" id="div_request_detail" style="display: none;">
	                  	</div>
        			</div>
        		</center>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#pendingRequest").click(function(){
			jQuery('#div_request_detail').empty();
			$("#div_request_detail").css("display", "none");
			$("#div_request_show").css("display", "block");
			$("#div_request_show").load("{{=URL('activity_control','activityRequest.html')}}?op=solveActivityRequest&amp;tip=p&amp;course={{=course}}");
		});
		$("#allRequest").click(function(){
			jQuery('#div_request_detail').empty();
			$("#div_request_detail").css("display", "none");
			$("#div_request_show").css("display", "block");
			$("#div_request_show").load("{{=URL('activity_control','activityRequest.html')}}?op=solveActivityRequest&amp;tip=t&amp;course={{=course}}"); 
		});
		$("#acceptedRequest").click(function(){
			jQuery('#div_request_detail').empty();
			$("#div_request_detail").css("display", "none");
			$("#div_request_show").css("display", "block");
			$("#div_request_show").load("{{=URL('activity_control','activityRequest.html')}}?op=solveActivityRequest&amp;tip=a&amp;course={{=course}}"); 
		});
		$("#rejectedRequest").click(function(){
			jQuery('#div_request_detail').empty();
			$("#div_request_detail").css("display", "none");
			$("#div_request_show").css("display", "block");
			$("#div_request_show").load("{{=URL('activity_control','activityRequest.html')}}?op=solveActivityRequest&amp;tip=r&amp;course={{=course}}"); 
		});
	});

	function detail(var_id){
		$("#div_request_show").css("display", "none");
		$("#div_request_detail").css("display", "block");
		$("#div_request_detail").load("{{=URL('activity_control','activityRequest.html')}}?op=solveActivityRequestDetailO&amp;Idrequest="+var_id); 
	}

	function detailP(var_id){
		$("#div_request_show").css("display", "none");
		$("#div_request_detail").css("display", "block");
		$("#div_request_detail").load("{{=URL('activity_control','activityRequest.html')}}?op=solveActivityRequestDetailP&amp;Idrequest="+var_id); 
	}

	function closeDetail(){
		jQuery('#div_request_detail').empty();
		$("#div_request_detail").css("display", "none");
		$("#div_request_show").css("display", "block");
	}
</script>