{{temp_op = request.vars['f_view']}}
{{if (temp_op == "weighting_edit" or temp_op == "weighting_get") and ((auth.has_membership('Academic') & (auth.has_membership('Teacher') == False)  & (auth.has_membership('Student') == False) ) or ( auth.has_membership('Super-Administrator') == False and auth.has_membership('Ecys-Administrator') == False and assigantion == None)): }}
	{{session.flash = T('Not valid Action.')}}
	{{redirect(URL('default','index'))}}
{{else:}}

{{extend 'template.html'}}
{{if request.vars['f_view'] == "weighting":}}
	{{if request.vars['type'] == "course":}}
		<h2>{{=T('Course Weighting')}} - {{=name}}
	{{else:}}
		<h2>{{=T('Laboratory Weighting')}} - {{=name}}
	{{pass}}
{{elif request.vars['f_view'] == "activity":}}
	{{if request.vars['type'] == "class":}}
		<h2>{{=T('Course Scheduler')}} - {{=name}}
	{{else:}}
		<h2>{{=T('Laboratory Scheduler')}} - {{=name}}
	{{pass}}
{{pass}}
	<br>
</h2>


<div class="well " id="principal_div" >
	<div>
		<a href="{{=URL('activity_control', 'students_control', vars=dict(project = request.vars['project'], period = request.vars['year']))}}" class="btn" ><i class="icon-arrow-left"></i> {{=T('Back')}}</a>
	</div>
<br>
	{{if request.vars['f_view'] == "weighting" or request.vars['f_view'] == "weighting_edit" or request.vars['f_view'] == "weighting_get":}}
		<div id="weighting_menu">
		</div>
	{{elif request.vars['f_view'] == "activity":}}
		<div id="activity_menu">
		</div>
	{{pass}}
	
    

    {{if request.vars['f_view'] == "weighting" or request.vars['f_view'] == "weighting_edit" or request.vars['f_view'] == "weighting_get":}}
		<div id="weighting_inside">
	{{elif request.vars['f_view'] == "activity" or request.vars['f_view'] == "activity_edit":}}
		<div id="activity_inside">
	{{pass}}
		{{=T('Loading')}}...
	</div>
</div>



<script type="text/javascript">
$(document).ready(function(){
	var f_view ='{{=request.vars['f_view']}}';	
	if (f_view == 'weighting'){
		if ("{{=request.vars['type']}}" == 'course'){
			$("#weighting_inside").load('{{=URL('activity_control','control_weighting.html',vars=dict(operation="div_update", type="course", project = request.vars['project'], year = request.vars['year']))}}' );
		}else{
			$("#weighting_inside").load('{{=URL('activity_control','control_weighting.html',vars=dict(operation="div_update", type="lab", project = request.vars['project'], year = request.vars['year']))}}' );	
		}
	}

	if (f_view == 'weighting_edit'){
		$("#weighting_inside").load('{{=URL('activity_control','control_students_modals.html',vars=dict( project = request.vars['project'], year = request.vars['year'],f_view = 'weighting_edit', type = request.vars['type']))}}' );
	}

	if (f_view == 'weighting_get'){
		$("#weighting_inside").load('{{=URL('activity_control','control_students_modals.html',vars=dict( project = request.vars['project'], year = request.vars['year'],f_view = 'weighting_get', type = request.vars['type']))}}' );
	}

	if (f_view == 'activity'){
		$("#activity_inside").load('{{=URL('activity_control','control_activity.html',vars=dict(operation="div_update", project = request.vars['project'], year = request.vars['year'], type = request.vars['type']))}}');
	}

	if (f_view == 'activity_edit'){
		
		$("#activity_inside").load('{{=URL('activity_control','control_students_modals2.html',vars=dict( project = request.vars['project'], year = request.vars['year'],f_view = 'activity_get', type = request.vars['type']))}}');
	}
  });
</script>

<script type="text/javascript">
	$(document).ready(function(){
	    $("#weighting_menu").load('{{=URL('activity_control','control_weighting.html',vars=dict(operation="menu_update", type=request.vars['type'], project = request.vars['project'], year = request.vars['year']))}}');

	    {{if request.vars['f_view'] == "activity":}}
	    	$("#activity_menu").load('{{=URL('activity_control','control_activity.html',vars=dict(operation="menu_update", project = request.vars['project'], year = request.vars['year'], type = request.vars['type']))}}');
	    {{pass}}
	  });
</script>
{{pass}}