{{extend 'template.html'}}

{{step_count=0}}
<script src="{{=URL('static','js')}}/jquery-migrate-1.2.1.js"></script>
<div style=" width:100%; overflow:auto;">
  <div style=" left:0; width:100%;  left:25px;" >
    <h1>
      {{=name}}
      <a onclick="javascript:introJs().setOptions({ 'skipLabel': '{{=T('Skip')}}', 'nextLabel': '{{=T('Next')}}', 'prevLabel': '{{=T('Previous')}}', 'doneLabel': '{{=T('Exit')}}' }).start();" href='javascript:void(0);' class="btn btn-primary" >
          <span class="icon-white icon-question-sign"></span>
      </a>
      <br>
      <small>{{=nameP}}</small>
    </h1>
    <table style="width:100%;">
      <tr>
        <td style="width:25%;">
        <table style="width:100%; left:0;">
          <tr>
            <td>
            <!--CLASS WEIGHTING DIV-->
            <div id="weighting_div" style=" width:100%; ">
                  
                  <a type="button" class="close" title="{{=T('Help')}}" aria-hidden="true" role="button" class="btn btn-warning" data-toggle="modal" data-target="#help_modal_weighting" >
                      <span class="icon-black icon-question-sign"></span>
                  </a>

                  <a type="button" class="close" title="{{=T('View in full page the weighting')}}" aria-hidden="true" href="{{=URL('activity_control', 'students_control_full',vars=dict( year = year, type='course', project = request.vars['project'], f_view='weighting'))}}" >
                      <span class="icon-black icon-fullscreen"></span>
                  </a>              

              <div id="h_weighting_h" class="navbar-inner" 
              {{if (auth.has_membership('Teacher')):}}
                data-step="{{step_count+=1}}{{=step_count}}" data-intro="El primer paso consiste en crear la ponderación del curso. El menú le mostrara las acciones para gestionar la ponderación del curso:
                <br><b>A.  Crear Nueva Ponderación:</b> Le permite una nueva ponderación del curso.
                <br><b>B.  Obtener Ponderación Anterior:</b> Le permite obtener la ponderación de un curso de un semestre anterior. 
                <br><b>C.  Editar Ponderación:</b> Luego de haber creado la ponderación del curso correctamente podrá editar la misma si desea hacer algún tipo de cambio.
                "
              {{pass}}>
                <div id="weighting_menu">          
                  
                </div>        
              </div>

              <div id="weighting_inside" class="well" style="overflow:auto; background-color:white; " 
              {{if (auth.has_membership('Teacher')):}}
                data-step="{{step_count+=1}}{{=step_count}}" data-intro="Luego de crear la ponderación del curso correctamente se le mostrará la ponderación en esta sección. Se mostrara el nombre de la <b>categoría</b>, la <b>nota</b>, si las actividades dentro de esta categoría serán notas promediadas <b>(P.N)</b> y por último si el tutor académico tiene permisos para planificar actividades dentro de la categoría <b>(P.C)</b>."
              {{elif (auth.has_membership('Academic') or auth.has_membership('Student')):}}
                  data-step="{{step_count+=1}}{{=step_count}}" data-intro="En esta sección se le mostrará la ponderación del curso. Se mostrará el nombre de la <b>categoría</b>, <b>nota</b>, si las actividades dentro de esta categoría serán notas promediadas <b>(P.N)</b> y por último si el tutor académico tiene permisos para planificar actividades dentro de la categoría <b>(P.C)</b>.
                    "
              {{pass}}
              >

                {{exception_query = db(db.course_laboratory_exception.project == request.vars['project']).select().first()}}
                {{if exception_query is None:}}
                  {{exception_s_var = False}}
                  {{exception_t_var = False}}
                {{else:}}
                  {{exception_t_var = exception_query.t_edit_lab}}
                  {{exception_s_var = exception_query.s_edit_course}}
                {{pass}}
                 
                {{request.vars['type']="course"}}
                {{no_menu=True}}
                {{if (auth.has_membership('Super-Administrator')) or (auth.has_membership('Ecys-Administrator')) or (auth.has_membership('Teacher') and request.vars['type'] == "course"  and assigned_to_project == True) or (auth.has_membership('Student') and request.vars['type'] == "lab"  and assigned_to_project == True) or (auth.has_membership('Student')  and request.vars['type'] == "course" and exception_s_var == True  and assigned_to_project == True) or (auth.has_membership('Teacher')  and request.vars['type'] == "lab" and exception_t_var == True  and assigned_to_project == True):}}
                  {{if str(year) == str(cpfecys.current_year_period().id):}}
                    {{no_menu=False}}
                  {{pass}}
                {{pass}}

                {{#-------------------------------------------Course ended---------------------------------------------------------}}
                {{course_ended_var = db((db.course_ended.project==request.vars['project']) & (db.course_ended.period==year) ).select().first() }}

                {{if course_ended_var != None:}}
                  {{if course_ended_var.finish == True:}}
                    {{no_menu=True}}
                  {{pass}}
                {{pass}}
                {{total_var2=0}}
                  {{for course_act_var in db((db.course_activity_category.semester==year) & (db.course_activity_category.assignation==request.vars['project']) & (db.course_activity_category.laboratory==False)).select():}}   
                    {{total_var2 = float(total_var2) + float(course_act_var.grade)}}       
                  {{pass}}
                  <center>    
                  {{if float(total_var2) == 100:}}    
                    <table class="table table-striped table-bordered">
                    <tr>
                      <th>
                        {{=T('Category')}}
                      </th>
                      <th>
                        {{=T('Grade')}}
                      </th>
                      <th title="{{=T('Average Grades')}}">
                        {{=T('AG')}}
                      </th>
                        <th title="{{=T('Teacher Permition')}}">
                          {{=T('TP')}}
                        </th>
                    </tr>
                    {{for course_act_var in db((db.course_activity_category.semester==year) & (db.course_activity_category.assignation==request.vars['project']) & (db.course_activity_category.laboratory==False)).select():}}   
                        <tr>
                          <td>
                            {{=course_act_var.category.category}}
                          </td>
                          <td>
                            {{=course_act_var.grade}}
                          </td>
                          <td>
                            {{if course_act_var.specific_grade == True:}}
                              {{=T('No')}}
                            {{else:}}
                              {{=T('Yes')}}
                            {{pass}}
                          </td>
                          <td>
                            {{if course_act_var.teacher_permition == True:}}
                              {{=T('Yes')}}
                            {{else:}}
                              {{=T('No')}}
                            {{pass}}
                          </td>
                        </tr>
                    {{pass}}
                    <tr>
                      <td style="background-color:#eee;">
                        {{=T("Total")}}
                      </td>
                      <td style="background-color:#eee;">                        
                          <b><font color="green">100.00</font></b>                        
                      </td>
                      <td style="background-color:#eee;">
                      </td>
                       <td style="background-color:#eee;">
                      </td>
                    </tr>
                  </table>
                  {{else:}}
                    {{if no_menu == False:}}
                      <b><font color="red">{{=T('Weighting was not created or is incorrect')}}</font></b>
                        <br>
                        <a id="myButton" class="btn btn-warning" href="{{=URL('activity_control', 'students_control_full',vars=dict( project = request.vars['project'], year = year, f_view='weighting_edit', type = request.vars['type']))}}"> 
                          <span class="icon-plus-sign"></span>
                          {{=T('Create Weighting')}}
                        </a>
                    {{else:}}
                      <b><font color="red">{{=T('Weighting was not created')}}</font></b>
                    {{pass}}
                  {{pass}}
                  
                </center>
              </div>
            </div>
            <!--FINISH CLASS WEIGHTING DIV-->


            </td></tr><tr><td>
            <br>


            <!--LAB WEIGHTING DIV-->
            <div  id="weighting_lab_div" style=" width:100%;" >
                  
                  <a type="button" class="close" title="{{=T('Help')}}" aria-hidden="true" role="button" class="btn btn-warning" data-toggle="modal" data-target="#help_modal_weighting" >
                      <span class="icon-black icon-question-sign"></span>
                  </a>
                  

                  <a type="button" class="close" title="{{=T('View in full page the weighting')}}" aria-hidden="true" href="{{=URL('activity_control', 'students_control_full',vars=dict( year = year, type='lab', project = request.vars['project'], f_view='weighting'))}}" >
                      <span class="icon-black icon-fullscreen"></span>
                  </a>              
              {{request.vars['type']="lab"}}
                {{no_menu=True}}
                {{if (auth.has_membership('Super-Administrator')) or (auth.has_membership('Ecys-Administrator')) or (auth.has_membership('Teacher') and request.vars['type'] == "course"  and assigned_to_project == True) or (auth.has_membership('Student') and request.vars['type'] == "lab"  and assigned_to_project == True) or (auth.has_membership('Student')  and request.vars['type'] == "course" and exception_s_var == True  and assigned_to_project == True) or (auth.has_membership('Teacher')  and request.vars['type'] == "lab" and exception_t_var == True  and assigned_to_project == True):}}
                  {{if str(year) == str(cpfecys.current_year_period().id):}}
                    {{no_menu=False}}
                  {{pass}}
                {{pass}}

              <div id="h_weighting_lab_h" class="navbar-inner" 
              {{if (auth.has_membership('Student') and no_menu == False):}}
                data-step="{{step_count+=1}}{{=step_count}}" data-intro="En esta sección podrá gestionar la ponderación del laboratorio. El menú le mostrara las siguientes acciones:
                <br><b>A.  Crear Nueva Ponderación:</b> Le permite crear una nueva ponderación del laboratorio.
                <br><b>B.  Obtener Ponderación Anterior:</b> Le permite obtener una ponderación del laboratorio de un semestre anterior. 
                <br><b>C.  Editar Ponderación:</b> Luego de haber creado la ponderación del laboratorio correctamente podrá editar la misma si desea hacer algún tipo de cambio.
                <br><b>D.  Solicitar Cambio:</b> Si la fecha límite de ingreso se ha cumplido se le mostrara la opción solicitar cambio. Cualquier cambio que desee realizar deberá ser aprobado por el catedrático del curso o por un administrador del sistema.
                "
              {{pass}}              
              >  
                  <div id="weighting_lab_menu">          
                    
                  </div>  
              </div>


              <div id="weighting_lab_inside" class="well" style="overflow:auto;  background-color:white; " 
              {{if (auth.has_membership('Student') and no_menu == False):}}
                  data-step="{{step_count+=1}}{{=step_count}}" data-intro="Luego de crear la ponderación del laboratorio correctamente se le mostrará la ponderación del mismo en esta sección. Las columnas a mostrar son <b>categoría</b>, <b>nota</b> y si las actividades dentro de esta categoría serán notas promediadas <b>(P.N)</b>."
              {{elif (auth.has_membership('Teacher') or auth.has_membership('Academic')):}}
                  data-step="{{step_count+=1}}{{=step_count}}" data-intro="En esta sección se le mostrará la ponderación del laboratorio. Las columnas a mostrar son <b>categoría</b>, <b>nota</b> y si las actividades dentro de esta categoría serán notas promediadas <b>(P.N)</b>.
                    "
              {{pass}}
              >
                

                {{#-------------------------------------------Course ended---------------------------------------------------------}}
                {{course_ended_var = db((db.course_ended.project==request.vars['project']) & (db.course_ended.period==year) ).select().first() }}

                {{if course_ended_var != None:}}
                  {{if course_ended_var.finish == True:}}
                    {{no_menu=True}}
                  {{pass}}
                {{pass}}
                {{total_var2=0}}
                  {{for course_act_var in db((db.course_activity_category.semester==year) & (db.course_activity_category.assignation==request.vars['project']) & (db.course_activity_category.laboratory==True)).select():}}   
                    {{total_var2 = float(total_var2) + float(course_act_var.grade)}}       
                  {{pass}}
                  <center>    
                  {{if float(total_var2) == 100:}}    
                    <table class="table table-striped table-bordered">
                    <tr>
                      <th>
                        {{=T('Category')}}
                      </th>
                      <th>
                        {{=T('Grade')}}
                      </th>
                      <th title="{{=T('Average Grades')}}">
                        {{=T('AG')}}
                      </th>
                      
                    </tr>
                    {{for course_act_var in db((db.course_activity_category.semester==year) & (db.course_activity_category.assignation==request.vars['project']) & (db.course_activity_category.laboratory==True)).select():}}   
                        <tr>
                          <td>
                            {{=course_act_var.category.category}}
                          </td>
                          <td>
                            {{=course_act_var.grade}}
                          </td>
                          <td>
                            {{if course_act_var.specific_grade == True:}}
                              {{=T('No')}}
                            {{else:}}
                              {{=T('Yes')}}
                            {{pass}}
                          </td>
                          
                        </tr>
                    {{pass}}
                    <tr>
                      <td style="background-color:#eee;">
                        {{=T("Total")}}
                      </td>
                      <td style="background-color:#eee;">                        
                          <b><font color="green">100.00</font></b>                        
                      </td>
                      <td style="background-color:#eee;">
                      </td>
                    </tr>
                  </table>
                  {{else:}}
                    {{if no_menu == False:}}
                      <b><font color="red">{{=T('Weighting was not created or is incorrect')}}</font></b>
                      {{if auth.has_membership('Student'):}}
                        {{from datetime import datetime}}
                        {{enddate=None}}
                        {{for date_var in db((db.student_control_period.period_name==nameP)).select():}}
                          {{var_exception = db((db.course_limit_exception.project == request.vars['project']) & (db.course_limit_exception.date_finish > datetime.now())).select().first()}}
                          {{if var_exception != None:}}
                            {{var_date_finish = var_exception.date_finish}}
                          {{else:}}
                            {{var_date_finish = date_var.date_finish}}
                          {{pass}}
                          {{if datetime.now() > date_var.date_start and datetime.now() < var_date_finish:}}
                            {{enddate=var_date_finish}}         
                          {{pass}}
                        {{pass}}
                        {{if enddate != None:}}
                          <br><font color="red">{{=T('Deadline for entry')}}: {{=enddate}}</font><br>
                          <br>
                          <a id="myButton" class="btn btn-warning" href="{{=URL('activity_control', 'students_control_full',vars=dict( project = request.vars['project'], year = year, f_view='weighting_edit', type = request.vars['type']))}}"> 
                            <span class="icon-plus-sign"></span>
                            {{=T('Create Weighting')}}
                          </a>
                        {{pass}}
                      {{else:}}
                        <br>
                        <a id="myButton" class="btn btn-warning" href="{{=URL('activity_control', 'students_control_full',vars=dict( project = request.vars['project'], year = year, f_view='weighting_edit', type = request.vars['type']))}}"> 
                          <span class="icon-plus-sign"></span>
                          {{=T('Create Weighting')}}
                        </a>
                      {{pass}}
                    {{else:}}
                      <b><font color="red">{{=T('Weighting was not created')}}</font></b>
                    {{pass}}
                  {{pass}}
                  
                </center>
              </div>
            </div>
            <!--FINISH LAB WEIGHTING DIV-->

          </td>
        </tr>
      </table>
    </td>
    <td style="width:74%;">

      <table id="control_table" style="width:100%; top:0; ">
        <tr>
        <td >
          
            <!--Menu of activity DIV Right-->
            <a type="button" class="close" title="{{=T('Help')}}" aria-hidden="true" role="button" class="btn btn-warning" data-toggle="modal" data-target="#help_modal_activity" >
              <span class="icon-black icon-question-sign"></span>
            </a>
            <!--Menu of activity DIV Right-->
             <!--Menu of activity DIV left-->
              <div id="h_activity_h" class="navbar-inner" 
              {{if (auth.has_membership('Teacher')):}}
                  data-step="{{step_count+=1}}{{=step_count}}" data-intro="Luego de seleccionar la pestaña de <b>Actividades de Clase</b>, el menú le presenta las distintas acciones que tiene disponible para gestionar la planificación del curso como lo son <b>Crear Actividad</b> y <b>Editar Actividad</b>. También se encuentra la opción de <b>Reporte General de Actividades</b> en la cual le permite visualizar el reporte de todas las actividades de la clase entre otra opciones.
                    "
              {{elif (auth.has_membership('Student') and no_menu == False):}}
                  data-step="{{step_count+=1}}{{=step_count}}" data-intro="Luego de seleccionar la pestaña de <b>Actividades de Laboratorio</b>, el menú le presenta las distintas acciones que tiene disponible para gestionar la planificación del laboratorio:
                  <br><b>A.  Crear Actividad:</b> Le permite crear actividades dentro de la planificación del laboratorio.
                  <br><b>B.  Editar Actividad:</b> Le permite editar las actividades creadas dentro de la planificación del laboratorio. Esta opción estará habilitada únicamente si el periodo permitido para el ingreso de actividades no ha concluido.
                  <br><b>C.  Revalidar Laboratorio:</b> Le permite gestionar la revalidación de los laboratorios de los estudiantes asignados al curso.
                  <br><b>D.  Solicitar Cambio:</b> Le permite solicitar un cambio de actividades dentro de una categoría que conforma la ponderación del laboratorio. Esta opción estará habilitada si el periodo  de  ingreso de actividades ha concluido.
                  <br><b>E.  Reporte General de Actividades:</b> Le permite visualizar el reporte de todas las actividades del laboratorio.

                    "
              {{elif (auth.has_membership('Academic')):}}
                  data-step="{{step_count+=1}}{{=step_count}}" data-intro="El menú le mostrara la opción <b>Reporte General de Actividades</b> en la cual le permite visualizar el reporte de todas las actividades de la clase (si se ha seleccionado la pestaña <b>Actividades de Clase</b>) o del laboratorio (si se ha seleccionado la pestaña <b>Actividades de Laboratorio</b>).
                    "
              {{pass}}
              >
                
                <div id="activity_menu" >
                </div>


              </div style="width:100%;">
              <!--Menu of the activity DIV lett-->
                 <!--Cuadro donde sale la información-->
                  <div id="activity_insideMaster" class="well" style=" background-color:white;  ">
                    <ul id="myTabActivities" class="nav nav-tabs">
                      <li class="active" id="classActivities"><a href="#" data-toggle="tab"
                        {{if (auth.has_membership('Teacher')) or ((auth.has_membership('Student') and no_menu == False ) ):}}
                            data-step="{{step_count+=1}}{{=step_count}}" data-intro="
                              Al seleccionar la pestaña <b>Actividades de Clase</b> se le mostrara la planificación de la clase en la cual podrá gestionar las notas de cada actividad.
                              "
                        {{elif (auth.has_membership('Academic')):}}
                             data-step="{{step_count+=1}}{{=step_count}}" data-intro="
                              Al seleccionar la pestaña <b>Actividades de Clase</b> se le mostrara la planificación de la clase en la cual podrá visualizar las notas obtenidas en cada una de las actividades.
                              "
                        {{pass}}
                        >{{=T('Class Activities')}}</a></li>
                      <li id="laboratoryActivities"><a href="#" data-toggle="tab"
                        {{if (auth.has_membership('Teacher')) or ((auth.has_membership('Student') and no_menu == False) ):}}
                            data-step="{{step_count+=1}}{{=step_count}}" data-intro="
                              Al seleccionar la pestaña <b>Actividades de Laboratorio</b>, se le mostrara la planificación del laboratorio en la cual podrá gestionar las notas de cada actividad.
                              "
                        {{elif (auth.has_membership('Academic')):}}
                             data-step="{{step_count+=1}}{{=step_count}}" data-intro="
                              Al seleccionar la pestaña <b>Actividades de Laboratorio</b>, se le mostrara la planificación del laboratorio en la cual podrá visualizar las notas obtenidas en cada una de las actividades.
                              "
                        {{pass}}
                        >{{=T('Laboratory Activities')}}</a></li>
                      <li id="Activitywithoutmetric"><a href="#" data-toggle="tab"
                        {{if (auth.has_membership('Teacher')) or ((auth.has_membership('Student') and no_menu == False) ):}}
                            data-step="{{step_count+=1}}{{=step_count}}" data-intro="
                              Al seleccionar la pestaña <b>Actividades sin métrica</b>, podrá gestionar todas aquellas actividades que no tengan una nota asociada.
                              "
                        {{elif (auth.has_membership('Academic')):}}
                             data-step="{{step_count+=1}}{{=step_count}}" data-intro="
                              Al seleccionar la pestaña <b>Actividades sin métrica</b>, podrá visualizar todas aquellas actividades que no tengan una nota asociada.
                              "
                        {{pass}}
                        >{{=T('Activity without metric')}}</a></li>
                        {{if ((auth.has_membership('Teacher') or auth.has_membership('Student')) and assigned_to_project==True):}}
                          <li id="assignedactivities"><a href="#" data-toggle="tab"
                          {{if auth.has_membership('Teacher'):}}
                              data-step="{{step_count+=1}}{{=step_count}}" data-intro="
                                Al seleccionar la pestaña <b>Actividades Asignadas</b>, podrá gestionar todas aquellas actividades que le quiere asignar al tutor académico.
                                "
                          {{elif auth.has_membership('Student'):}}
                               data-step="{{step_count+=1}}{{=step_count}}" data-intro="
                                Al seleccionar la pestaña <b>Actividades Asignadas</b>, podrá visualizar todas aquellas actividades que el catedratico le haya solicitado realizar.
                                "
                          {{pass}}
                          >{{=T('Assigned Activities')}}</a></li>
                        {{pass}}
                    </ul>
                    <div  style=" width:800px; overflow:auto;">
                      <div style=" width:100%;" >
                        <div id="activity_inside" class="well" style=" overflow:auto; background-color:white;  ">
                          <center>{{=T('Loading')}}...</center>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Cuadro donde sale la información-->
                </div>
                <!--FINISH CONTROL DIV-->
              
        </td>
        </tr>
      </table>
    </td>
  </tr>
  </table>
  </div>


  <!--Help modal weighting -->
  <div id="help_modal_weighting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
  aria-hidden="true">×</button>
        <h3 id="myModalLabel">
            <span class="icon-question-sign"></span>
            {{=T('Weighting help')}}
        </h3>
    </div>
    <div class="modal-body">
      <div class="well">
          <p>
              {{=T('In this area you can manage the weighting of the course / lab. The actions that can be performed are: Create weighting, Get weighting, Edit weighting and request a change of weighting (academic supervisor).')}}
          </p>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal"
  aria-hidden="true">{{=T('Close')}}</button>
    </div>
  </div>
  <!--Finish help modal weighting-->

  <!--Help modal activity -->
  <div id="help_modal_activity" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
  aria-hidden="true">×</button>
        <h3 id="myModalLabel">
            <span class="icon-question-sign"></span>
            {{=T('Scheduler help')}}
        </h3>
    </div>
    <div class="modal-body">
      <div class="well">
          <p>
              {{=T('In this area you can manage the activities of the course / lab. The actions that can be performed are: Create activity, Edit activity and request a change of activity (academic supervisor).')}}
          </p>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal"
  aria-hidden="true">{{=T('Close')}}</button>
    </div>
  </div>
</div>
<!--Finish help modal activity-->

<script type="text/javascript">
  

  $(document).ready(function(){
    $("#h_weighting_v").hide();
    $("#h_weighting_lab_v").hide();
    $("#h_control_v").hide();


    
    //$("#weighting_inside").load('{{=URL('activity_control','control_weighting.html',vars=dict(operation="div_update", type="course", year = year, project = project))}}' );
    //$("#weighting_lab_inside").load('{{=URL('activity_control','control_weighting.html',vars=dict(operation="div_update", type="lab", year = year, project = project))}}' );

    $("#weighting_menu").load('{{=URL('activity_control','control_weighting.html',vars=dict(operation="menu_update", type="course", year = year, project = project))}}' );

    $("#weighting_lab_menu").load('{{=URL('activity_control','control_weighting.html',vars=dict(operation="menu_update", type="lab",  year = year, project = project))}}' );
    
    $("#activity_inside").load('{{=URL('activity_control','control_activity.html',vars=dict(operation="div_update", year = year, project = project, type="class"))}}');
    $("#activity_menu").load('{{=URL('activity_control','control_activity.html',vars=dict(operation="menu_update",year = year, project = project, type="class"))}}');

    //Labels of class and lab activities
    $("#classActivities").click(function(){
      jQuery('#activity_inside').empty();
      jQuery('#activity_inside').append("<center>{{=T('Loading')}}...</center>");
      $("#activity_inside").load('{{=URL('activity_control','control_activity.html',vars=dict(operation="div_update", year = year, project = project, type="class"))}}' );
      $("#activity_menu").load('{{=URL('activity_control','control_activity.html',vars=dict(operation="menu_update",year = year, project = project, type="class"))}}');
    });

    $("#laboratoryActivities").click(function(){
      jQuery('#activity_inside').empty();
      jQuery('#activity_inside').append("<center>{{=T('Loading')}}...</center>");
      $("#activity_inside").load('{{=URL('activity_control','control_activity.html',vars=dict(operation="div_update",year = year, project = project, type="lab"))}}' );
      $("#activity_menu").load('{{=URL('activity_control','control_activity.html',vars=dict(operation="menu_update",year = year, project = project, type="lab"))}}');
    });

    $("#Activitywithoutmetric").click(function(){
      jQuery('#activity_inside').empty();
      jQuery('#activity_inside').append("<center>{{=T('Loading')}}...</center>");
      $("#activity_inside").load('{{=URL('activity_control','control_activity_without_metric.html',vars=dict(operation="div_update",year = year, project = project))}}' );
      $("#activity_menu").load('{{=URL('activity_control','control_activity_without_metric.html',vars=dict(operation="menu_update",year = year, project = project))}}');
    });

    $("#assignedactivities").click(function(){
      jQuery('#activity_inside').empty();
      jQuery('#activity_inside').append("<center>{{=T('Loading')}}...</center>");
      $("#activity_inside").load('{{=URL('activity_control','control_assigned_activity.html',vars=dict(operation="div_update",year = year, project = project))}}');
      $("#activity_menu").load('{{=URL('activity_control','control_assigned_activity.html',vars=dict(operation="menu_update",year = year, project = project))}}');
    });

  });
</script>
<div id="modals">
</div>

<div id="modals_activity">
</div>


{{if visited is None:}}
<script type="text/javascript">
      var introguide = introJs().setOptions({ 'skipLabel': '{{=T('Skip')}}', 'nextLabel': '{{=T('Next')}}', 'prevLabel': '{{=T('Previous')}}', 'doneLabel': '{{=T('Exit')}}' });
      introguide.start(); 
  </script>
    {{db.page_visited.insert(user_id = auth.user.id, page_name ='students_control')}}
{{pass}}