{{extend 'template.html'}}
<h1>
	{{=T('Period')}}
	<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">
		<span class="icon-white icon-question-sign"></span>
	</a>
</h1>
{{=grid}}
<!--Help modal-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
aria-hidden="true">×</button>
      <h3 id="myModalLabel">
          <span class="icon-question-sign"></span>
          {{=T('Activity category help')}}
      </h3>
  </div>
  <div class="modal-body">
    <div class="well">
        <p>
            {{=T('This area may program the time period that the academic tutors will have to enter the planning of the laboratory.')}}
        </p>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn" data-dismiss="modal"
aria-hidden="true">{{=T('Close')}}</button>
  </div>
</div>
<!--Finish help modal-->
