{{extend 'template.html'}}
{{if auth.has_membership('Teacher'):}}
	<h2>{{=T('Class Weighting')}} - {{=name}}
{{else:}}
	<h2>{{=T('Laboratory Weighting')}} - {{=name}}
{{pass}}
<br>
    <small>{{=T(semester)}}, {{=year}}</small>
</h2>


<div class="well span10" id="principal_div" >
	<div style="position:absolute; left:75%;">
	<a class="btn" href="{{=URL('activity_control', 'students_control', vars=dict(assignation = request.vars['assignation']))}}">
		<i class="icon-arrow-left"></i>{{=T('Back')}}
	</a>
</div>
<br>
	<div id="weighting_menu">            
  		<br>
  		<br>
  	</div>
    
	<div id="weighting_inside">
		{{=T('Loading')}}...
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	var f_view ='{{=request.vars['f_view']}}';	
	
	if (f_view == 'weighting'){
		$("#weighting_inside").load("{{=URL('activity_control','control_weighting.html',vars=dict(operation="div_update",assignation = request.vars['assignation']))}}" );	
	}
    
  });
</script>

<script type="text/javascript">
	$(document).ready(function(){

	    $("#modals").load('{{=URL('activity_control','control_students_modals.html',vars=dict(assignation = request.vars['assignation']))}}' );

	    $("#weighting_menu").load('{{=URL('activity_control','control_weighting.html',vars=dict(operation="menu_update",assignation = request.vars['assignation']))}}' );

	  });
</script>
<div id="modals">
</div>