{{extend 'template.html'}}
<h1>{{=T('Events')}}
    <small>{{=T(semester)}}, {{=year}}</small>
</h1>
<table class="table table-striped table-bordered">
    <thead>
        <th>{{=T('Id')}}</th>
        <th>{{=T('Course')}}</th>
        <th>{{=T('Event Name')}}</th>
        <th>{{=T('Details')}}</th>
    </thead>
    <tbody>
        {{counter = 1}}
        {{for r in thing:}}
        <tr>
            <td>{{=counter}}</td>
            <td>{{=r.project.name}}</td>
            <td>{{=r.public_event.name}}</td>
	    <td>
	    {{for s in r.public_event.public_event_schedule.select():}}
                <b>{{=T('Location')}}:</b> {{=s.physical_location}} <br />
                <b>{{=T('Start')}}:</b> {{=s.start_date}} <br />
                <b>{{=T('End')}}:</b> {{=s.end_date}} <br />
                <hr />
            {{pass}}
            </td>
        </tr>
        {{counter += 1}}
        {{pass}}
    </tbody>
</table>
