{{extend 'template.html'}}
<script type="text/javascript" src="{{=URL('static','markitup')}}/sets/markmin/set.js"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/sets/markmin/style.css"/>

{{if auth.has_membership('Academic') or auth.has_membership('Student'):}}
   
    {{review = db((db.photo_review.user_id == auth.user.id)).select().first()
    if review is None:}}
        <script>
            alert("{{=T('Your photo has not been reviewed. Please contact an academic tutor to be accepted.')}}");
        </script>
    {{else:
        if review.accepted == False:
            }}
            <script>
                alert("¡{{=T('Photo Rejected')}}, {{=T('please enter a new photo')}}!\n{{=T('Remember that photography is for academic use; therefore must be commensurate with the seriousness of the case, otherwise it will be blocked.')}}");
            </script>
        {{pass
    pass
    }}
            
{{pass}}
<table style="width:100%;">
    <tr>
</td>
    <td style="width:90%;">
        <div style="overflow:auto; height:500px; ">
        {{for notification in range(len(front_notification)-1, -1, -1):}}
            {{if front_notification[notification].visible:}}
                {{if front_notification[notification].promoted:}}
                    <div class="hero-unit">
                        <hr />
                        <h1>{{=front_notification[notification].name}}</h1>
                        <hr />
                        <div>{{=MARKMIN(front_notification[notification].content_text, markmin_settings)}}</div>
                    </div>
        		{{else:}}
                	<div class="jumbotron">
                        <hr />
                        <h1>{{=front_notification[notification].name}}</h1>
                        <hr />
                        <div>{{=MARKMIN(front_notification[notification].content_text, markmin_settings)}}</div>
                    </div>
                {{pass}}
            {{pass}}
        {{pass}}
        </div>
    </td>

</tr>
</table>