{{extend 'template.html'}}
{{if data.first() is not None:}}
<h1>{{=data.first().item_restriction.name}} -
    <small>
    {{=semester.yearp}}, {{=T(db.period(id = semester.period).name)}}
    </small>
</h1>
{{pass}}
<table class="table table-striped table-bordered">
    <thead>
        <th></th>
        <th>{{=T('Course Name')}}</th>
        <th>{{=T('Teacher')}}</th>
        <th>{{=T('Final Practice Student')}}</th>
        <th>{{=T('Details')}}</th>
    </thead>
    {{counter = 1}}
    <tbody>
        {{for element in data:}}
        <tr>
            <td>{{=counter}}</td>
            <td>{{=element.project.name}}</td>
            <td>
                <ul>
                {{teachers = teachers_on_project(element.project.id)}}
                {{for teacher in teachers:}}
                <li>{{=teacher.auth_user.last_name}}, {{=teacher.auth_user.first_name}}</li>
                {{pass}}
                </ul>
            </td>
            <td>
                <ul>
                {{final_practice_students = aux_in_courses(element.project.id)}}
                {{for aux in final_practice_students:}}
                <li>{{=aux.auth_user.last_name}}, {{=aux.auth_user.first_name}}</li>
                {{pass}}
                </ul>
            </td>
            {{if element.item_restriction.item_type.name == 'File':}}
            <td>
                <a href="{{=URL('default','download', args=element.item.uploaded_file)}}"
                   class="btn">
                    {{=T('Download')}}
                </a>
            </td>
            {{elif element.item_restriction.item_type.name == 'Schedule':}}
            <td>
                {{schedule = db(db.item_schedule.item == element.item.id).select()}}
                <ul>
                {{for s in schedule:}}
                    <li>{{=T(s.day_of_week.name)}}: {{=s.start_time}} - {{=s.end_time}}, {{=s.physical_location}}</li>
                {{pass}}
                </ul>
            </td>
            {{pass}}
            {{counter += 1}}
        </tr>
        {{pass}}
    </tbody>
</table>
