{{extend 'template.html'}}
<h2>{{=T('Final Practice Record')}} <small>{{=auth.user.username}}</small></h2>
<h3>
    {{=T('Student Information')}}
</h3>
<ul>
    <li>{{=T('Student')}}: {{=auth.user.username}}</li>
    <li>{{=T('First Name')}}: {{=auth.user.first_name}}</li>
    <li>{{=T('Last Name')}}: {{=auth.user.last_name}}</li>
</ul>
<h3>
    {{=T('Assignation History')}}
</h3>
<div class="accordion" id="practice_assignation_accordion">
    <div class="accordion-group">
        {{for item in assignations:}}
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#practice_assignation_accordion" href="#i">
                <strong>{{=T('Project Name')}}:</strong> {{=item.project.name}} | <strong>{{=T('Area')}}:</strong> {{=item.area_level.name}}
                <span class="right">
                    <span><strong>{{=T('Start')}}:</strong> {{=item.period_year.yearp}} - {{=T('Semester')}}  {{=item.period_year.period}}</span> |
                    <span><strong>{{=T('Length')}}:</strong> {{=item.user_project.periods}} {{=T('Semesters')}}</span> |
                    <span><strong>{{=T('Status')}}</strong>: Running</span>
                </span>
            </a>
        </div>
        <div id="i" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="well reports">
                    <h3>
                    {{=T('Reports')}}
                    </h3>
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th>{{=T('Name')}}</th>
                                <th>{{=T('Created Date')}}</th>
                                <th>{{=T('Delivery Dates')}}</th>
                                <th>{{=T('Status')}}</th>
                                <th>{{=T('Score')}}</th>
                                <th>{{=T('Actions')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for report in item.user_project.report.select():}}
                            {{restriction = db.report_restriction(report.report_restriction)}}
                            <tr>
                                <td>{{=restriction.name}}</td>
                                <td>{{=report.created}}</td>
                                <td>{{=restriction.start_date}} - {{=restriction.end_date}}</td>
                                <td>{{=report.status['name']}}</td>
                                <td>80</td>
                                <td>
                                    <a class="btn"
                                       href="{{=URL('student', 'report/view', vars=dict(report=report.id))}}">
                                        <span class="icon-eye-open"></span>
                                        {{=T('View Report')}}
                                    </a>
                                    {{if report.status['name'] == 'Draft' or report.status['name'] == 'Recheck':}}
                                    {{if restriction.start_date <= current_date and restriction.end_date >= current_date:}}
                                    {{if restriction.is_enabled:}}
                                    <a class="btn"
                                       href="{{=URL('student', 'report/edit', vars=dict(report=report.id))}}">
                                        <span class="icon-edit"></span>
                                        {{=T('Edit Report')}}
                                    </a>
                                    {{pass}}
                                    {{pass}}
                                    {{pass}}
                                </td>
                            </tr>
                            {{pass}}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="span5">
                            <strong>{{=T('Average Score')}}:</strong> 80
                        </div>
                        <div class="span6">
                            {{for available_report in available_reports(item.period_year).select():}}
                            {{if db((db.report.report_restriction == available_report.id)&
                                  (db.user_project.id == db.report.assignation)&
                                (db.user_project.assigned_user == auth.user.id)).count() < 1:}}
                            <a class="pull-right btn" href="{{=URL('student','report/create', vars=dict(assignation = item.user_project.id, report_restriction = available_report.id))}}">
                                <span class="icon-plus"></span>{{=available_report.name}}
                                <small>
                                    {{=T('Available:') + ' ' +
                                    str(available_report.start_date) + ' - ' +
                                    str(available_report.end_date)}}
                                </small>
                            </a>
                            {{pass}}
                            {{pass}}
                        </div>
                    </div>
                    <p>
                    <div class="row">
                        <div class="span5">
                            <strong>{{=T('Deliverable Items')}}:</strong>
                        </div>
                        <div class="span6">
                            {{for available_item in available_items(item.period_year, item.project).select(db.item_restriction.ALL):}}
                                {{if available_item.item.count() < 1:}}
                                <a class="pull-right btn" href="{{=URL('student','item/create', vars=dict(assignation = item.user_project.id, report_restriction = available_item.id))}}">
                                    <span class="icon-plus"></span>{{=available_item.name}}
                                    <small>
                                        {{=T('Available:') + ' ' +
                                        str(available_item.start_date) + ' - ' +
                                        str(available_item.end_date)}}
                                    </small>
                                </a>
                                {{pass}}
                            {{pass}}
                        </div>
                    </div>
                    </p>
                </div>
                <div class="well item_deliver">
                    <h3>
                    {{=T('Delivery Reports')}}
                    </h3>
                    <a class="btn"><span class="icon-plus"></span>{{=T('Item Delivery')}}</a>
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Month</th>
                                <th>Status</th>
                                <th>Score</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mayo</td>
                                <td>Calificado</td>
                                <td>80</td>
                                <td>
                                    <a class="btn disabled"> Ver Reporte</a>
                                    <a class="btn disabled"> Calificar Reporte</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{pass}}
    </div>
</div>
{{if request.is_local:}}
{{=response.toolbar()}}
{{pass}}
