{{extend 'template.html'}}
<!-- Additional Scripts for MARKMIN -->
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/sets/markmin/set.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/highcharts.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/data.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/exporting.js"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/skins/markitup/style.css"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/sets/markmin/style.css"/>
<!-- //Additional Scripts for MARKMIN -->
<div class="row-fluid">
  <div class="navbar">
    <div>
    <table class="table table-striped table-bordered">
        <tr>
            <td>
            {{=student.username}}        
            </td>
            <td>
            {{=student.first_name}}        
            </td>
            <td>
            {{=student.last_name}}        
            </td>
            <td>
            {{=report.assignation.project.name}}        
            </td>
            <td>
            {{=T(report.assignation.period.period.name)}} - 
            {{=report.assignation.period.yearp}}
            </td>
        </tr>
    </table>
        
    </div>
      <div class="navbar-inner">
        
        <a class="brand" href="#">
            {{=T('View Report:')}}
            <small>{{=report.report_restriction['name']}}</small>
        </a>
      </div>
  </div>
</div>
<div style="border:solid #ddd 1px;">
    {{if not(report.heading is None):}}
    <!-- Display Helper -->
    {{inc_vars = dict(editable = False,
    edit_action = '',
    delete_action = '',
    content = MARKMIN(report.heading, markmin_settings))}}
    {{include 'include/display-report-header.html'}}
    <!-- //Display Helper -->
    {{pass}}
    <div class="container">
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-tasks"></span>
                    {{=T('Activities Log')}}
                </h1>
                <span>
                    <span><strong>{{=T('Total Anomalies')}}:</strong> {{=anomalies}} </span> |
                    <span><strong>{{=T('Total Registered Activities')}}:</strong> {{=len(logs)}} </span>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            {{for log in logs:}}
            <!-- Display Helper -->
            {{inc_vars = dict(editable = False,
            anomaly =  (log.log_type['name'] == 'Anomaly'),
            log_type = T(log.log_type['name']),
            date = log.entry_date,
            edit_action = '',
            delete_action = '',
            content = MARKMIN(log.description, markmin_settings))}}
            {{include 'include/display-report-log.html'}}
            <!-- //Display Helper -->
            {{pass}}
        </div>
        <hr />
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-adjust"></span>
                    <strong>{{=T('Activities Log with metrics')}}</strong>
                </h1>
                <span>
                    <span><strong>{{=T('Total activity logs with metrics')}}:</strong> {{=len(metrics)}}</span>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            {{for metric in metrics:}}
            <!-- Display Helper -->
            {{inc_vars = dict(editable = False,
            metric = metric,
            edit_action = '',
            delete_action = '')}}
            {{include 'include/display-report-metric.html'}}
            <!-- //Display Helper -->
            {{pass}}
            {{for final in final_r:}}
            <!-- Display Helper -->
            {{inc_vars = dict(editable = False,
            final = final,
            edit_action = 'final-edit-activity-' + str(final.id),
            delete_action = 'delete-final-' + str(final.id))}}
            {{include 'include/display-final-report.html'}}
            <!-- //Display Helper -->
            {{pass}}
        </div>
        {{if not(report.hours is None):}}
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-time"></span>
                    <strong>{{=T('Accomplished Hours')}}</strong>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <!-- Accomplished Hours display Helper-->
            {{inc_vars = dict(editable = False,
            id = 'display-report-hours',
            reports = assignation_reports,
            edit_action = '',
            delete_action = '')}}
            {{include 'include/display-report-hours.html'}}
            <!-- //Accomplished Hours display Helper-->
        </div>
        {{pass}}
        <hr />
        {{if not(report.desertion_started is None):}}
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-user"></span>
                    <strong>{{=T('Desertion logs')}}</strong>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <!-- Desertion Display Helper -->
            {{inc_vars = dict(editable = False,
            id = 'display-desertion',
            reports = assignation_reports,
            desertion_started = report.desertion_started,
            desertion_gone = report.desertion_gone,
            desertion_continued = report.desertion_continued,
            edit_action = '',
            delete_action = '')}}
            {{include 'include/display-report-desertion.html'}}
            <!-- //Desertion Display Helper -->
        </div>
        {{pass}}
    </div>
    {{if not(report.footer is None):}}
    <!-- Display Helper -->
    {{inc_vars = dict(editable = False,
    edit_action = '',
    delete_action = '',
    content = MARKMIN(report.footer, markmin_settings))}}
    {{include 'include/display-report-header.html'}}
    <!-- //Display Helper -->
    {{pass}}
</div>
<!-- Enable Markmin in textarea -->
<script>
jQuery(document).ready(function() {
  jQuery('textarea').css('width','500px').css('height','200px').markItUp(mySettings);
});
</script>
<!-- //Enable Markmin in textarea -->
