{{extend 'template.html'}}
<!-- Additional Scripts for MARKMIN -->
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/sets/markmin/set.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/highcharts.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/data.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/exporting.js"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/skins/markitup/style.css"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/sets/markmin/style.css"/>
<!-- //Additional Scripts for MARKMIN -->
<!-- This are Helpers -->
<!-- log-final-metrics-activity -->
{{inc_vars = dict(id = 'log-final-statistics',
                url = URL('final/save', vars=dict(report = report.id)),
                date = '',
                alumnos_actas = '',
                alumnos_parciales = '',
                alumnos_final = '',
                alumnos_retrasada_1 = '',
                alumnos_retrasada_2 = '',
                lab_aprobados = '',
                lab_reprobados = '',
                lab_media = '',
                lab_promedio = '',
                media = '',
                error_tipico = '',
                mediana = '',
                moda = '',
                desviacion_estandar = '',
                varianza = '',
                curtosis = '',
                coeficiente = '',
                rango = '',
                minimo = '',
                maximo = '',
                total = '',
                reprobados = '',
                aprobados = '',
                promedio = '') }}
{{include 'include/log-final-metrics.html'}}
<!-- log-new-desertion-activity -->
{{inc_vars = dict(id = 'log-new-desertion-activity',
                url = URL('desertions/save', vars=dict(report = report.id)),
                desertion_started = '',
                desertion_gone = '',
                desertion_continued = '') }}
{{include 'include/log-desertion-activity.html'}}
<!-- log-new-metrics-activity -->
{{inc_vars = dict(id = 'log-new-metrics-activity',
                url = URL('metrics/save', vars=dict(report = report.id)),
                description = '',
                date = '',
                metrics_t = None,
                metrics_type = metrics_type,
                media = '',
                error_tipico = '',
                mediana = '',
                moda = '',
                desviacion_estandar = '',
                varianza = '',
                curtosis = '',
                coeficiente = '',
                rango = '',
                minimo = '',
                maximo = '',
                total = '',
                reprobados = '',
                aprobados = ''
                ) }}
{{include 'include/log-metrics-activity.html'}}
<!-- log-new-activity -->
{{inc_vars = dict(id = 'log-new-activity',
                url = URL('log/save', vars=dict(report = report.id)),
                date = '',
                log_type = None,
                log_types = log_types,
                content = '') }}
{{include 'include/log-activity.html'}}
<!-- log-new-future-activity -->
{{inc_vars = dict(id = 'log-new-future-activity',
                url = URL('log_future/save', vars=dict(report = report.id)),
                date = '',
                log_type = None,
                content = '') }}
{{include 'include/log-future-activity.html'}}
<!-- report-head-activity -->
{{inc_vars = dict(id = 'report-header-new',
                url = URL('report_header/create', vars=dict(report = report.id)),
                title = T('Report Header'),
                content = '') }}
{{include 'include/report-header.html'}}
<!-- report-footer-activity -->
{{inc_vars = dict(id = 'report-footer-new',
                url = URL('report_footer/create', vars=dict(report = report.id)),
                title = T('Report Footer'),
                content = '') }}
{{include 'include/report-header.html'}}
<!-- report-hours-activity -->
{{inc_vars = dict(id = 'log-accomplished-hours',
hours = '',
url = URL('report_hours/create', vars=dict(report = report.id)),
title = T('Report Hours')) }}
{{include 'include/report-hours-activity.html'}}
<!-- Helpers for asking something before it happens and may be ireversible -->
{{if minimal_requirements:}}
{{inc_vars = dict(id = 'report-grading-check',
title = T('Confirm') + ' ' + T('Send to Grading'),
content = T('This operation can\'t be undone, do you want to continue?'),
action = T('Confirm'),
_class = 'btn-primary',
url = URL('student','report/acceptance', vars=dict(report = report.id)))}}
{{include 'include/delete-helper.html'}}
{{else:}}
{{inc_vars = dict(id = 'report-grading-check',
title = T('Can\'t Send to Grading'),
    content = T('Not all mandatory blocks for your report are inserted. Please make sure you\'ve the following blocks:') + ' ' + mandatory_requirements,
action = T('Send to Grading'),
_class = 'btn-primary disabled',
url = '#')}}
{{include 'include/delete-helper.html'}}
{{pass}}
<!-- // Helpers for deletion -->
<!-- Helpers end here -->
<div class="row-fluid">
  <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">
            {{=T('Edit Report:')}}
            <small>{{=report.report_restriction['name']}}</small>
        </a>
        <ul class="nav pull-right">
            <li>
                <a style="color:white;text-shadow:none;" class="btn-warning" data-toggle="modal" href="#report-grading-check">
                    <span class="icon-check"></span> {{=T('Send to Grading')}}
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown btn-success">
                <a style="color:white;text-shadow:none;" class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="">
                    <span class="icon-plus-sign"></span> {{=T('Add Block')}}
                </a>
                <ul class="dropdown-menu">
                    {{if report.heading is None or report.footer is None:}}
                    <li class="disabled"><a tabindex="-1" href="#">{{=T('Common')}}</a></li>
                    {{pass}}
                    {{if report.heading is None:}}
                    <li>
                        <a data-toggle="modal" href="#report-header-new" title="{{=T('Consisting of introduction, objectives, scope, etc.')}}">
                            <span class="icon-align-left"></span> {{=T('Heading')}}
                        </a>
                    </li>
                    {{pass}}
                    {{if report.footer is None:}}
                    <li>
                        <a data-toggle="modal" href="#report-footer-new" title="{{=T('Consisting of conclusions, recommendations, etc.')}}">
                            <span class="icon-align-left"></span> {{=T('Footer')}}
                        </a>
                    </li>
                    {{pass}}
                    <!--#********************************************************************************-->
                    <!--#******************************PHASE 2 DTT***************************************-->
                    {{if report.assignation.project.area_level.name=='DTT Tutor Académico':}}
                        <li class="divider"></li>
                        <li class="disabled"><a tabindex="-1" href="#">{{=T('General Activities')}}</a></li>
                        <li>
                            <a data-toggle="modal" href="#log-new-activity">
                                <span class="icon-tasks"></span> {{=T('Log Anomaly')}}
                            </a>
                        </li>
                        <li>
                            <a data-toggle="modal" title="{{=T('Register activity or activity metric')}}" href="{{=URL('activity_control', 'students_control', vars=dict(project = report.assignation.project, period = report.assignation.period))}}">
                                <span class="icon-adjust"></span> {{=T('Log Activity')}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="disabled"><a tabindex="-1" href="#">{{=T('Auxiliar Activities')}}</a></li>
                    {{else:}}
                        <li class="divider"></li>
                        <li class="disabled"><a tabindex="-1" href="#">{{=T('General Activities')}}</a></li>
                        <li>
                            <a data-toggle="modal" href="#log-new-activity">
                                <span class="icon-tasks"></span> {{=T('Log Activity')}}
                            </a>
                        </li>
                        <li>
                            <a data-toggle="modal" href="#log-new-future-activity">
                                <span class="icon-time"></span> {{=T('Log Future Activities')}}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="disabled"><a tabindex="-1" href="#">{{=T('Auxiliar Activities')}}</a></li>
                        <li>
                            <a data-toggle="modal" href="#log-new-metrics-activity">
                                <span class="icon-adjust"></span> {{=T('Log Metrics')}}
                            </a>
                        </li>
                    {{pass}}
                    <!--#********************************************************************************-->
                    <!--#******************************PHASE 2 DTT***************************************-->
                    {{if report.desertion_started is None:}}
                    <li>
                        <a data-toggle="modal" href="#log-new-desertion-activity">
                            <span class="icon-user"></span> {{=T('Log Desertion')}}
                        </a>
                    </li>
                    {{pass}}
                    <!--#********************************************************************************-->
                    <!--#******************************PHASE 2 DTT***************************************-->
                    {{if report.assignation.project.area_level.name!='DTT Tutor Académico':}}
                        {{if report.report_restriction.is_final and db(db.log_final.report == report.id).count() == 0:}}
                        <li class="disabled"><a tabindex="-1" href="#">{{=T('Final Report')}}</a></li>
                        <li>
                            <a data-toggle="modal" href="#log-final-statistics">
                                <span class="icon-flag"></span> {{=T('Log Final Statistics')}}
                            </a>
                        </li>
                        {{pass}}
                    {{pass}}
                    <!--#********************************************************************************-->
                    <!--#******************************PHASE 2 DTT***************************************-->
                    {{if report.hours is None:}}
                    <li class="divider"></li>
                    <li class="disabled"><a tabindex="-1" href="#">{{=T('Other Activities')}}</a></li>
                    <li>
                        <a data-toggle="modal" href="#log-accomplished-hours">
                            <span class="icon-time"></span> {{=T('Log Accomplished Hours')}}
                        </a>
                    </li>
                    {{pass}}
                </ul>
            </li>
        </ul>
      </div>
  </div>
</div>
<div class="border-report">
    {{if not(report.heading is None):}}
    <!-- report-head-edit-activity -->
    {{inc_vars = dict(id = 'report-header-edit',
    url = URL('report_header/update', vars=dict(report = report.id)),
    title = T('Report Header'),
    content = report.heading) }}
    {{include 'include/report-header.html'}}
    <!-- Helpers for deletion -->
    {{inc_vars = dict(id = 'report-header-delete',
    title = T('Confirm') + ' ' + T('Delete'),
    content = T('Delete operation can\'t be undone, do you want to continue?'),
    action = T('Delete'),
    _class = 'btn-danger',
    url = URL('report_header/delete', vars=dict(report = report.id)))}}
    {{include 'include/delete-helper.html'}}
    <!-- // Helpers for deletion -->
    <!-- Display Helper -->
    {{inc_vars = dict(editable = True,
    edit_action = 'report-header-edit',
    delete_action = 'report-header-delete',
    content = MARKMIN(report.heading, markmin_settings))}}
    {{include 'include/display-report-header.html'}}
    <!-- //Display Helper -->
    {{pass}}
    <div class="container">
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-tasks"></span>
                    {{=T('Activities Log')}}
                </h1>
                <span>
                    <span><strong>{{=T('Total Anomalies')}}:</strong> {{=anomalies}} </span> |
                    <!--#********************************************************************************-->
                    <!--#******************************PHASE 2 DTT***************************************-->
                    {{if report.assignation.project.area_level.name=='DTT Tutor Académico':}}
                        <span><strong>{{=T('Total Registered Activities')}}:</strong> {{=(len(activities_WM)+len(activities_M))}} </span>
                    {{else:}}
                        <span><strong>{{=T('Total Registered Activities')}}:</strong> {{=len(logs)}} </span>
                    {{pass}}
                    <!--#********************************************************************************-->
                    <!--#******************************PHASE 2 DTT***************************************-->
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <!--#********************************************************************************-->
            <!--#******************************PHASE 2 DTT***************************************-->
            {{if report.assignation.project.area_level.name!='DTT Tutor Académico':}}
                {{for log in logs:}}
                <!-- Helpers for Edition -->
                {{inc_vars = dict(id = 'log-edit-activity-' + str(log.id),
                url = URL('log/update', vars=dict(log = log.id)),
                date = log.entry_date,
                log_type = log.log_type,
                log_types = log_types,
                content = log.description) }}
                {{include 'include/log-activity.html'}}
                <!-- // Helpers for Edition -->
                <!-- Helpers for deletion -->
                {{inc_vars = dict(id = 'delete-log-' + str(log.id),
                title = T('Confirm') + ' ' + T('Delete'),
                content = T('Delete operation can\'t be undone, do you want to continue?'),
                action = T('Delete'),
                _class = 'btn-danger',
                url = URL('log/delete', vars=dict(log = log.id)))}}
                {{include 'include/delete-helper.html'}}
                <!-- // Helpers for deletion -->
                <!-- Display Helper -->
                {{inc_vars = dict(editable = True,
                anomaly =  (log.log_type['name'] == 'Anomaly'),
                log_type = T(log.log_type['name']),
                date = log.entry_date,
                edit_action = 'log-edit-activity-' + str(log.id),
                delete_action = 'delete-log-' + str(log.id),
                content = MARKMIN(log.description, markmin_settings))}}
                {{include 'include/display-report-log.html'}}
                <!-- //Display Helper -->
                {{pass}}
            {{else:}}
                {{for log in logs:}}
                <!-- Helpers for Edition -->
                {{inc_vars = dict(id = 'log-edit-activity-' + str(log.id),
                url = URL('log/update', vars=dict(log = log.id)),
                date = log.entry_date,
                log_type = log.log_type,
                log_types = log_types,
                content = log.description) }}
                {{include 'include/log-activity.html'}}
                <!-- // Helpers for Edition -->
                <!-- Helpers for deletion -->
                {{inc_vars = dict(id = 'delete-log-' + str(log.id),
                title = T('Confirm') + ' ' + T('Delete'),
                content = T('Delete operation can\'t be undone, do you want to continue?'),
                action = T('Delete'),
                _class = 'btn-danger',
                url = URL('log/delete', vars=dict(log = log.id)))}}
                {{include 'include/delete-helper.html'}}
                <!-- // Helpers for deletion -->
                <!-- Display Helper -->
                {{inc_vars = dict(editable = True,
                anomaly =  (log.log_type['name'] == 'Anomaly'),
                log_type = T(log.log_type['name']),
                date = log.entry_date,
                edit_action = 'log-edit-activity-' + str(log.id),
                delete_action = 'delete-log-' + str(log.id),
                content = MARKMIN(log.description, markmin_settings))}}
                {{include 'include/display-report-log.html'}}
                <!-- //Display Helper -->
                {{pass}}

                <!--ACTIVITIES WITHOUT METRIC-->
                {{for awm in activities_WM:}}
                    {{inc_vars = dict(editable = False,
                    anomaly =  False,
                    log_type = T('Activity'),
                    date = awm.date_start,
                    edit_action = None,
                    delete_action = None,
                    content = MARKMIN('Nombre: "'+awm.name+'"      Descripción: "'+awm.description+'"', markmin_settings))}}
                    {{include 'include/display-report-log.html'}}
                {{pass}}
                <!--ACTIVITIES WITHOUT METRIC-->

                <!--ACTIVITIES WITH METRIC-->
                {{for awm in activities_M:}}
                    {{inc_vars = dict(editable = False,
                    anomaly =  False,
                    log_type = T('Activity'),
                    date = awm[0],
                    edit_action = None,
                    delete_action = None,
                    content = MARKMIN(awm[1], markmin_settings))}}
                    {{include 'include/display-report-log.html'}}
                {{pass}}
                <!--ACTIVITIES WITH METRIC-->
            {{pass}}
            <!--#********************************************************************************-->
            <!--#******************************PHASE 2 DTT***************************************-->
        </div>
        <hr />
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-adjust"></span>
                    <strong>{{=T('Activities Log with metrics')}}</strong>
                </h1>
                <span>
                    <span>
                        <!--#****************************************************************************-->
                        <!--#****************************PHASE 2 DTT*************************************-->
                        {{if report.assignation.project.area_level.name=='DTT Tutor Académico':}}
                            <strong>{{=T('Total activity logs with metrics')}}:</strong> {{=len(activities_M)}}
                        {{else:}}
                            <strong>{{=T('Total activity logs with metrics')}}:</strong> {{=len(metrics)}}
                        {{pass}}
                        <!--#****************************************************************************-->
                        <!--#****************************PHASE 2 DTT*************************************-->
                    </span>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            <!--#****************************************************************************-->
            <!--#****************************PHASE 2 DTT*************************************-->
            <!--ACTIVITY WITHOUT METRIC-->
            {{if report.assignation.project.area_level.name=='DTT Tutor Académico':}}
                {{for metric in activities_M:}}
                    <!-- Display Helper -->
                    {{inc_vars = dict(editable = False,
                    metric = metric,
                    edit_action = None,
                    delete_action = None)}}
                    {{include 'include/display-report-metric.html'}}
                    <!-- //Display Helper -->
                {{pass}}
            {{else:}}
                {{for metric in metrics:}}
                <!-- Metric edit Helper-->
                {{inc_vars = dict(id = 'metric-edit-activity-' + str(metric.id),
                url = URL('metrics/update', vars=dict(metric = metric.id)),
                description = metric.description,
                date = metric.created,
                metrics_t = metric.metrics_type,
                metrics_type = metrics_type,
                media = metric.media,
                error_tipico = metric.error,
                mediana = metric.mediana,
                moda = metric.moda,
                desviacion_estandar = metric.desviacion,
                varianza = metric.varianza,
                curtosis = metric.curtosis,
                coeficiente = metric.coeficiente,
                rango = metric.rango,
                minimo = metric.minimo,
                maximo = metric.maximo,
                total = metric.total,
                reprobados = metric.reprobados,
                aprobados = metric.aprobados
                ) }}
                {{include 'include/log-metrics-activity.html'}}
                <!-- //Metric edit Helper-->
                <!-- Metric delete Helper-->
                {{inc_vars = dict(id = 'delete-metric-' + str(metric.id),
                title = T('Confirm') + ' ' + T('Delete'),
                content = T('Delete operation can\'t be undone, do you want to continue?'),
                action = T('Delete'),
                _class = 'btn-danger',
                url = URL('metrics/delete', vars=dict(metric = metric.id)))}}
                {{include 'include/delete-helper.html'}}
                <!-- //Metric delete Helper-->
                <!-- Display Helper -->
                {{inc_vars = dict(editable = True,
                metric = metric,
                edit_action = 'metric-edit-activity-' + str(metric.id),
                delete_action = 'delete-metric-' + str(metric.id))}}
                {{include 'include/display-report-metric.html'}}
                <!-- //Display Helper -->
                {{pass}}
            {{pass}}
            <!--ACTIVITY WITHOUT METRIC-->

            <!--FINAL LOG-->
            {{for final in final_r:}}
            <!-- Final Report edit Helper-->
            {{inc_vars = dict(id = 'final-edit-activity-' + str(final.id),
            url = URL('final/update', vars=dict(final = final.id)),
            date = final.curso_created,
            alumnos_actas = final.curso_asignados_actas,
            alumnos_parciales = final.curso_en_parciales,
            alumnos_final = final.curso_en_final,
            alumnos_retrasada_1 = final.curso_en_primera_restrasada,
            alumnos_retrasada_2 = final.curso_en_segunda_restrasada,
            lab_aprobados = final.lab_aprobados,
            lab_reprobados = final.lab_reprobados,
            lab_media = final.lab_media,
            lab_promedio = final.lab_promedio,
            media = final.curso_media,
            error_tipico = final.curso_error,
            mediana = final.curso_mediana,
            moda = final.curso_moda,
            desviacion_estandar = final.curso_desviacion,
            varianza = final.curso_varianza,
            curtosis = final.curso_curtosis,
            coeficiente = final.curso_coeficiente,
            rango = final.curso_rango,
            minimo = final.curso_minimo,
            maximo = final.curso_maximo,
            total = final.curso_total,
            reprobados = final.curso_reprobados,
            aprobados = final.curso_aprobados,
            promedio = final.curso_promedio) }}
            {{include 'include/log-final-metrics.html'}}
            <!-- //Final Report edit Helper-->
            <!-- Final Report delete Helper-->
            {{inc_vars = dict(id = 'delete-final-' + str(final.id),
            title = T('Confirm') + ' ' + T('Delete'),
            content = T('Delete operation can\'t be undone, do you want to continue?'),
            action = T('Delete'),
            _class = 'btn-danger',
            url = URL('final/delete', vars=dict(final = final.id)))}}
            {{include 'include/delete-helper.html'}}
            <!-- //Final Report delete Helper-->
            
            
            <!-- Display Helper -->
            {{if report.assignation.project.area_level.name!='DTT Tutor Académico' or (report.assignation.project.area_level.name=='DTT Tutor Académico' and final_stats_flag==True):}}
                {{if report.assignation.project.area_level.name=='DTT Tutor Académico':}}
                    {{inc_vars = dict(editable = True,
                    final = final,
                    edit_action = 'final-edit-activity-' + str(final.id),
                    delete_action = None)}}
                    {{include 'include/display-final-report.html'}}
                {{else:}}
                    {{inc_vars = dict(editable = True,
                    final = final,
                    edit_action = 'final-edit-activity-' + str(final.id),
                    delete_action = 'delete-final-' + str(final.id))}}
                    {{include 'include/display-final-report.html'}}
                {{pass}}
            {{else:}}
                {{inc_vars = dict(editable = False,
                final = final,
                edit_action = None,
                delete_action = None)}}
                {{include 'include/display-final-report.html'}}
            {{pass}}
            <!-- //Display Helper -->
            {{pass}}
            <!--FINAL LOG-->
            <!--#****************************************************************************-->
            <!--#****************************PHASE 2 DTT*************************************-->
        </div>
        <hr />
        {{if not(report.desertion_started is None):}}
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-user"></span>
                    <strong>{{=T('Desertion logs')}}</strong>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <!-- Desertion edit Helper-->
            {{inc_vars = dict(id = 'desertion-edit-activity',
            url = URL('desertions/update', vars=dict(report = report.id)),
            desertion_started = report.desertion_started,
            desertion_gone = report.desertion_gone,
            desertion_continued = report.desertion_continued) }}
            {{include 'include/log-desertion-activity.html'}}
            <!-- //Desertion edit Helper-->
            <!-- Desertion delete Helper-->
            {{inc_vars = dict(id = 'delete-desertion',
            title = T('Confirm') + ' ' + T('Delete'),
            content = T('Delete operation can\'t be undone, do you want to continue?'),
            action = T('Delete'),
            _class = 'btn-danger',
            url = URL('desertions/delete', vars=dict(report = report.id)))}}
            {{include 'include/delete-helper.html'}}
            <!-- //Desertion delete Helper-->
            <!-- Desertion Display Helper -->
            {{inc_vars = dict(editable = True,
            id = 'display-desertion',
            reports = assignation_reports,
            desertion_started = report.desertion_started,
            desertion_gone = report.desertion_gone,
            desertion_continued = report.desertion_continued,
            edit_action = 'desertion-edit-activity',
            delete_action = 'delete-desertion')}}
            {{include 'include/display-report-desertion.html'}}
            <!-- //Desertion Display Helper -->
        </div>
        {{pass}}
        {{if not(report.hours is None):}}
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-time"></span>
                    <strong>{{=T('Accomplished Hours')}}</strong>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <!-- Accomplished Hours edit Helper-->
            {{inc_vars = dict(id = 'edit-accomplished-hours',
            hours = report.hours,
            url = URL('report_hours/update', vars=dict(report = report.id)),
            title = T('Report Hours')) }}
            {{include 'include/report-hours-activity.html'}}
            <!-- //Accomplished Hours edit Helper-->
            <!-- Accomplished Hours delete Helper-->
            {{inc_vars = dict(id = 'delete-accomplished-hours',
            title = T('Confirm') + ' ' + T('Delete'),
            content = T('Delete operation can\'t be undone, do you want to continue?'),
            action = T('Delete'),
            _class = 'btn-danger',
            url = URL('report_hours/delete', vars=dict(report = report.id)))}}
            {{include 'include/delete-helper.html'}}
            <!-- //Accomplished Hours delete Helper-->
            <!-- Accomplished Hours display Helper-->
            {{inc_vars = dict(editable = True,
            id = 'display-report-hours',
            reports = assignation_reports,
            edit_action = 'edit-accomplished-hours',
            delete_action = 'delete-accomplished-hours')}}
            {{include 'include/display-report-hours.html'}}
            <!-- //Accomplished Hours display Helper-->
        </div>
        {{pass}}
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-time"></span>
                    {{=T('Future Activities Log')}}
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <!--#****************************************************************************-->
            <!--#****************************PHASE 2 DTT*************************************-->
            {{if report.assignation.project.area_level.name=='DTT Tutor Académico':}}
                {{for log in activities_F:}}
                    <!-- Display Helper -->
                    {{inc_vars = dict(editable = False,
                    date = log.date_start,
                    edit_action = None,
                    delete_action = None,
                    content = MARKMIN('Nombre: "'+log.name+'" Descripción: "'+log.description+'"', markmin_settings))}}
                    {{include 'include/display-report-log-future.html'}}
                    <!-- //Display Helper -->
                {{pass}}
            {{else:}}
                {{for log in report.log_future.select():}}
                <!-- Helpers for Edition -->
                {{inc_vars = dict(id = 'log-future-edit-activity-' + str(log.id),
                url = URL('log_future/update', vars=dict(log = log.id)),
                date = log.entry_date,
                content = log.description) }}
                {{include 'include/log-future-activity.html'}}
                <!-- // Helpers for Edition -->
                <!-- Helpers for deletion -->
                {{inc_vars = dict(id = 'delete-log-future-' + str(log.id),
                title = T('Confirm') + ' ' + T('Delete'),
                content = T('Delete operation can\'t be undone, do you want to continue?'),
                action = T('Delete'),
                _class = 'btn-danger',
                url = URL('log_future/delete', vars=dict(log = log.id)))}}
                {{include 'include/delete-helper.html'}}
                <!-- // Helpers for deletion -->
                <!-- Display Helper -->
                {{inc_vars = dict(editable = True,
                date = log.entry_date,
                edit_action = 'log-future-edit-activity-' + str(log.id),
                delete_action = 'delete-log-future-' + str(log.id),
                content = MARKMIN(log.description, markmin_settings))}}
                {{include 'include/display-report-log-future.html'}}
                <!-- //Display Helper -->
                {{pass}}
            {{pass}}
            <!--#****************************************************************************-->
            <!--#****************************PHASE 2 DTT*************************************-->
        </div>
        
    </div>
    {{if not(report.footer is None):}}
    <!-- report-footer-edit-activity -->
    {{inc_vars = dict(id = 'report-footer-edit',
    url = URL('report_footer/update', vars=dict(report = report.id)),
    title = T('Report Footer'),
    content = report.footer) }}
    {{include 'include/report-header.html'}}
    <!-- Helpers for deletion -->
    {{inc_vars = dict(id = 'report-footer-delete',
    title = T('Confirm') + ' ' + T('Delete'),
    content = T('Delete operation can\'t be undone, do you want to continue?'),
    action = T('Delete'),
    _class = 'btn-danger',
    url = URL('report_footer/delete', vars=dict(report = report.id)))}}
    {{include 'include/delete-helper.html'}}
    <!-- // Helpers for deletion -->
    <!-- Display Helper -->
    {{inc_vars = dict(editable = True,
    edit_action = 'report-footer-edit',
    delete_action = 'report-footer-delete',
    content = MARKMIN(report.footer, markmin_settings))}}
    {{include 'include/display-report-header.html'}}
    <!-- //Display Helper -->
    {{pass}}
</div>
<!-- Enable Markmin in textarea -->
<script>
jQuery(document).ready(function() {
  jQuery('textarea').css('width','500px').css('height','200px').markItUp(mySettings);
});
</script>
<!-- //Enable Markmin in textarea -->
