{{extend 'template.html'}}
<!-- Additional Scripts for MARKMIN -->
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/sets/markmin/set.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/highcharts.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/data.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/exporting.js"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/skins/markitup/style.css"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/sets/markmin/style.css"/>
<!-- //Additional Scripts for MARKMIN -->
<!-- This are Helpers -->
<!-- log-new-desertion-activity -->
{{inc_vars = dict(id = 'log-new-desertion-activity',
                url = URL('desertions/save', vars=dict(report = report.id)),
                desertion_started = '',
                desertion_gone = '',
                desertion_continued = '') }}
{{include 'include/log-desertion-activity.html'}}
<!-- log-new-metrics-activity -->
{{inc_vars = dict(id = 'log-new-metrics-activity',
                url = URL('metrics/save', vars=dict(report = report.id)),
                date = '',
                metrics_t = None,
                metrics_type = metrics_type,
                media = '',
                error_tipico = '',
                mediana = '',
                moda = '',
                desviacion_estandar = '',
                varianza = '',
                curtosis = '',
                coeficiente = '',
                rango = '',
                minimo = '',
                maximo = '',
                total = '',
                reprobados = '',
                aprobados = ''
                ) }}
{{include 'include/log-metrics-activity.html'}}
<!-- log-new-activity -->
{{inc_vars = dict(id = 'log-new-activity',
                url = URL('log/save', vars=dict(report = report.id)),
                date = '',
                log_type = None,
                log_types = log_types,
                content = '') }}
{{include 'include/log-activity.html'}}
<!-- report-head-activity -->
{{inc_vars = dict(id = 'report-header-new',
                url = URL('report_header/create', vars=dict(report = report.id)),
                title = T('Report Header'),
                content = '') }}
{{include 'include/report-header.html'}}
<!-- report-footer-activity -->
{{inc_vars = dict(id = 'report-footer-new',
                url = URL('report_footer/create', vars=dict(report = report.id)),
                title = T('Report Footer'),
                content = '') }}
{{include 'include/report-header.html'}}
<!-- report-hours-activity -->
{{inc_vars = dict(id = 'log-accomplished-hours',
hours = '',
url = URL('report_hours/create', vars=dict(report = report.id)),
title = T('Report Hours')) }}
{{include 'include/report-hours-activity.html'}}
<!-- Helpers for asking something before it happens and may be ireversible -->
{{inc_vars = dict(id = 'report-grading-check',
title = T('Confirm') + ' ' + T('Send to Grading'),
content = T('This operation can\'t be undone, do you want to continue?'),
action = T('Confirm'),
_class = 'btn-primary',
url = URL('student','report/acceptance', vars=dict(report = report.id)))}}
{{include 'include/delete-helper.html'}}
<!-- // Helpers for deletion -->
<!-- Helpers end here -->
<div class="row-fluid">
  <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">
            {{=T('Edit Report:')}}
            <small>{{=report.report_restriction['name']}}</small>
        </a>
        <ul class="nav pull-right">
            <li>
                <a data-toggle="modal" href="#report-grading-check">
                    <span class="icon-check"></span> {{=T('Send to Grading')}}
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="">
                    <span class="icon-plus-sign"></span> {{=T('Add Block')}}
                </a>
                <ul class="dropdown-menu">
                    {{if report.heading is None or report.footer is None:}}
                    <li class="disabled"><a tabindex="-1" href="#">{{=T('Common')}}</a></li>
                    {{pass}}
                    {{if report.heading is None:}}
                    <li>
                        <a data-toggle="modal" href="#report-header-new">
                            <span class="icon-align-left"></span> {{=T('Heading')}}
                        </a>
                    </li>
                    {{pass}}
                    {{if report.footer is None:}}
                    <li>
                        <a data-toggle="modal" href="#report-footer-new">
                            <span class="icon-align-left"></span> {{=T('Footer')}}
                        </a>
                    </li>
                    {{pass}}
                    <li class="divider"></li>
                    <li class="disabled"><a tabindex="-1" href="#">{{=T('General Activities')}}</a></li>
                    <li>
                        <a data-toggle="modal" href="#log-new-activity">
                            <span class="icon-tasks"></span> {{=T('Log Activity')}}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="disabled"><a tabindex="-1" href="#">{{=T('Auxiliar Activities')}}</a></li>
                    <li>
                        <a data-toggle="modal" href="#log-new-metrics-activity">
                            <span class="icon-adjust"></span> {{=T('Log Metrics')}}
                        </a>
                    </li>
                    {{if report.desertion_started is None:}}
                    <li>
                        <a data-toggle="modal" href="#log-new-desertion-activity">
                            <span class="icon-user"></span> {{=T('Log Desertion')}}
                        </a>
                    </li>
                    {{pass}}
                    {{if report.hours is None:}}
                    <li class="divider"></li>
                    <li class="disabled"><a tabindex="-1" href="#">{{=T('Other Activities')}}</a></li>
                    <li>
                        <a data-toggle="modal" href="#log-accomplished-hours">
                            <span class="icon-time"></span> {{=T('Log Accomplished Hours')}}
                        </a>
                    </li>
                    {{pass}}
                </ul>
            </li>
        </ul>
      </div>
  </div>
</div>
<div style="border:solid #ddd 1px;">
    {{if not(report.heading is None):}}
    <!-- report-head-edit-activity -->
    {{inc_vars = dict(id = 'report-header-edit',
    url = URL('report_header/update', vars=dict(report = report.id)),
    title = T('Report Header'),
    content = report.heading) }}
    {{include 'include/report-header.html'}}
    <!-- Helpers for deletion -->
    {{inc_vars = dict(id = 'report-header-delete',
    title = T('Confirm') + ' ' + T('Delete'),
    content = T('Delete operation can\'t be undone, do you want to continue?'),
    action = T('Delete'),
    _class = 'btn-danger',
    url = URL('report_header/delete', vars=dict(report = report.id)))}}
    {{include 'include/delete-helper.html'}}
    <!-- // Helpers for deletion -->
    <!-- Display Helper -->
    {{inc_vars = dict(editable = True,
    edit_action = 'report-header-edit',
    delete_action = 'report-header-delete',
    content = MARKMIN(report.heading, markmin_settings))}}
    {{include 'include/display-report-header.html'}}
    <!-- //Display Helper -->
    {{pass}}
    <div class="container">
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-tasks"></span>
                    {{=T('Activities Log')}}
                </h1>
                <span>
                    <span><strong>{{=T('Total Anomalies')}}:</strong> {{=anomalies}} </span> |
                    <span><strong>{{=T('Total Registered Activities')}}:</strong> {{=len(logs)}} </span>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            {{for log in logs:}}
            <!-- Helpers for Edition -->
            {{inc_vars = dict(id = 'log-edit-activity-' + str(log.id),
            url = URL('log/update', vars=dict(log = log.id)),
            date = log.entry_date,
            log_type = log.log_type,
            log_types = log_types,
            content = log.description) }}
            {{include 'include/log-activity.html'}}
            <!-- // Helpers for Edition -->
            <!-- Helpers for deletion -->
            {{inc_vars = dict(id = 'delete-log-' + str(log.id),
            title = T('Confirm') + ' ' + T('Delete'),
            content = T('Delete operation can\'t be undone, do you want to continue?'),
            action = T('Delete'),
            _class = 'btn-danger',
            url = URL('log/delete', vars=dict(log = log.id)))}}
            {{include 'include/delete-helper.html'}}
            <!-- // Helpers for deletion -->
            <!-- Display Helper -->
            {{inc_vars = dict(editable = True,
            anomaly =  (log.log_type['name'] == 'Anomaly'),
            log_type = T(log.log_type['name']),
            date = log.entry_date,
            edit_action = 'log-edit-activity-' + str(log.id),
            delete_action = 'delete-log-' + str(log.id),
            content = MARKMIN(log.description, markmin_settings))}}
            {{include 'include/display-report-log.html'}}
            <!-- //Display Helper -->
            {{pass}}
        </div>
        <hr />
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-adjust"></span>
                    <strong>{{=T('Activities Log with metrics')}}</strong>
                </h1>
                <span>
                    <span><strong>{{=T('Total activity logs with metrics')}}:</strong> {{=len(metrics)}}</span>
                </span>
            </div>
        </div>
        <div class="row-fluid">
            {{for metric in metrics:}}
            <!-- Metric edit Helper-->
            {{inc_vars = dict(id = 'metric-edit-activity-' + str(metric.id),
            url = URL('metrics/update', vars=dict(metric = metric.id)),
            date = metric.created,
            metrics_t = metric.metrics_type,
            metrics_type = metrics_type,
            media = metric.media,
            error_tipico = metric.error,
            mediana = metric.mediana,
            moda = metric.moda,
            desviacion_estandar = metric.desviacion,
            varianza = metric.varianza,
            curtosis = metric.curtosis,
            coeficiente = metric.coeficiente,
            rango = metric.rango,
            minimo = metric.minimo,
            maximo = metric.maximo,
            total = metric.total,
            reprobados = metric.reprobados,
            aprobados = metric.aprobados
            ) }}
            {{include 'include/log-metrics-activity.html'}}
            <!-- //Metric edit Helper-->
            <!-- Metric delete Helper-->
            {{inc_vars = dict(id = 'delete-metric-' + str(metric.id),
            title = T('Confirm') + ' ' + T('Delete'),
            content = T('Delete operation can\'t be undone, do you want to continue?'),
            action = T('Delete'),
            _class = 'btn-danger',
            url = URL('metrics/delete', vars=dict(metric = metric.id)))}}
            {{include 'include/delete-helper.html'}}
            <!-- //Metric delete Helper-->
            <!-- Display Helper -->
            {{inc_vars = dict(editable = True,
            metric = metric,
            edit_action = 'metric-edit-activity-' + str(metric.id),
            delete_action = 'delete-metric-' + str(metric.id))}}
            {{include 'include/display-report-metric.html'}}
            <!-- //Display Helper -->
            {{pass}}
        </div>
        <hr />
        {{if not(report.desertion_started is None):}}
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-user"></span>
                    <strong>{{=T('Desertion logs')}}</strong>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <!-- Desertion edit Helper-->
            {{inc_vars = dict(id = 'desertion-edit-activity',
            url = URL('desertions/update', vars=dict(report = report.id)),
            desertion_started = report.desertion_started,
            desertion_gone = report.desertion_gone,
            desertion_continued = report.desertion_continued) }}
            {{include 'include/log-desertion-activity.html'}}
            <!-- //Desertion edit Helper-->
            <!-- Desertion delete Helper-->
            {{inc_vars = dict(id = 'delete-desertion',
            title = T('Confirm') + ' ' + T('Delete'),
            content = T('Delete operation can\'t be undone, do you want to continue?'),
            action = T('Delete'),
            _class = 'btn-danger',
            url = URL('desertions/delete', vars=dict(report = report.id)))}}
            {{include 'include/delete-helper.html'}}
            <!-- //Desertion delete Helper-->
            <!-- Desertion Display Helper -->
            {{inc_vars = dict(editable = True,
            id = 'display-desertion',
            reports = assignation_reports,
            desertion_started = report.desertion_started,
            desertion_gone = report.desertion_gone,
            desertion_continued = report.desertion_continued,
            edit_action = 'desertion-edit-activity',
            delete_action = 'delete-desertion')}}
            {{include 'include/display-report-desertion.html'}}
            <!-- //Desertion Display Helper -->
        </div>
        {{pass}}
        {{if not(report.hours is None):}}
        <div class="row-fluid">
            <div style="padding:15px;">
                <h1>
                    <span class="icon-time"></span>
                    <strong>{{=T('Accomplished Hours')}}</strong>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <!-- Accomplished Hours edit Helper-->
            {{inc_vars = dict(id = 'edit-accomplished-hours',
            hours = report.hours,
            url = URL('report_hours/update', vars=dict(report = report.id)),
            title = T('Report Hours')) }}
            {{include 'include/report-hours-activity.html'}}
            <!-- //Accomplished Hours edit Helper-->
            <!-- Accomplished Hours delete Helper-->
            {{inc_vars = dict(id = 'delete-accomplished-hours',
            title = T('Confirm') + ' ' + T('Delete'),
            content = T('Delete operation can\'t be undone, do you want to continue?'),
            action = T('Delete'),
            _class = 'btn-danger',
            url = URL('report_hours/delete', vars=dict(report = report.id)))}}
            {{include 'include/delete-helper.html'}}
            <!-- //Accomplished Hours delete Helper-->
            <!-- Accomplished Hours display Helper-->
            {{inc_vars = dict(editable = True,
            id = 'display-report-hours',
            reports = assignation_reports,
            edit_action = 'edit-accomplished-hours',
            delete_action = 'delete-accomplished-hours')}}
            {{include 'include/display-report-hours.html'}}
            <!-- //Accomplished Hours display Helper-->
        </div>
        {{pass}}
    </div>
    {{if not(report.footer is None):}}
    <!-- report-footer-edit-activity -->
    {{inc_vars = dict(id = 'report-footer-edit',
    url = URL('report_footer/update', vars=dict(report = report.id)),
    title = T('Report Footer'),
    content = report.footer) }}
    {{include 'include/report-header.html'}}
    <!-- Helpers for deletion -->
    {{inc_vars = dict(id = 'report-footer-delete',
    title = T('Confirm') + ' ' + T('Delete'),
    content = T('Delete operation can\'t be undone, do you want to continue?'),
    action = T('Delete'),
    _class = 'btn-danger',
    url = URL('report_footer/delete', vars=dict(report = report.id)))}}
    {{include 'include/delete-helper.html'}}
    <!-- // Helpers for deletion -->
    <!-- Display Helper -->
    {{inc_vars = dict(editable = True,
    edit_action = 'report-footer-edit',
    delete_action = 'report-footer-delete',
    content = MARKMIN(report.footer, markmin_settings))}}
    {{include 'include/display-report-header.html'}}
    <!-- //Display Helper -->
    {{pass}}
</div>
<!-- Enable Markmin in textarea -->
<script>
jQuery(document).ready(function() {
  jQuery('textarea').css('width','500px').css('height','200px').markItUp(mySettings);
});
</script>
<!-- //Enable Markmin in textarea -->
