{{extend 'template.html'}}
<!-- Additional Scripts for MARKMIN -->
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/sets/markmin/set.js"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/skins/markitup/style.css"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/sets/markmin/style.css"/>
<!-- //Additional Scripts for MARKMIN -->
{{if state == 'edit':}}
<!-- This are Helpers -->
<!-- log-new-activity -->
<div id="log-new-activity"
     class="modal hide fade" tabindex="-1"
     role="dialog"
     aria-labelledby="changos"
     aria-hidden="true">
    <form action="{{=URL('log/save', vars=dict(report = report.id))}}" method="POST">
        <div class="modal-header">
            <span class="row-fluid">
                <span class="row">
                    <span class="span3">
                        <h3 id="changos">{{=T('Log Activity')}}</h3>
                    </span>
                    <span class="span8">
                        <div class="input-prepend">
                            <span class="add-on">{{=T('Log Date')}} <span class="icon-calendar"></span></span>
                            <input class="span7" id="log-date" name="log-date" type="date">
                        </div>
                    </span>
                    <span class="span1">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </span>
                </span>
            </span>
        </div>
        <div class="modal-body">
            <div class="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Information!</strong> If there happened something to report to school please select as anomaly.
            </div>
            <div class="input-prepend">
                <span class="add-on">{{=T('Type')}}</span>
                <select id="log-type" name="log-type">
                    {{for log_type in log_types:}}
                    <option value = "{{=log_type.id}}">{{=T(log_type.name)}}</option>
                    {{pass}}
                </select>
            </div>
            <textarea id="log-content" name="log-content" class="text"></textarea>
        </div>
        <div class="modal-footer">
          <button class="btn"
                data-dismiss="modal"
                aria-hidden="true">{{=T('Close')}}</button>
          <input type="submit"
          onclick="if ($('#log-type').val()&&
              $('#log-content').val()&&
              $('#log-date').val())
              return true;
              else return false;"
              class="btn btn-primary"
                 value="{{=T('Save Changes')}} *{{=T('All fields are required.')}}"></input>
        </div>
    </form>
</div>
<!-- Helpers end here -->
<div class="row-fluid">
  <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">
            {{=T('Edit Report:')}}
            <small>{{=report.report_restriction['name']}}</small>
        </a>
        <ul class="nav pull-right">
            <li>
                <a data-toggle="modal" href="#log-new-activity">
                    <span class="icon-tasks"></span> {{=T('Log Activity')}}
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon-adjust"></span> {{=T('Log Metrics')}}
                </a>
            </li>
        </ul>
      </div>
  </div>
</div>
<div class="">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <strong>
              <span class="icon-tasks"></span>
              {{=T('Activities Log')}}
          </strong>
          <span class="right">
              <span><strong>{{=T('Total Anomalies')}}:</strong> {{=anomalies}} </span> |
              <span><strong>{{=T('Total Registered Activities')}}:</strong> {{=len(logs)}} </span>
          </span>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
          <div style="container">
              {{for log in logs:}}
              <!-- Helpers for Edition -->
              <div id="log-edit-activity-{{=log.id}}"
                 class="modal hide fade" tabindex="-1"
                 role="dialog"
                 aria-labelledby="log-edit-activity-{{=log.id}}"
                 aria-hidden="true">
                <form action="{{=URL('log/update', vars=dict(log = log.id))}}" method="POST">
                    <div class="modal-header">
                        <span class="row-fluid">
                            <span class="row">
                                <span class="span3">
                                    <h3 id="log-edit-activity-{{=log.id}}">{{=T('Log Activity')}}</h3>
                                </span>
                                <span class="span8">
                                    <div class="input-prepend">
                                        <span class="add-on">{{=T('Log Date')}}
                                            <span class="icon-calendar"></span>
                                        </span>
                                        <input class="span7"
                                               id="log-date-{{=log.id}}"
                                               value="{{=log.entry_date}}"
                                               name="log-date"
                                               type="date">
                                    </div>
                                </span>
                                <span class="span1">
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-hidden="true">×
                                    </button>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="modal-body">
                        <div class="alert">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <strong>Information!</strong> 
                            If there happened something to report to school please select as anomaly.
                        </div>
                        <div class="input-prepend">
                            <span class="add-on">{{=T('Type')}}</span>
                            <select id="log-type-{{=log.id}}" name="log-type">
                                {{for log_type in log_types:}}
                                <option value = "{{=log_type.id}}">{{=T(log_type.name)}}</option>
                                {{pass}}
                            </select>
                        </div>
                        <textarea id="log-content-{{=log.id}}"
                                  name="log-content"
                                  class="text">{{=log.description}}</textarea>
                    </div>
                    <div class="modal-footer">
                      <button class="btn"
                            data-dismiss="modal"
                            aria-hidden="true">{{=T('Close')}}</button>
                      <input type="submit"
                      onclick="if ($('#log-type-{{=log.id}}').val()&&
                          $('#log-content-{{=log.id}}').val()&&
                          $('#log-date-{{=log.id}}').val())
                          return true;
                          else return false;"
                          class="btn btn-primary"
                             value="{{=T('Save Changes')}} *{{=T('All fields are required.')}}"></input>
                    </div>
                </form>
            </div>
              <!-- // Helpers for Edition -->
              <!-- Helpers for deletion -->
              <!-- Modal -->
              <div id="delete-modal-{{=log.id}}"
                   class="modal hide fade"
                   tabindex="-1"
                   role="dialog"
                   aria-labelledby="DeleteModalLabel{{=log.id}}"
                   aria-hidden="true">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 id="DeleteModalLabel{{=log.id}}">{{=T('Confirm Delete')}}</h3>
                  </div>
                  <div class="modal-body">
                      <p>{{=T("Delete operation can't be undone, do you want to continue?")}}</p>
                  </div>
                  <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">{{=T('Cancel')}}</button>
                      <a class="btn btn-danger"
                         href="{{=URL('log/delete', vars=dict(log = log.id))}}">
                          {{=T('Delete')}}
                      </a>
                  </div>
              </div>
              <!-- // Helpers for deletion -->
              <div class="row-fluid">
                  <div class="well span12">
                      <div class="span12">
                          {{if log.log_type['name'] == 'Anomaly':}}
                          <div class="alert">
                              <strong><span class="icon-warning-sign"></span>
                                  {{=T('Anomaly')}}
                              </strong>
                          </div>
                          {{pass}}
                          <strong>Log type:</strong> {{=T(log.log_type['name'])}}
                          <strong>Date:</strong> {{=log.entry_date}}
                          <div class="pull-right">
                              <div class="btn-group">
                                  <a href="#log-edit-activity-{{=log.id}}"
                                     data-toggle="modal"
                                     class="btn">
                                      <span class="icon-edit"></span>
                                  </a>
                                  <a href="#delete-modal-{{=log.id}}"
                                     data-toggle="modal"
                                     class="btn btn-danger">
                                      <span class="icon-remove icon-white"></span>
                                  </a>
                                </div>
                          </div>
                      </div>
                      <div class="span12">
                          {{=MARKMIN(log.description, markmin_settings)}}
                      </div>
                  </div>
              </div>
              {{pass}}
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <span class="icon-adjust"></span>
          {{=T('Activities Log with metrics')}}
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        asdf
      </div>
    </div>
  </div>
</div>
</div>
<a class="btn" href="{{=URL('student','report/save', vars=dict(report = report.id))}}">
    {{=T('Save Draft')}}
</a>
<a class="btn" href="{{=URL('student','report/acceptance', vars=dict(report = report.id))}}">
    {{=T('Send to Grading')}}
</a>
{{elif state == 'view':}}
<div class="row-fluid">
  <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">
            {{=T('View Report:')}}
            <small>{{=report.report_restriction['name']}}</small>
        </a>
        <ul class="nav pull-right">
        </ul>
      </div>
  </div>
</div>
<div class="">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <strong>
              <span class="icon-tasks"></span>
              {{=T('Activities Log')}}
          </strong>
          <span class="right">
              <span><strong>{{=T('Total Anomalies')}}:</strong> {{=anomalies}} </span> |
              <span><strong>{{=T('Total Registered Activities')}}:</strong> {{=len(logs)}} </span>
          </span>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
          <div style="container">
              {{for log in logs:}}
              <div class="row-fluid">
                  <div class="well span12">
                      <div class="span12">
                          {{if log.log_type['name'] == 'Anomaly':}}
                          <div class="alert">
                              <strong><span class="icon-warning-sign"></span>
                                  {{=T('Anomaly')}}
                              </strong>
                          </div>
                          {{pass}}
                          <strong>Log type:</strong> {{=T(log.log_type['name'])}}
                          <strong>Date:</strong> {{=log.entry_date}}
                      </div>
                      <div class="span12">
                          {{=MARKMIN(log.description, markmin_settings)}}
                      </div>
                  </div>
              </div>
              {{pass}}
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <span class="icon-adjust"></span>
          {{=T('Activities Log with metrics')}}
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        asdf
      </div>
    </div>
  </div>
</div>
</div>
{{pass}}
<!-- Enable Markmin in textarea -->
<script>
jQuery(document).ready(function() {
  jQuery('textarea').css('width','500px').css('height','200px').markItUp(mySettings);
});
</script>
<!-- //Enable Markmin in textarea -->
