{{extend 'template.html'}}
<!-- Additional Scripts for MARKMIN -->
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/sets/markmin/set.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/highcharts.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/exporting.js"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/skins/markitup/style.css"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/sets/markmin/style.css"/>
<!-- //Additional Scripts for MARKMIN -->
<!-- This are Helpers -->
<!-- log-new-desertion-activity -->
{{inc_vars = dict(id = 'log-new-desertion-activity',
                url = URL('desertions/save', vars=dict(report = report.id)),
                desertion_started = '',
                desertion_gone = '',
                desertion_continued = '') }}
{{include 'include/log-desertion-activity.html'}}
<!-- log-new-metrics-activity -->
{{inc_vars = dict(id = 'log-new-metrics-activity',
                url = URL('metrics/save', vars=dict(report = report.id)),
                date = '',
                metrics_t = None,
                metrics_type = metrics_type,
                media = '',
                error_tipico = '',
                mediana = '',
                moda = '',
                desviacion_estandar = '',
                varianza = '',
                curtosis = '',
                coeficiente = '',
                rango = '',
                minimo = '',
                maximo = '',
                total = '',
                reprobados = '',
                aprobados = ''
                ) }}
{{include 'include/log-metrics-activity.html'}}
<!-- log-new-activity -->
{{inc_vars = dict(id = 'log-new-activity',
                url = URL('log/save', vars=dict(report = report.id)),
                date = '',
                log_type = None,
                log_types = log_types,
                content = '') }}
{{include 'include/log-activity.html'}}
<!-- report-head-activity -->
{{inc_vars = dict(id = 'report-header-new',
                url = URL('report_header/create', vars=dict(report = report.id)),
                title = T('Report Header'),
                content = '') }}
{{include 'include/report-header.html'}}
<!-- report-footer-activity -->
{{inc_vars = dict(id = 'report-footer-new',
                url = URL('report_footer/create', vars=dict(report = report.id)),
                title = T('Report Footer'),
                content = '') }}
{{include 'include/report-header.html'}}
<!-- Helpers end here -->
<div class="row-fluid">
  <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">
            {{=T('Edit Report:')}}
            <small>{{=report.report_restriction['name']}}</small>
        </a>
        <ul class="nav pull-right">
            <li>
                <a class="active" href="{{=URL('student','report/acceptance', vars=dict(report = report.id))}}">
                    <span class="icon-check"></span> {{=T('Send to Grading')}}
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="">
                    <span class="icon-plus-sign"></span> {{=T('Add Block')}}
                </a>
                <ul class="dropdown-menu">
                    {{if report.heading is None or report.footer is None:}}
                    <li class="disabled"><a tabindex="-1" href="#">{{=T('Common')}}</a></li>
                    {{pass}}
                    {{if report.heading is None:}}
                    <li>
                        <a data-toggle="modal" href="#report-header-new">
                            <span class="icon-align-left"></span> {{=T('Heading')}}
                        </a>
                    </li>
                    {{pass}}
                    {{if report.footer is None:}}
                    <li>
                        <a data-toggle="modal" href="#report-footer-new">
                            <span class="icon-align-left"></span> {{=T('Footer')}}
                        </a>
                    </li>
                    {{pass}}
                    <li class="divider"></li>
                    <li class="disabled"><a tabindex="-1" href="#">{{=T('General Activities')}}</a></li>
                    <li>
                        <a data-toggle="modal" href="#log-new-activity">
                            <span class="icon-tasks"></span> {{=T('Log Activity')}}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="disabled"><a tabindex="-1" href="#">{{=T('Auxiliar Activities')}}</a></li>
                    <li>
                        <a data-toggle="modal" href="#log-new-metrics-activity">
                            <span class="icon-adjust"></span> {{=T('Log Metrics')}}
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#log-new-desertion-activity">
                            <span class="icon-user"></span> {{=T('Log Desertion')}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
      </div>
  </div>
</div>
<div class="">
    {{if not(report.heading is None):}}
    <!-- report-head-edit-activity -->
    {{inc_vars = dict(id = 'report-header-edit',
                    url = URL('report_header/update', vars=dict(report = report.id)),
                    title = T('Report Header'),
                    content = report.heading) }}
    {{include 'include/report-header.html'}}
    <!-- Helpers for deletion -->
    {{inc_vars = dict(id = 'report-header-delete',
    url = URL('report_header/delete', vars=dict(report = report.id)))}}
    {{include 'include/delete-helper.html'}}
    <!-- // Helpers for deletion -->
    <div class="row-fluid">
        <div class="span12">
            <div class="span12">
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="#report-header-edit"
                           data-toggle="modal"
                           class="btn">
                            <span class="icon-edit"></span>
                        </a>
                        <a href="#report-header-delete"
                           data-toggle="modal"
                           class="btn btn-danger">
                            <span class="icon-remove icon-white"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="span12">
                {{=MARKMIN(report.heading, markmin_settings)}}
            </div>
        </div>
    </div>
    {{pass}}
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <strong>
              <span class="icon-tasks"></span>
              {{=T('Activities Log')}}
          </strong>
          <span class="right">
              <span><strong>{{=T('Total Anomalies')}}:</strong> {{=anomalies}} </span> |
              <span><strong>{{=T('Total Registered Activities')}}:</strong> {{=len(logs)}} </span>
          </span>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
          <div style="container">
              {{for log in logs:}}
              <!-- Helpers for Edition -->
              {{inc_vars = dict(id = 'log-edit-activity-' + str(log.id),
                url = URL('log/update', vars=dict(log = log.id)),
                date = log.entry_date,
                log_type = log.log_type,
                log_types = log_types,
                content = log.description) }}
              {{include 'include/log-activity.html'}}
              <!-- // Helpers for Edition -->
              <!-- Helpers for deletion -->
              {{inc_vars = dict(id = 'delete-log-' + str(log.id),
              url = URL('log/delete', vars=dict(log = log.id)))}}
              {{include 'include/delete-helper.html'}}
              <!-- // Helpers for deletion -->
              <div class="row-fluid">
                  <div class="well span12">
                      <div class="span12">
                          {{if log.log_type['name'] == 'Anomaly':}}
                          <div class="alert">
                              <strong><span class="icon-warning-sign"></span>
                                  {{=T('Anomaly')}}
                              </strong>
                          </div>
                          {{pass}}
                          <strong>Log type:</strong> {{=T(log.log_type['name'])}}
                          <strong>Date:</strong> {{=log.entry_date}}
                          <div class="pull-right">
                              <div class="btn-group">
                                  <a href="#log-edit-activity-{{=log.id}}"
                                     data-toggle="modal"
                                     class="btn">
                                      <span class="icon-edit"></span>
                                  </a>
                                  <a href="#delete-log-{{=log.id}}"
                                     data-toggle="modal"
                                     class="btn btn-danger">
                                      <span class="icon-remove icon-white"></span>
                                  </a>
                                </div>
                          </div>
                      </div>
                      <div class="span11">
                          {{=MARKMIN(log.description, markmin_settings)}}
                      </div>
                  </div>
              </div>
              {{pass}}
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <span class="icon-adjust"></span>
          <strong>{{=T('Activities Log with metrics')}}</strong>
          <span class="right">
            <span><strong>{{=T('Total activity logs with metrics')}}:</strong> {{=len(metrics)}}</span>
          </span>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <div style="container">
          {{for metric in metrics:}}
            <!-- Metric edit Helper-->
            {{inc_vars = dict(id = 'metric-edit-activity-' + str(metric.id),
                url = URL('metrics/update', vars=dict(metric = metric.id)),
                date = metric.created,
                metrics_t = metric.metrics_type,
                metrics_type = metrics_type,
                media = metric.media,
                error_tipico = metric.error,
                mediana = metric.mediana,
                moda = metric.moda,
                desviacion_estandar = metric.desviacion,
                varianza = metric.varianza,
                curtosis = metric.curtosis,
                coeficiente = metric.coeficiente,
                rango = metric.rango,
                minimo = metric.minimo,
                maximo = metric.maximo,
                total = metric.total,
                reprobados = metric.reprobados,
                aprobados = metric.aprobados
                ) }}
            {{include 'include/log-metrics-activity.html'}}
          <!-- //Metric edit Helper-->
          <!-- Metric delete Helper-->
          {{inc_vars = dict(id = 'delete-metric-' + str(metric.id),
          url = URL('metrics/delete', vars=dict(metric = metric.id)))}}
          {{include 'include/delete-helper.html'}}
          <!-- //Metric delete Helper-->
          <div class="row-fluid">
              <div class="well span12">
                      <div class="span12">
                          <strong>{{=T('Date')}}:</strong> {{=metric.created}}
                          <div class="pull-right">
                              <div class="btn-group">
                                  <a href="#metric-edit-activity-{{=metric.id}}" data-toggle="modal" class="btn">
                                      <span class="icon-edit"></span>
                                  </a>
                                  <a href="#delete-metric-{{=metric.id}}" data-toggle="modal" class="btn btn-danger">
                                      <span class="icon-remove icon-white"></span>
                                  </a>
                                </div>
                          </div>
                      </div>
                      <div class="span12">
                          <h2 class="center">{{=metric.metrics_type.name}}</h2>
                        <div class="span6">
                          <table class="table table-striped table-bordered">
                              <thead>
                                <tr>
                                  <td>
                                    <strong>{{=T('Metric')}}</strong>
                                  </td>
                                  <td>
                                    <strong>{{=T('Value')}}</strong>
                                  </td>
                                </tr>
                              </thead>
                            <tbody>
                            <tr>
                              <td><strong>{{=T('Media')}}</strong> </td> <td>{{=metric.media}}</td></tr>
                              <tr><td><strong>{{=T('Error')}}</strong> </td> <td>{{=metric.error}}</td></tr>
                              <tr><td><strong>{{=T('Mediana')}}</strong></td> <td> {{=metric.mediana}}</td></tr>
                              <tr><td><strong>{{=T('Moda')}}</strong> </td> <td>{{=metric.moda}}</td></tr>
                              <tr><td><strong>{{=T('Desviacion')}}</strong></td> <td> {{=metric.desviacion}}</td></tr>
                              <tr><td><strong>{{=T('Varianza')}}</strong></td> <td> {{=metric.varianza}}</td></tr>
                              <tr><td><strong>{{=T('Curtosis')}}</strong></td> <td> {{=metric.curtosis}}</td></tr>
                              <tr><td><strong>{{=T('Coeficiente')}}</strong></td> <td> {{=metric.coeficiente}}</td></tr>
                              <tr><td><strong>{{=T('Rango')}}</strong> </td> <td>{{=metric.rango}}</td></tr>
                              <tr><td><strong>{{=T('Minimo')}}</strong> </td> <td>{{=metric.minimo}}</td></tr>
                              <tr><td><strong>{{=T('Maximo')}}</strong> </td> <td>{{=metric.maximo}}</td></tr>
                              <tr><td><strong>{{=T('Total')}}</strong> </td> <td>{{=metric.total}}</td></tr>
                              <tr><td><strong>{{=T('Reprobados')}}</strong></td> <td> {{=metric.reprobados}}</td></tr>
                              <tr><td><strong>{{=T('Aprobados')}}</strong></td> <td> {{=metric.aprobados}}</td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                          <div class="span5 center">
                              <div>
                                  <h3>
                                      {{=T('Aproved vrs. Failed Students')}}
                                  </h3>
                                  <div style="width:100%; height:300px;"
                                          width=100% height=300px id="graphpie{{=metric.id}}"></div>
                              </div>
                              <div>
                                  <div style="width:100%; height:300px;"
                                          width=100% height=300px id="graphbars{{=metric.id}}"></div>
                              </div>
                              {{if metric.total > 0:}}
                              		<script type="text/javascript">
                                        $(function () {
                                            $('#graphpie{{=metric.id}}').highcharts({
                                                chart: {
                                                    plotBackgroundColor: null,
                                                    plotBorderWidth: null,
                                                    plotShadow: false
                                                },
                                                title: {
                                                    text: '{{=T("Aproved vrs. Failed Students")}}'
                                                },
                                                tooltip: {
                                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                                },
                                                plotOptions: {
                                                    pie: {
                                                        allowPointSelect: true,
                                                        cursor: 'pointer',
                                                        dataLabels: {
                                                            enabled: true,
                                                            color: '#000000',
                                                            connectorColor: '#000000',
                                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    type: 'pie',
                                                    name: '{{=T("Aproved vrs. Failed Students")}}',
                                                    data: [
                                                        ['{{=T("Aproved")}}',   {{=100.0*metric.aprobados/metric.total}}],
                                                        ['{{=T("Failed")}}',   {{=100.0*metric.reprobados/metric.total}}]
                                                    ]
                                                }]
                                            });
                                            $('#graphbars{{=metric.id}}').highcharts({
                                            chart: {
                                                type: 'column',
                                                margin: [ 50, 50, 100, 80]
                                            },
                                            title: {
                                                text: '{{=T("Aproved vrs. Failed Students")}}'
                                            },
                                            xAxis: {
                                                categories: [
                                                    '{{=T("Aproved")}}',
                                                    '{{=T("Failed")}}'
                                                ],
                                                labels: {
                                                    rotation: -45,
                                                    align: 'right',
                                                    style: {
                                                        fontSize: '13px',
                                                        fontFamily: 'Verdana, sans-serif'
                                                    }
                                                }
                                            },
                                            yAxis: {
                                                min: 0,
                                                title: {
                                                    text: '{{=T("Students")}}'
                                                }
                                            },
                                            legend: {
                                                enabled: false
                                            },
                                            tooltip: {
                                                pointFormat: '{{=T("Students")}}: <b>{point.y:.1f}</b>',
                                            },
                                            series: [{
                                                name: '{{=T("Students")}}',
                                                data: [{{=metric.aprobados}},
                                                       {{=metric.reprobados}}],
                                                dataLabels: {
                                                    enabled: true,
                                                    rotation: -90,
                                                    color: '#FFFFFF',
                                                    align: 'right',
                                                    x: 4,
                                                    y: 10,
                                                    style: {
                                                        fontSize: '13px',
                                                        fontFamily: 'Verdana, sans-serif',
                                                        textShadow: '0 0 3px black'
                                                    }
                                                }
                                            }]
                                        });
                                        });
                                </script>
                              {{pass}}
                          </div>
                      </div>
                  </div>
            </div>
          {{pass}}
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          <span class="icon-user"></span>
          <strong>{{=T('Desertion logs')}}</strong>
          <span class="right">
            <span><strong>{{=T('Total desertion logs')}}:</strong> {{=len(desertions)}}</span>
          </span>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <div style="container">
          {{for desertion in desertions:}}
          <!-- Desertion edit Helper-->
            {{inc_vars = dict(id = 'desertion-edit-activity-' + str(desertion.id),
                url = URL('desertions/update', vars=dict(desertion = desertion.id)),
                desertion_started = desertion.started,
                desertion_gone = desertion.gone,
                desertion_continued = desertion.continued) }}
            {{include 'include/log-desertion-activity.html'}}
            <!-- //Desertion edit Helper-->
            <!-- Metric delete Helper-->
            {{inc_vars = dict(id = 'delete-desertion-' + str(desertion.id),
                url = URL('desertions/delete', vars=dict(desertion = desertion.id)))}}
            {{include 'include/delete-helper.html'}}
            <!-- //Metric delete Helper-->

            <div class="row-fluid">
                  <div class="well span12">
                      <div class="span12">
                          <strong>{{=T('Created')}}:</strong> {{=desertion.created}}
                          <div class="pull-right">
                              <div class="btn-group">
                                  <a href="#desertion-edit-activity-{{=desertion.id}}" data-toggle="modal" class="btn">
                                      <span class="icon-edit"></span>
                                  </a>
                                  <a href="#delete-desertion-{{=desertion.id}}" data-toggle="modal" class="btn btn-danger">
                                      <span class="icon-remove icon-white"></span>
                                  </a>
                                </div>
                          </div>
                      </div>
                      <div class="span11">
                        <div class="span8">
                          <table class="table table-striped table-bordered">
                              <thead>
                                <tr>
                                  <td>
                                    <strong>{{=T('Metric')}}</strong>
                                  </td>
                                  <td>
                                    <strong>{{=T('Value')}}</strong>
                                  </td>
                                </tr>
                              </thead>
                            <tbody>
                            <tr>
                              <td><strong>{{=T('Started')}}</strong> </td> <td>{{=desertion.started}}</td></tr>
                              <tr><td><strong>{{=T('Gone')}}</strong> </td> <td>{{=desertion.gone}}</td></tr>
                              <tr><td><strong>{{=T('Continued')}}</strong></td> <td> {{=desertion.continued}}</td></tr>
                            </tr>
                            </tbody>
                            </table>
                          </ul>
                        </div>
                      </div>
                  </div>
            </div>
          {{pass}}
        </div>
      </div>
    </div>
  </div>
</div>
{{if not(report.footer is None):}}
<!-- report-footer-edit-activity -->
{{inc_vars = dict(id = 'report-footer-edit',
url = URL('report_footer/update', vars=dict(report = report.id)),
title = T('Report Footer'),
content = report.footer) }}
{{include 'include/report-header.html'}}
<!-- Helpers for deletion -->
{{inc_vars = dict(id = 'report-footer-delete',
url = URL('report_footer/delete', vars=dict(report = report.id)))}}
{{include 'include/delete-helper.html'}}
<!-- // Helpers for deletion -->
<div class="row-fluid">
    <div class="span12">
        <div class="span12">
            <div class="pull-right">
                <div class="btn-group">
                    <a href="#report-footer-edit"
                       data-toggle="modal"
                       class="btn">
                        <span class="icon-edit"></span>
                    </a>
                    <a href="#report-footer-delete"
                       data-toggle="modal"
                       class="btn btn-danger">
                        <span class="icon-remove icon-white"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="span12">
            {{=MARKMIN(report.footer, markmin_settings)}}
        </div>
    </div>
</div>
{{pass}}
</div>
<!-- Enable Markmin in textarea -->
<script>
jQuery(document).ready(function() {
  jQuery('textarea').css('width','500px').css('height','200px').markItUp(mySettings);
});
</script>
<!-- //Enable Markmin in textarea -->
