{{extend 'template.html'}}
<!-- Additional Scripts for MARKMIN -->
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="{{=URL('static','markitup')}}/sets/markmin/set.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/highcharts.js"></script>
<script type="text/javascript" src="{{=URL('static','js')}}/highcharts/js/modules/exporting.js"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/skins/markitup/style.css"/>
<link rel="stylesheet" type="text/css" href="{{=URL('static','markitup')}}/sets/markmin/style.css"/>
<!-- //Additional Scripts for MARKMIN -->
<div class="row-fluid">
  <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">
            {{=T('View Report:')}}
            <small>{{=report.report_restriction['name']}}</small>
        </a>
        <ul class="nav pull-right">
        </ul>
      </div>
  </div>
</div>
<div class="">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <strong>
              <span class="icon-tasks"></span>
              {{=T('Activities Log')}}
          </strong>
          <span class="right">
              <span><strong>{{=T('Total Anomalies')}}:</strong> {{=anomalies}} </span> |
              <span><strong>{{=T('Total Registered Activities')}}:</strong> {{=len(logs)}} </span>
          </span>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
          <div style="container">
              {{for log in logs:}}
              <div class="row-fluid">
                  <div class="well span12">
                      <div class="span12">
                          {{if log.log_type['name'] == 'Anomaly':}}
                          <div class="alert">
                              <strong><span class="icon-warning-sign"></span>
                                  {{=T('Anomaly')}}
                              </strong>
                          </div>
                          {{pass}}
                          <strong>Log type:</strong> {{=T(log.log_type['name'])}}
                          <strong>Date:</strong> {{=log.entry_date}}
                      </div>
                      <div class="span11">
                          {{=MARKMIN(log.description, markmin_settings)}}
                      </div>
                  </div>
              </div>
              {{pass}}
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <span class="icon-adjust"></span>
          <strong>{{=T('Activities Log with metrics')}}</strong>
          <span class="right">
            <span><strong>{{=T('Total activity logs with metrics')}}:</strong> {{=len(metrics)}}</span>
          </span>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        {{for metric in metrics:}}
          <div class="row-fluid">
                  <div class="well span12">
                    
                      <div class="span12">
                          <strong>{{=T('Date')}}:</strong> {{=metric.created}}
                      </div>
                      <div class="span12">
                          <h2 class="center">{{=metric.metrics_type.name}}</h2>
                        <div class="span6">
                          <table class="table table-striped table-bordered">
                              <thead>
                                <tr>
                                  <td>
                                    <strong>{{=T('Metric')}}</strong>
                                  </td>
                                  <td>
                                    <strong>{{=T('Value')}}</strong>
                                  </td>
                                </tr>
                              </thead>                              
                            <tbody>
                            <tr>
                              <td><strong>{{=T('Media')}}</strong> </td> <td>{{=metric.media}}</td></tr>
                              <tr><td><strong>{{=T('Error')}}</strong> </td> <td>{{=metric.error}}</td></tr>
                              <tr><td><strong>{{=T('Mediana')}}</strong></td> <td> {{=metric.mediana}}</td></tr>
                              <tr><td><strong>{{=T('Moda')}}</strong> </td> <td>{{=metric.moda}}</td></tr>
                              <tr><td><strong>{{=T('Desviacion')}}</strong></td> <td> {{=metric.desviacion}}</td></tr>
                              <tr><td><strong>{{=T('Varianza')}}</strong></td> <td> {{=metric.varianza}}</td></tr>
                              <tr><td><strong>{{=T('Curtosis')}}</strong></td> <td> {{=metric.curtosis}}</td></tr>
                              <tr><td><strong>{{=T('Coeficiente')}}</strong></td> <td> {{=metric.coeficiente}}</td></tr>
                              <tr><td><strong>{{=T('Rango')}}</strong> </td> <td>{{=metric.rango}}</td></tr>
                              <tr><td><strong>{{=T('Minimo')}}</strong> </td> <td>{{=metric.minimo}}</td></tr>
                              <tr><td><strong>{{=T('Maximo')}}</strong> </td> <td>{{=metric.maximo}}</td></tr>
                              <tr><td><strong>{{=T('Total')}}</strong> </td> <td>{{=metric.total}}</td></tr>
                              <tr><td><strong>{{=T('Reprobados')}}</strong></td> <td> {{=metric.reprobados}}</td></tr>
                              <tr><td><strong>{{=T('Aprobados')}}</strong></td> <td> {{=metric.aprobados}}</td>
                            </tr>
                            </tbody>
                            </table>
                        </div>
                          <div class="span5 center">
                              <div>
                                  <h3>
                                      {{=T('Aproved vrs. Failed Students')}}
                                  </h3>
                                  <div style="width:100%; height:300px;"
                                          width=100% height=300px id="graphpie{{=metric.id}}"></div>
                              </div>
                              <div>
                                  <div style="width:100%; height:300px;"
                                          width=100% height=300px id="graphbars{{=metric.id}}"></div>
                              </div>
                              {{if metric.total > 0:}}
                                  <script type="text/javascript">
                                        $(function () {
                                            $('#graphpie{{=metric.id}}').highcharts({
                                                chart: {
                                                    plotBackgroundColor: null,
                                                    plotBorderWidth: null,
                                                    plotShadow: false
                                                },
                                                title: {
                                                    text: '{{=T("Aproved vrs. Failed Students")}}'
                                                },
                                                tooltip: {
                                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                                },
                                                plotOptions: {
                                                    pie: {
                                                        allowPointSelect: true,
                                                        cursor: 'pointer',
                                                        dataLabels: {
                                                            enabled: true,
                                                            color: '#000000',
                                                            connectorColor: '#000000',
                                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    type: 'pie',
                                                    name: '{{=T("Aproved vrs. Failed Students")}}',
                                                    data: [
                                                        ['{{=T("Aproved")}}',   {{=100.0*metric.aprobados/metric.total}}],
                                                        ['{{=T("Failed")}}',   {{=100.0*metric.reprobados/metric.total}}]
                                                    ]
                                                }]
                                            });
                                            $('#graphbars{{=metric.id}}').highcharts({
                                            chart: {
                                                type: 'column',
                                                margin: [ 50, 50, 100, 80]
                                            },
                                            title: {
                                                text: '{{=T("Aproved vrs. Failed Students")}}'
                                            },
                                            xAxis: {
                                                categories: [
                                                    '{{=T("Aproved")}}',
                                                    '{{=T("Failed")}}'
                                                ],
                                                labels: {
                                                    rotation: -45,
                                                    align: 'right',
                                                    style: {
                                                        fontSize: '13px',
                                                        fontFamily: 'Verdana, sans-serif'
                                                    }
                                                }
                                            },
                                            yAxis: {
                                                min: 0,
                                                title: {
                                                    text: '{{=T("Students")}}'
                                                }
                                            },
                                            legend: {
                                                enabled: false
                                            },
                                            tooltip: {
                                                pointFormat: '{{=T("Students")}}: <b>{point.y:.1f}</b>',
                                            },
                                            series: [{
                                                name: '{{=T("Students")}}',
                                                data: [{{=metric.aprobados}},
                                                       {{=metric.reprobados}}],
                                                dataLabels: {
                                                    enabled: true,
                                                    rotation: -90,
                                                    color: '#FFFFFF',
                                                    align: 'right',
                                                    x: 4,
                                                    y: 10,
                                                    style: {
                                                        fontSize: '13px',
                                                        fontFamily: 'Verdana, sans-serif',
                                                        textShadow: '0 0 3px black'
                                                    }
                                                }
                                            }]
                                        });
                                        });
                                </script>
                              {{pass}}
                              <script type="text/javascript">
                                $(function () {
                                        
                                    });
                            </script>
                          </div>
                      </div>
                  </div>
            </div>
        {{pass}}
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
           <span class="icon-user"></span>
          <strong>{{=T('Desertion logs')}}</strong>
          <span class="right">
            <span><strong>{{=T('Total desertion logs')}}:</strong> {{=len(desertions)}}</span>
          </span>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div style="container">
          {{for desertion in desertions:}}
            <div class="row-fluid">
                  <div class="well span12">
                      <div class="span12">
                          <strong>{{=T('Created')}}:</strong> {{=desertion.created}}
                      </div>
                      <div class="span11">
                        <div class="span8">
                          <table class="table table-striped table-bordered">
                              <thead>
                                <tr>
                                  <td>
                                    <strong>{{=T('Metric')}}</strong>
                                  </td>
                                  <td>
                                    <strong>{{=T('Value')}}</strong>
                                  </td>
                                </tr>
                              </thead>                              
                            <tbody>
                            <tr>
                              <td><strong>{{=T('Started')}}</strong> </td> <td>{{=desertion.started}}</td></tr>
                              <tr><td><strong>{{=T('Gone')}}</strong> </td> <td>{{=desertion.gone}}</td></tr>
                              <tr><td><strong>{{=T('Continued')}}</strong></td> <td> {{=desertion.continued}}</td></tr>
                            </tr>
                            </tbody>
                            </table>
                          </ul>
                        </div>
                      </div>
                  </div>
            </div>
          {{pass}}
        </div>
    </div>
  </div>

</div>

</div>
