{{extend 'template.html'}}
<div class="row-fluid">
    <div class="well span12">
        <a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
        <h1>{{=T('Auditoria de Avisos Catedratico')}}</h1>
        <table class="table-striped table-bordered" style="align:0 auto;">
        <tr>
          <td>
          <form class="form-inline" 
          action="{{=URL('audit','audit_teacher_mail_notifications_courses_list')}}" method='get'>
            <input type="hidden" name="area" value="{{=area}}">
                 <select name="period">
                    {{for period in periods:}}
                      <option value="{{=period.id}}">
                      {{=T(period.period.name)}}-{{=period.yearp}}
                      </option>
                    {{pass}}
                </select>
                <input class="btn" type="submit" value="{{=T('Filter')}}">
          </form>
          </td>
        </tr>
        </table>
        {{for project in projects:}}
			<table class="table table-striped table-bordered">
				<thead>
					<tr class="info">
						<th colspan="4">{{=project.name}}</th>
					</tr>
					<tr class="info">
						<th>Usuario</th><th>Nombre</th><th>Total Avisos</th><th>Detalle</th>
					</tr>
				</thead>
				<tbody>
					<!--Final Practice Student-->
						{{a=0}}
							{{for teacher in current_teacher(project.id):}}
							{{a=a+1}}
								<tr>
									<th colspan="1"><small>Usuario:&nbsp;&nbsp;{{=teacher.user_project.assigned_user.username}}</small></th>
									<th colspan="1"><small>Nombre:&nbsp;&nbsp;{{=teacher.user_project.assigned_user.first_name}}&nbsp;&nbsp;{{=teacher.user_project.assigned_user.last_name}}</small></th>
										{{tnotices=total_notices(teacher.user_project)}}
										{{if tnotices == 0:}}
											<th colspan="1"><small>0</small></th>
											<th colspan="1"><small>Sin registros</small></th>
										{{else:}}
											<th colspan="1"><small>{{=tnotices}}</small></th>
											<th colspan="1">
												<a class="btn" href="{{=URL('audit','audit_register_mail_notifications', vars=dict(user=teacher.user_project.id, period=periodA.id))}}">
													<i class="icon-eye-open"></i> {{=T('Detail')}}</a>
											</th>
										{{pass}}
								</tr>
							{{pass}}
							{{if a==0:}}
								<tr>
									<th colspan="1"><small>Usuario:&nbsp;&nbsp;{{=T('Pending')}}</small></th>
									<th colspan="1"><small>Nombre:{{=T('Pending')}}</small></th>
									<th colspan="1"><small>0</small></th>
											<th colspan="1"><small>Sin registros</small></th>
								</tr>
							{{pass}}
						<br>
				</tbody>
			</table>
        {{pass}}
    </div>
</div>