{{extend 'template.html'}}
<div class="row-fluid">
    <div class="well span12"  style="overflow:auto;">
        <a onclick="window.history.back()" class="btn" ><i class="icon-arrow-left"></i>{{=T('Back')}}</a>
        <table class="table-striped table-bordered" style="align:0 auto;">
        </table>
        <div style="white-space:normal;">
            {{for a in subject:}}
                <b>{{=T('Subject')}}</b> : {{=a.subject}}<br>
                <b>{{=T('Message')}}:</b>{{=a.sent_message}}<br>
            {{pass}}
        </div>
        <table class="table table-striped table-bordered">
        <tbody>
            <td>
                    <div>
                        {{=grid}}
                    </div>
            </td>
        </tbody>
        </table>
    </div>
</div>