{{extend 'template.html'}}

<h2>
    {{=T('Academic per Course')}}
    <a href="#myModal" role="button" class="btn btn-primary"
data-toggle="modal">
        <span class="icon-white icon-question-sign"></span>
    </a>
<br>
   <small>{{=name}}</small>
</h2>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">

  <!--Inicia el boton de ayuda y el contenido de la ayuda-->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
aria-hidden="true">×</button>
      <h3 id="myModalLabel">
          <span class="icon-question-sign"></span>
          {{=T('Help Academic Upload')}}
      </h3>
  </div>
  <div class="modal-body">
    <div class="well">
        <p>
            {{=T('This list represents the assignment of students to each project. You can assign any student or remove the assignment here, provided that the student does not have any notes recorded.')}}
        </p>
        <p>
            {{=T('If for example you want to assign a student with the license 200000000 in the desired project, first the user must exist in the general list of students. This area should be assigned automatically to the desired project and may participate in course activities.')}}
        </p>
        <p>
            {{=T('Loads automatically record the student in the general list and assigned to the project where the charge was made.')}}
        </p>
    </div>
  </div>
  <!--Termina el boton de ayuda y su contenido-->

  <div class="modal-footer">
      <button class="btn" data-dismiss="modal"
aria-hidden="true">{{=T('Close')}}</button>
  </div>
</div>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <!--Inicia la creacion de la tab de otro periodo-->
      <li><a href="#setuptab" data-toggle="tab">{{=T('Other Periods')}}</a></li>
    {{for item in periods_before:}}
      <li><a href="{{=URL(vars=dict(year_period=item.id, assignation = assignation))}}">
          {{if item.period == cpfecys.first_period.id:}}
          {{=str(item.yearp) + ' - ' + T(cpfecys.first_period_name)}}
          {{else:}}
          {{=str(item.yearp) + ' - ' + T(cpfecys.second_period_name)}}
          {{pass}}
      </a></li>
    {{pass}}
    <!--La tab de otro periodo-->


    <!--Inicia la creacion de la tab del periodo actual-->
      <li class="active"><a href="#data{{=currentyear_period.id}}"
data-toggle="tab">
	<!--El nombre de la tab que tiene Ejemplo: 2014 - Segundo Semestre-->
          {{=str(currentyear_period.yearp) + ' - ' + current_period_name
}}
      </a></li>
    {{for item in periods_after:}}
      <li><a href="{{=URL(vars=dict(year_period=item.id, assignation = assignation))}}">
          {{if item.period == cpfecys.first_period.id:}}
          {{=str(item.yearp) + ' - ' + T(cpfecys.first_period.name)}}
          {{else:}}
          {{=str(item.yearp) + ' - ' + T(cpfecys.second_period.name)}}
          {{pass}}
      </a></li>
    {{pass}}
    <!--La tab del periodo actual-->

      <li><a href="{{=URL('academic_assignation_upload', vars=dict(assignation=assignation))}}">
          {{=T('Upload Acadmics')}}
      </a></li>
  </ul>
  <div class="tab-content">
      <div class="tab-pane" id="setuptab">
          <form>
              <select name="year_period">
                  {{for item in other_periods:}}
                  {{if item.period == cpfecys.first_period.id:}}
                  <option value="{{=item.id}}">
                  {{=str(item.yearp) + ' - ' + T(cpfecys.first_period.name) }}
                  </option>
                  {{else:}} 
                  <option value="{{=item.id}}">
                  {{=str(item.yearp) + ' - ' + T(cpfecys.second_period.name) }}
                  </option>
                  {{pass}}
                  {{pass}}
              </select>
              <input type="submit" value="{{=T('go')}}" >
          </form>
      </div>
      <div class="tab-pane active" id="data{{=currentyear_period.id}}">
        <script>
          $(document).ready(function(){
            $("#w2p_keywords").prop("type", "hidden");
            var input1Str = '<input type="text" id="search_var" name="search_var">';
            $(input1Str).insertAfter("#w2p_keywords");
          }); 
        </script>
        <a class="btn btn-info" href="{{=URL('student_academic','academic')}}">{{=T('General List of Academic')}}</a>
        <a class="btn btn-success" href="{{=URL(vars=dict(listado='True'))}}">{{=T('Create Assistance List')}}</a>
        <a class="btn btn-warning" href="{{=(URL('student_academic','attendance_list',vars=dict(list='true',project=check.project,period=currentyear_period.id)))}}">{{=T('Create profiles for academic')}}</a>
          {{=grid}}
      </div>
  </div>
  <div id="attachModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" > 
    <div id ="a" class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
            <span class="icon-upload"></span>
            {{=T('Edit academic information')}}
        </h3>
    </div>
    <div id="actions">
      <form action="" enctype="multipart/form-data" method="post" >
        <div align="center">
          <table >
            <tr>
              <td align="left">
                <input name="_formname" type="hidden" value="update_form">
                <input name="assignation_id" type="hidden" id="assignation_id">
                <input name="academic_carnet" type="hidden" id="academic_carnet">
                <input name="laboratory_before" type="hidden" id="laboratory_before">

                <label><b>{{=T('Carnet')}}:</label>
              </td>
              <td>
                <label id="lcarnet"></label>
              </td>
            </tr>
            <tr>
              <td>
                <label><b>{{=T('Email')}}:</b></label>
              </td>
              <td>
                <label id="lemail"></label>
              </td>
            </tr>
            <tr>
              <td>
                <label><b>{{=T('Laboratory')}}:</b></label>
              </td>
              <td>
                <input type="checkbox" name="laboratory_check" id="laboratory_check"></label>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <br>
                <label>{{=T('Delete')}}&nbsp &nbsp<input type="checkbox" name="delete_check" onclick="delete_checked(this)" id="delete_check"></label>              
              </td>
          </tr>
          <tr >
            <td colspan="2">
            <div align="right"> 
              <input type="submit" class="btn btn-primary" value="{{=T('Edit')}}" id="button_action">
              <button class="btn" data-dismiss="modal" aria-hidden="true">{{=T('Close')}}</button>
            </div>
            </td>
          </tr>
        </table>
      </div>
    </form>
    </div>
  </div>
</div>
</hr>
{{if request.is_local:}}
{{=response.toolbar()}}
{{pass}}
<script type="text/javascript">
  $(document).ready(function(){   

  })
  function set_values(id,carnet,email,laboratory){   
      document.getElementById('lcarnet').innerHTML = carnet;   
      document.getElementById('lemail').innerHTML = email;   
      document.getElementById('assignation_id').value = id;
      document.getElementById('academic_carnet').value = carnet;
      document.getElementById('laboratory_before').value = laboratory;
      
      if (laboratory=='True'){
        $("#laboratory_check").attr("checked", true);
      }else{
        $("#laboratory_check").attr("checked", false);
      }
      
  }
  function delete_checked(object) {
      if(object.checked == true){   
        document.getElementById('button_action').value = "{{=T('Delete')}}";
        document.getElementById('button_action').className  = "btn btn-danger";
      }else{    
        document.getElementById('button_action').value = "{{=T('Edit')}}";
        document.getElementById('button_action').className  = "btn btn-primary";
    }
  }
  function set_photo(var_id){

    if(var_id != "None"){
      $("#img_div").show(1000);
      $("#img_div").load("{{=URL('student_academic','photo.load')}}?id_user="+var_id);
    }else{
      $("#img_div").hide();
    }
    
  }
</script>

<!-- PIC MODAL -->
<div id="picModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height:75%; width:30%; left:55%; overflow:auto;"> 
    <div id ="a" class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
            <span class="icon-picture"></span>
            {{=T('View photo')}}
        </h3>
    </div>    
    <div align="center" id="img_div">          
    </div>
</div>
<!-- PIC MODAL -->
{{if session.assignation_error is not None:}}
<div id="error_modal" class="modal">
  <div class="modal-header">
    <button type="button" class="close"  onclick="close_errors()">×</button>
      <h3 id="myModalLabel">
          {{=T('Errors')}}
      </h3>
  </div>
  <div class="modal-body">
    <div class="well">
        {{=T('The following users are not assigned to the academic year, so they were removed from the system:')}}:
        <div id ="errors_div">
          <table class="table table-striped table-bordered" >
            {{for var_error in session.assignation_error:}}
            <tr>
              <td>
                {{=var_error}}
              </td>
            </tr>
            {{pass}}
          </table>

        </div>
    </div>
  </div>
  <div class="modal-footer">
      <button onclick="close_errors()">{{=T('Close')}}</button>
  </div>
</div>
<script type="text/javascript">
  function close_errors(){
      $("#error_modal").css("display", "none");
  }
</script>
{{session.assignation_error=None}}
{{pass}}
