{{extend 'template.html'}}
<h1>{{=T('Academic per Course')}}</h1>
<table class="table table-striped table-bordered">
	<thead>
		<th>{{=T('Project')}}</th>
		<th>{{=T('Section')}}</th>
		<th><center>{{=T('View')}}</center></th>
	</thead>
	<tbody>
		{{for assignation in assignations:}}
		<tr>
			<td>{{=split_name(assignation.project.name)}}</td>
			<td>{{=split_section(assignation.project.name)}}</td>
			<td>
				<center>
					<a class="btn" href="{{=URL('student_academic', 'academic_assignation', vars=dict(assignation = assignation.id))}}">
						{{=T('List of Students')}}
					</a>
				</center>
			</td>
		</tr>
		{{pass}}
	</tbody>
</table>