{{extend 'template.html'}}
<h1>{{=T('Asignar Estudiantes')}}</h1>
<table class="table table-striped table-bordered">
	<thead>
		<th>{{=T('Project')}}</th>
		<th>{{=T('Section')}}</th>
		<th>{{=T('View')}}</th>
	</thead>
	<tbody>
		{{for assignation in assignations:}}
		<tr>
			<td>{{=split_name(assignation.project.name)}}</td>
			<td>{{=split_section(assignation.project.name)}}</td>
			<td><a class="btn" href="{{=URL('student_academic', 'academic_assignation', vars=dict(assignation = assignation.id))}}">{{=T('Project')}}</a></td>
		</tr>
		{{pass}}
	</tbody>
</table>